[2016-03-01 13:58] lakruzz opened #1 "Get the Abolition font"

[2016-03-01 21:47] #1 closed

[2016-03-02 07:56] lakruzz opened #2 "code review on yesterdays work"

[2016-03-02 08:01] #2 closed

[2016-03-02 08:13] illus0r opened #3 "Add more files to conference"

[2016-03-02 08:41] lakruzz opened #4 "Exploring reading meta data fomr other files"

[2016-03-02 09:02] #3 closed

[2016-03-02 09:03] illus0r opened #5 "Make event data available from any event partitial"

[2016-03-02 09:36] #5 closed

[2016-03-02 09:46] illus0r opened #6 "Put some basic styling on"

[2016-03-02 10:05] #6 closed

[2016-03-02 10:06] illus0r opened #8 "Style typo with a bootstrap"
Use roboto and Jonathan's font

[2016-03-02 10:45] #8 closed

[2016-03-02 10:46] lakruzz opened #10 "Move jc's rips to an image folder"

[2016-03-02 10:49] illus0r opened #11 "Bring layouts to row-col bootstrap system"

[2016-03-02 11:01] #10 closed

[2016-03-02 12:09] #11 closed

[2016-03-02 12:12] illus0r opened #13 "Prepare the event html structure"

[2016-03-02 14:03] #4 closed

[2016-03-02 14:09] #13 closed

[2016-03-02 15:01] illus0r opened #15 "Put all the event into a single file"

[2016-03-02 15:04] #15 closed

[2016-03-02 15:05] illus0r opened #17 "Make simple structure and elementary styling for event header"

[2016-03-02 16:26] #17 closed

[2016-03-02 16:35] illus0r opened #18 "style date-location"

[2016-03-02 18:01] #18 closed

[2016-03-02 18:25] lakruzz opened #19 "Ticket widget layout"

[2016-03-02 18:29] #19 closed

[2016-03-02 18:56] illus0r opened #21 "Style a menu"

[2016-03-02 19:12] illus0r opened #22 "style speakers"

[2016-03-02 19:12] #21 closed

[2016-03-02 19:25] lakruzz opened #23 "Fix build error"

[2016-03-02 19:26] lakruzz commented on #23
Build error on GitHub caused by 0d54b20471663874f49be0f2cf9f822e08f16061

[2016-03-02 19:27] lakruzz commented on #23
Reproducing error:

`docker run --rm -t -v $(pwd):/home/jenkins/ praqma/gh-pages jekyll build -V`

[2016-03-02 19:28] #23 closed

[2016-03-02 22:15] lakruzz opened #24 "Add tickets to conf"

[2016-03-02 22:16] #24 closed

[2016-03-03 07:39] lakruzz opened #25 "Make the iframe adapt to content height dynamically"
The ticket include uses an iframe, with  a fixed size, but dependent on how many tickets are available for an even, the hight may differ:

![image](https://cloud.githubusercontent.com/assets/155492/14505098/f88cd1f8-01b7-11e6-927f-d43a3e884e87.png)

![image](https://cloud.githubusercontent.com/assets/155492/14505113/0f33e0d6-01b8-11e6-8e5a-3c6840f79f43.png)

Make it adjust atomatically

[2016-03-03 07:40] lakruzz commented on #25
http://stackoverflow.com/questions/9162933/make-iframe-height-dynamic-based-on-content-inside-jquery-javascript

[2016-03-03 07:41] lakruzz opened #26 "The rips in the frontpage image fails in Safari"

[2016-03-03 08:22] lakruzz commented on #26
The rip in the top should go away, The rip in the bottom should be white

[2016-03-03 08:39] illus0r opened #27 "Hummer out author info"

[2016-03-03 08:40] illus0r opened #28 "Polish speakers' styles"

[2016-03-03 08:42] illus0r opened #29 "Polish a top-nav"

[2016-03-03 08:42] illus0r opened #30 "Polish an event-header"

[2016-03-03 08:44] illus0r opened #31 "Output "continuous delivery and devops conference""

[2016-03-03 08:45] illus0r opened #32 "Polish date-location"

[2016-03-03 09:02] #31 closed

[2016-03-03 09:03] illus0r opened #33 "Style a subtitle "continuous delivery and devops conference""

[2016-03-03 09:36] #27 closed

[2016-03-03 10:04] illus0r opened #34 "Add for speakers h2 speaker icon"

[2016-03-03 10:07] illus0r opened #35 "On event-header section add a small power simbol near to conference name"

[2016-03-03 10:26] illus0r opened #36 "fix mobile sizing bug"

[2016-03-03 10:57] illus0r commented on #29
@jonnycoull I want to get an idea of how do menu items look like:
- [ ] hover
- [ ] active

Could you submit just a small part of a mockup showing these states?

[2016-03-03 10:59] illus0r opened #37 "Polish topnav"

[2016-03-03 11:01] #37 closed

[2016-03-03 11:11] #36 closed

[2016-03-03 13:37] #30 closed

[2016-03-03 13:44] illus0r opened #38 "Make yellow dot optional"

[2016-03-03 14:28] #28 closed

[2016-03-05 10:10] lakruzz opened #39 "Create css wrappers"

[2016-03-05 10:12] #39 closed

[2016-03-06 11:51] #26 closed

[2016-03-06 11:53] lakruzz opened #40 "rips are misbehaving"

[2016-03-06 11:53] lakruzz commented on #40
![image](https://cloud.githubusercontent.com/assets/155492/13553945/6d802a1e-e39a-11e5-9e3e-1d29a3f0d824.png)

[2016-03-06 12:02] #40 closed

[2016-03-06 12:26] lakruzz opened #41 "Update the gijeli slave"

[2016-03-06 12:33] #41 closed

[2016-03-06 13:09] lakruzz commented on #38
Closed with #26

[2016-03-06 13:09] #38 closed

[2016-03-06 13:10] lakruzz commented on #33
Closed with #26

[2016-03-06 13:10] #33 closed

[2016-03-06 16:41] #32 closed

[2016-03-06 17:29] lakruzz commented on #35
closed together with #26

[2016-03-06 17:29] #35 closed

[2016-03-06 17:30] lakruzz opened #42 "add rips to speaker section"

[2016-03-07 16:18] lakruzz commented on #22
@illus0r I'm working on #42 which is bound to touch on some of your changes as well - Do you have anything on a local branch that's not committed?

[2016-03-08 20:06] #42 closed

[2016-03-08 20:09] lakruzz opened #43 "speaker ruler"

[2016-03-08 20:09] lakruzz commented on #43
![image](https://cloud.githubusercontent.com/assets/155492/13614699/13a7fcb8-e572-11e5-8490-0059582f123e.png)

[2016-03-08 20:41] #43 closed

[2016-03-08 20:44] lakruzz opened #44 "speakers"

[2016-03-08 21:47] #44 closed

[2016-03-16 13:52] illus0r commented on #22
@lakruzz sure, everything's clean!

[2016-03-16 15:35] #22 closed

[2016-03-17 09:43] lakruzz opened #45 "Sponsor section"
![image](https://cloud.githubusercontent.com/assets/155492/13842160/092ff0da-ec2d-11e5-9b5c-df855a5154e6.png)

[2016-03-17 09:46] lakruzz opened #46 "Don't refererence global variables in includes"
![image](https://cloud.githubusercontent.com/assets/155492/13842242/6f6df086-ec2d-11e5-9980-7da2b75606e1.png)
...Still need to fix this in `event-main.html`

[2016-03-17 09:50] lakruzz opened #47 "Invert rips"
Invert the rips, so that we only need white or Black - never colored

![image](https://cloud.githubusercontent.com/assets/155492/13842361/01f34384-ec2e-11e5-9e62-3d419ddc9b75.png)

[2016-03-17 09:55] lakruzz opened #48 "Generic wrapper"
something like this:

![image](https://cloud.githubusercontent.com/assets/155492/13842499/c894c7ce-ec2e-11e5-8b10-0ba34615422a.png)

[2016-03-17 09:58] lakruzz opened #49 "Get the front page mock up from Jonathan"

[2016-03-17 10:08] lakruzz opened #50 "Mobile design"
We only support two sizes:

Small <380
and medium > 380

@illus0r will have to come up with some minimal functioning design for moblie.

It doesn't have to be brilliant at this stage - it just has to be _not ugly_

@illus0r Feel free to grab hold of @jonnycoull and discuss it with him!

[2016-03-17 10:11] lakruzz opened #51 "Complete the content"
We want to implement the data for Day of Containers in both Stockholm and Copenhagen

[2016-03-17 10:25] illus0r commented on #50
I'll try to do it in 4 hours and then show the resut. It can turn out 4 hours are enough for good enough.

[2016-03-17 10:29] illus0r commented on #48
@lakruzz
We are not going to "take it out from the brackets", right? Just make it the same across every include.

[2016-03-17 10:32] illus0r commented on #45
@lakruzz We can reuse sponsors like we do with speakers. What do you think about? How often they are reused?

[2016-03-17 10:34] illus0r commented on #29
@lakruzz
We didn't decide yet if we use the social buttons in the *topnav* or not. I also need a **hover** and **active** states for a mockup.

[2016-03-17 11:26] illus0r commented on #29
We need to links on it at all (for the Easter MVP) right?

[2016-03-17 12:43] lakruzz commented on #51
I Have asked @adamhenriques to give us the data we need for

- [ ] CoDe CPH
- [ ] CoDe STHLM
- [ ] Day of Containers CPH
- [ ] Day of Containers STHLM

He'll probably deliver it as for google docs - inking them onto this case -

@adamhenriques, when you  are done - please assign the case back to me.

[2016-03-17 12:48] lakruzz commented on #49
@meekrosoft or @jonnycoull

Is the front page mock up ready, and just waiting to be uploaded here? If that's the case then I believe that you both have access to it and can do that - right?

If it's not finished yet, then this is probably the highest priority for @jonnycoull to start working on.

[2016-03-17 13:13] illus0r commented on #47
Reorganized a code and changed  a rip.

[2016-03-17 13:14] #47 closed

[2016-03-17 14:04] lakruzz opened #52 "Add a sample event with only keynote speakers"
The purpose it to test that the `speaker.html` include is truly data-driven It relates to #53 too

[2016-03-17 14:06] lakruzz opened #53 "Add a sample event with no keynote speakers"
Only ordinary speakers

[2016-03-17 14:11] lakruzz commented on #29
@illus0r
I think you are right, @mike or I might do a short "About Code-Conf"  page, but let's see.

[2016-03-17 14:16] #46 closed

[2016-03-17 14:55] #48 closed

[2016-03-17 15:00] illus0r commented on #48
I didn't find a way **equal wrappers for all includes** can be useful. I took some classes into include variables, and made couple of fixes, but no more.

[2016-03-17 15:19] lakruzz commented on #48
@illus0r
OK!
Not sure I understand, based on your comment, what happened, but your commit looks healthy enough - I just skim read it!

Keep it up! :+1:

[2016-03-17 15:23] lakruzz opened #54 "Content for the about page"
We probably need this in our MVP

http://new.code-conf.com/about/

@lkruzz or @meekrosoft  should come up with some content and @jonnycoull should come up with a lay out

[2016-03-17 15:24] lakruzz opened #55 "Lay-Out for the ABOUT page"
Related to (follows) #54

[2016-03-17 15:26] lakruzz opened #56 "Implement the ABOUT page"
Follows #54 and #55

[2016-03-17 15:27] lakruzz opened #57 "Implement the Front page"
Follows #49

[2016-03-17 22:12] lakruzz commented on #45
Yes, they are often the same
On 17 Mar 2016 11:32, "illus0r" <notifications@github.com> wrote:

[2016-03-18 09:48] illus0r commented on #56
I'll estimate after seeing the mockup ;)

[2016-03-18 10:04] illus0r opened #58 "Make a footer"
![image](https://cloud.githubusercontent.com/assets/797993/13874597/051f4936-ed0a-11e5-8b4b-c933fc300641.png)

[2016-03-18 11:20] #45 closed

[2016-03-18 13:52] illus0r opened #59 "Mobile eventbrite"
spin off from #50

I've used an eventbrite button on mobile because table is too big. Will this option work for us? It may require some extra settings on your side, [code of the button](https://github.com/Praqma/code-conf.com/blob/gh-pages/_includes/eventbrite-ticket-form.html) probably should be fixed.

![image](https://cloud.githubusercontent.com/assets/797993/13879626/76a8fab0-ed29-11e5-9092-43

[2016-03-18 14:00] lakruzz commented on #59
Yes - it's exactly what I had in mind :-) :+1:

[2016-03-18 14:03] adamhenriques commented on #51
@lakruzz for the two DOC's;

Copenhagen; https://docs.google.com/a/praqma.net/document/d/1APMfQiAmy1vNHXh36UE2xJ5EAirfCJF6_ragKy-2-6E/edit?usp=sharing

Stockholm; https://docs.google.com/a/praqma.net/document/d/1Q4slakcOWS-xBC2TA8Qvv2jQi_Rs7cXvit_JE9KBKgU/edit?usp=sharing

[2016-03-18 14:13] #50 closed

[2016-03-18 15:23] adamhenriques commented on #51
For CoDeCPH16

https://docs.google.com/a/praqma.net/document/d/1kWniusaiD3ewLQkVvbtHCjo9aQctNGgQPpYjhycI6uM/edit?usp=sharing

[2016-03-19 11:06] lakruzz opened #60 "Enable more flexible brand txt"

[2016-03-19 11:07] #60 closed

[2016-03-19 15:18] lakruzz opened #61 "Add content for CoDe STHLM"
Closed #51 without CoDe STHLM, moved it to it's own isseu

[2016-03-19 15:32] lakruzz opened #62 "Style speakers"
![image](https://cloud.githubusercontent.com/assets/155492/13899489/fe81b3de-edef-11e5-8bc5-4b2ccdc4e967.png)

Make it look like Bok's mock-up:

![image](https://cloud.githubusercontent.com/assets/155492/13899499/3254afcc-edf0-11e5-8386-82f4d9f4d6e8.png)

[2016-03-19 15:35] lakruzz opened #63 "Abstract should be available for all speakers"
Currently we're only showing the abstract of the speaks for the keynote speakers.

The abstract should also be available for ordinary speakers - hover? pop-up?

...Any ideas anyone?

@jonnycoull @meekrosoft @illus0r

[2016-03-21 09:34] illus0r commented on #62
@lakruzz wow :) Fix my checklist before I estimate.

I'll work with http://new.code-conf.com/doc-cph-2016/

- [ ] add speaker icon to header
- [ ] make speaker names and social text in color
- [ ] fix font sizes and families
- [ ] move elements to be close to a mockup while it doesn't break the grid

[2016-03-21 11:15] #34 closed

[2016-03-21 13:32] adamhenriques opened #64 "Add Ed Thomson to Code Conf"

[2016-03-21 13:44] illus0r commented on #62
@lakruzz
I'd use more readable font for abstracts. What do you think about?
![image](https://cloud.githubusercontent.com/assets/797993/13920452/26861c4a-ef84-11e5-869f-b16f4bd2b9ba.png)

[2016-03-21 14:01] illus0r commented on #62
@lakruzz I tried not to fight against the grid too much, so the screen differs from original mockup. If you wanna bring it closer to a mockup, give me some directions, what to fix.

![image](https://cloud.githubusercontent.com/assets/797993/13920933/883f4478-ef86-11e5-99cd-2eba41a60220.png)

![image](https://cloud.githubusercontent.com/assets/797993/13920891/41a3b36e-ef86-11e5-8c95-bc9fea58ddcd.pn

[2016-03-21 14:10] #64 closed

[2016-03-21 14:19] adamhenriques opened #65 "This is a news issue created in just one go"

[2016-03-21 14:20] #65 closed

[2016-03-22 10:40] jonnycoull commented on #62
Hi Ivan, its nearly there. on the left hand side. it needs to line up. its about 5mm off to the right from the speaker down everything needs to be in a alignment coloumn. then that should bring in the right hand side. Does that make sense?

[2016-03-22 11:05] illus0r commented on #62
@jonnycoull
Hi! Did you mean alignment like this?

![image](https://cloud.githubusercontent.com/assets/797993/13949359/93460bd6-f035-11e5-803e-5fd678d37acb.png)

If yes, that's a good point. I'll need more time for that.

[2016-03-22 11:06] illus0r opened #66 "Set /doc-cph-2016/ a default page"

[2016-03-22 11:07] jonnycoull commented on #62
yep thats it Ivan, spot on. Also don't forget the white line between main speakers and sub speakers.

[2016-03-22 11:08] illus0r opened #67 "Remove `About` and `Conferences` from the menu"
We have no designs for them yet

[2016-03-22 11:09] illus0r opened #68 "Fix yellow dot mobile bug"
![image](https://cloud.githubusercontent.com/assets/797993/13949700/a093017a-f037-11e5-90eb-d33a3bfcdd14.png)

[2016-03-22 11:11] illus0r opened #69 "Remove violet lines from the `date, location, time` icons"
![image](https://cloud.githubusercontent.com/assets/797993/13949745/dc0d8ad6-f037-11e5-81a6-3993e3204f97.png)

[2016-03-22 11:12] illus0r commented on #69
these icons have transparent parts, filled by underlaying color. Now they have some violet rubbish

[2016-03-22 11:13] illus0r commented on #62
yep, sure!

[2016-03-22 11:37] jonnycoull commented on #69
Ill have to recreate these as plain negative items. and re-export

[2016-03-22 12:04] jonnycoull commented on #69
Hi Ivan, not sure they uploaded properly. now in IMAGES, with a no 2 at the end. these should work.

[2016-03-22 12:39] lakruzz opened #70 "About page content"

[2016-03-22 12:45] #58 closed

[2016-03-22 12:52] #70 closed

[2016-03-22 13:03] #66 closed

[2016-03-22 13:15] #67 closed

[2016-03-22 13:16] illus0r commented on #57
@lakruzz we decided to make the only page with a conference for first publishing. Should we move this issue into next milestone?

[2016-03-22 13:17] illus0r commented on #56
Can we close this for a while?

[2016-03-22 13:19] illus0r commented on #67
We've got a content for About, so I've unpublished `conferences` only

[2016-03-22 13:21] illus0r commented on #29
Hi, @jonnycoull! I still need these menu link states

[2016-03-22 13:22] illus0r commented on #29
I'm talking about the first comment

[2016-03-22 13:38] illus0r opened #71 "Add favicon"
size 152x152 (but good looking in 16x16)
filename should be **favicon.png**

[2016-03-22 13:45] jonnycoull commented on #69
Hi Ivan, I put the new files on git and slack did u see them?

[2016-03-23 09:34] lakruzz commented on #49
[CODECONF_JC_HOME.pdf](https://github.com/Praqma/code-conf.com/files/185685/CODECONF_JC_HOME.pdf)

This front page design is @jonnycoull take on a design that's _edited_ or _featured_ an designed to look good.  We might have more then 3 conferences but we will only shot the top selected three ones, we might have more than 6 meetups/ trainings, but we will only show the top 6 ones.

This is fine fo

[2016-03-23 09:36] lakruzz opened #72 "Plain listing of all events"
We need a plain vanilla (full - non-edited) listing - of all events:

Conferences:
Meetups:
Training:
Hackatones:

(spin off from #49)

[2016-03-23 10:03] #69 closed

[2016-03-23 11:01] lakruzz commented on #71
![image](https://cloud.githubusercontent.com/assets/155492/13983267/ed8f4d78-f0ee-11e5-9319-24bb5fd5de8b.png)

[2016-03-23 11:02] lakruzz commented on #71
http://www.favicon.cc/

[2016-03-23 11:03] lakruzz commented on #71
16x16 px

[2016-03-23 11:24] lakruzz opened #73 "Define colors for menu items"

[2016-03-23 11:26] #56 closed

[2016-03-23 11:27] #55 closed

[2016-03-23 11:29] lakruzz opened #74 "Define colrs codes fro events/locations"

[2016-03-23 11:30] #68 closed

[2016-03-23 11:37] lakruzz commented on #63
A speakers page!!!

[2016-03-23 11:42] #59 closed

[2016-03-23 11:43] #49 closed

[2016-03-23 11:47] illus0r commented on #57
- [ ] unpublish CoDe STHLM
- [ ] get event colors from @jonnycoull

[2016-03-23 12:25] lakruzz opened #75 "Style the meetup pages"
Bok had a preliminary lay-out for the meetup pages. We need to finish that.

[2016-03-23 12:36] jonnycoull commented on #74
CODE_STOCKHOLM - 660066
DOC _STOCKHOLM - 9d006e
CODE_COPENHAGEN - 006666
CODE_COPENHAGEN - 539184

[2016-03-23 12:38] jonnycoull commented on #73
IDLE - WHITE
OVER - 70% WHITE
ACTIVE - CODE CONF ORANGE

[2016-03-23 12:39] jonnycoull commented on #29
IDLE - WHITE
OVER - 70% WHITE
ACTIVE - CODE CONF ORANGE

[2016-03-23 12:40] illus0r commented on #57
CODE_STOCKHOLM - 660066
DOC _STOCKHOLM - 9d006e
CODE_COPENHAGEN - 006666
CODE_COPENHAGEN - 539184

[2016-03-23 12:47] lakruzz opened #76 "Add the Code Academy events"
- [ ] Trondheim
- [ ] Oslo
- [ ] Copenhagen

[2016-03-23 13:06] jonnycoull commented on #71
![favbig 1](https://cloud.githubusercontent.com/assets/17589853/13986031/05c591dc-f0f8-11e5-9fb8-e796db9582e9.png)
![favbig 2](https://cloud.githubusercontent.com/assets/17589853/13986030/05c532be-f0f8-11e5-91b5-0d7054775f7a.png)

![favsml 1](https://cloud.githubusercontent.com/assets/17589853/13986032/05c5ad02-f0f8-11e5-89be-5f1314420b67.png)
![favsml 2](https://cloud.githubusercontent.com/assets

[2016-03-23 13:07] jonnycoull commented on #71
I can't upload ICO to here.

[2016-03-23 13:27] jonnycoull commented on #71
![favicon](https://cloud.githubusercontent.com/assets/17589853/13986582/0c696c90-f0fb-11e5-9db8-3600a1e6fd96.png)

[2016-03-23 13:56] #71 closed

[2016-03-23 14:04] lakruzz commented on #71
http://stackoverflow.com/questions/2208933/how-do-i-force-a-favicon-refresh

[2016-03-23 15:20] #57 closed

[2016-03-23 15:48] lakruzz commented on #73
@illus0r

[2016-03-23 15:48] #73 closed

[2016-03-23 15:49] lakruzz commented on #74
@illus0r

[2016-03-23 15:49] #74 closed

[2016-03-24 10:56] illus0r opened #77 "Take the conference listing into include"
[Lars commented](https://github.com/Praqma/code-conf.com/commit/7b3364ba4104d7a4ea2af48a28ca7b1a425d23f6)

[2016-03-24 11:21] #29 closed

[2016-03-24 11:53] illus0r opened #78 "Refactoring"

[2016-03-24 13:55] #78 closed

[2016-03-29 08:02] monaslarsen opened #79 "Redirect link for Day of Containers"
http://www.code-conf.com/day-of-containers-cph16/
must be redirected to the new DoC site

[2016-03-29 08:56] lakruzz opened #80 "add redirect to adacemy2016"

[2016-03-29 09:05] #80 closed

[2016-03-29 11:49] #62 closed

[2016-03-29 12:24] illus0r commented on #77
- [x] take the conferences into an include
- [x] reoganize styles accordingly

I will make include accept parameters when we need it (in a separate task)

[2016-03-29 12:26] #77 closed

[2016-03-29 12:29] monaslarsen commented on #79
http://www.code-conf.com/day-of-containers-cph16/
to
https://www.eventbrite.co.uk/e/day-of-containers-copenhagen-2016-tickets-20856339874

and
http://www.code-conf.com/day-of-containers-sthlm16/
http://www.eventbrite.co.uk/e/day-of-containers-stockholm-2016-tickets-20692623193

[2016-03-29 12:29] illus0r commented on #79
How to access the code-conf.com repo?

[2016-03-29 12:36] monaslarsen commented on #79
Good question - what if you use https://github.com/CoDeConf/CoDeConf.github.io instead?

[2016-03-29 12:42] illus0r commented on #79
@monaslarsen `master` branch or which one?

[2016-03-29 12:43] monaslarsen commented on #79
I'm sorry, I'm not trained in that part yet :/
I guess we will need to talk to @lakruzz..?!

[2016-03-29 12:46] illus0r commented on #79
@monaslarsen wait, I'll try to understand

[2016-03-29 12:54] illus0r commented on #79
@monaslarsen
Please, use evenbrite's admin section to generate `html` widget for the widgets. They should look like

[code]

Links are now enough

[2016-03-29 12:55] monaslarsen commented on #79
I don't need new widgets - I need the link to redirect :)

[2016-03-29 12:59] illus0r commented on #79
@monaslarsen what do you mean by `redirect`? Send the user automatically to another page without a prompt? Or you want to provide a link to an eventbrite?

[2016-03-29 12:59] monaslarsen commented on #79
Send the user automatically to another page without a prompt! :dart:

[2016-03-29 13:06] illus0r commented on #79
@monaslarsen Yo :hushed: User will loose navigation at once. It will not understand, where did he jump. Big link is definitely better. What do you think about?

[2016-03-29 13:08] monaslarsen commented on #79
I have an even better idea: Can you just change the places where it says the date?
Old sites refer to March and April, but I need them to refer to the dates in August!

[2016-03-29 14:00] illus0r commented on #79
I have no access to a repo. Here's a patch
[patch.txt](https://github.com/Praqma/code-conf.com/files/193573/patch.txt)

[2016-03-29 14:05] illus0r commented on #79
@monaslarsen even better! I made a pull request https://github.com/CoDeConf/CoDeConf.github.io/pull/39
You can just apply it

[2016-03-29 16:49] lakruzz opened #81 "change url"

[2016-03-29 16:53] #81 closed

[2016-03-29 17:12] lakruzz opened #82 "Use rouge - not pygments"
The page build completed successfully, but returned the following warning:

You are attempting to use the 'pygments' highlighter, which is currently unsupported on GitHub Pages. Your site will use 'rouge' for highlighting instead. To suppress this warning, change the 'highlighter' value to 'rouge' in your '_config.yml'. For more information, see https://help.github.com/articles/page-build-failed-c

[2016-03-29 17:42] lakruzz commented on #79
Eeeeh sorry to disappoint you guys @illus0r and @monaslarsen

BUT  CoDeConf/CoDeConf.github.io is deprecated - I've just changed the url from www.code-conf.com to was.code-conf.com

The new orange is this repo, where you have this issue: Praqma/code-conf.com

I have just changed the URL from new.code-conf.com to www.code-conf.com

[2016-03-30 10:44] illus0r commented on #79
:tada:

[2016-04-01 11:59] illus0r commented on #82
@lakruzz Where do we highlight code on code-conf? :hushed:
I can change the value in config, though :)

[2016-04-04 07:01] lakruzz commented on #82
The _config.yml says

    highlighter:pygments

it should be changed to

   highlighter: rouge

....that's it (gh-pages no longer supports pygments)

[2016-04-04 09:53] illus0r commented on #82
I take this

[2016-04-06 07:50] adamhenriques opened #83 "Update the default template text"
We still have default template text on http://www.code-conf.com/about/ that needs an update

[2016-04-06 09:25] illus0r opened #84 "Make an academy page"
But the most important part - is to get content on code-conf.com/academy2016 - the copy is roughly what went into the poster/flyer - but it needs to be hosted on code-conf.com in our recognizable lay-out - not on praqma.com (as it currently is)
[Lars on Slack](https://praqmacollaborator.slack.com/archives/code-conf/p1459764523000004)

Poster/flyer: [code_acadamey.pdf](https://github.com/Praqma/cod

[2016-04-06 10:22] illus0r commented on #84
The most dumb version can look this way

![image](https://cloud.githubusercontent.com/assets/797993/14313477/8bbe7eae-fbfa-11e5-93da-79efa45472d3.png)

[2016-04-06 11:04] illus0r commented on #84
@lakruzz
Pushed something to `84-Make-an-academy-page` branch
Need your feedback

![image](https://cloud.githubusercontent.com/assets/797993/14314511/4a4ab0f4-fc00-11e5-9d61-d649b20f7052.png)

[2016-04-06 11:24] jonnycoull commented on #84
[CODECONF_ACADEMEY.pdf](https://github.com/Praqma/code-conf.com/files/206287/CODECONF_ACADEMEY.pdf)

Can you take a look at this i posted it on Slack, maybe you didn't see it? @illus0r

[2016-04-06 11:24] jonnycoull commented on #84
I'm putting images in the repository.

[2016-04-06 13:50] illus0r commented on #84
- [ ] crop 6 images
- [ ] style *Where it’s happening*
- [ ] style *Interested?*

[2016-04-06 14:08] lakruzz commented on #84
@illus0r @jonnycoull
Fine.

Good work @illus0r! I was about to say _"It needs a little bit of love from Bok"_ and then I saw his mock-up @jonnycoull I love it!

Could we go in that direction?

__Note:__ You don't have to make room for the form, we'll just put a registration from Eventbrite there (as on the events):

![image](https://cloud.githubusercontent.com/assets/155492/14319500/bc44d156-fc11-

[2016-04-07 11:04] illus0r commented on #84
@lakruzz what's eventbrite event id?

[2016-04-07 13:26] illus0r commented on #84
@lakruzz
Pushed to a `84-Make-an-academy-page` branch :octocat:

Not everithing is according to mockup. Some things like eventbrite changed and needed redesigning. Some things changed in sake of readability (made left alignment for text) and consistency (made `p` font as on the rest of the site)

I made some changes to text. Sorry, I've removed some exclamations from headers because they made text

[2016-04-08 10:17] adamhenriques opened #86 "Call For Papers box"
I would a call for papers box as below on the individial conference pages somewhere. Is this possible? If so - it should point to ; http://goo.gl/forms/jtYzixrCSE

![screen shot 2016-04-08 at 12 13 14](https://cloud.githubusercontent.com/assets/8004259/14381044/a38c603e-fd83-11e5-8fb9-3815901c8a90.png)

[2016-04-08 10:26] adamhenriques opened #87 "A sponsor button / contact"
I would like if we could have a sponsor contact somewhere - this can be just a button for email / request for contact

![screen shot 2016-04-08 at 12 13 30](https://cloud.githubusercontent.com/assets/8004259/14381241/1f236bce-fd85-11e5-840b-4c0b7dc3fdc5.png)

[2016-04-08 11:50] illus0r commented on #87
@adamhenriques good thing! What form should the button lead to?

[2016-04-08 12:09] illus0r commented on #82
Done by Lars in edf2693

[2016-04-08 12:09] #82 closed

[2016-04-08 12:16] adamhenriques commented on #87
Im thinking either just opening an email preset to go to me - then I can
engage with them. At least they would be an easy fix in the shot run - or
is there a better solution?

[image: ____________________________________________________________]
Adam Henriques
CMO
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE:

[2016-04-08 13:24] adamhenriques opened #88 "Code-Conf frontpage"
Unless you are in the Praqma organization, entering code-conf.com may seem quite confusing. We have codecph, DOCCPH, CoDeSTHML etc. I suggest we elaborate the abbriviations so it makes sense to people. Please see example below.

![cph_twitter_400_200](https://cloud.githubusercontent.com/assets/8004259/14384903/f0a26912-fd9d-11e5-886b-949e02d8efdb.jpg)

![cph_twitter_400_200 1](https://cloud.github

[2016-04-08 15:43] adamhenriques opened #89 "New footer bar on Code-conf.com"
We need the new footer bar on code-conf.com front page Continuous Delivery Company instead of Continuous Development People

[2016-04-08 15:44] #89 closed

[2016-04-10 10:36] lakruzz commented on #88
@adamhenriques

Yes please clarify, whatever that can be clarified.

What is the example an example of??

[2016-04-10 17:15] adamhenriques commented on #88
@lakruzz I suggest thet we write the conference name in full like; DOC CPH - Day Of Containers - or use graphics like the ones attached with conference name written in full together with conference name

[2016-04-10 17:19] adamhenriques opened #90 "Update footerbar"
We need to update footer bar on http://www.code-conf.com/ from saying "The Continuous Development People" to " The Continuous Delivery Company"

[2016-04-11 03:53] lakruzz commented on #88
Agreed, feel free to work it with @jonnycoull

[2016-04-11 03:55] lakruzz commented on #90
Super high, alert, stop press priority on this one @adamhenriques

[2016-04-11 05:34] lakruzz commented on #86
@adamhenriques regarding the form. Please consider if these questions are really relevant to ask in the form:

![image](https://cloud.githubusercontent.com/assets/155492/14417602/be277254-ffb7-11e5-896c-e495b6e925cc.png)

[2016-04-11 06:06] illus0r commented on #90
May be footer should be as on *code-maturity*?

@lakruzz how to treat tasks with priority set by @adamhenriques?

[2016-04-11 06:15] adamhenriques commented on #90
So no priority?

Regards

Adam Henriques

[2016-04-11 06:29] lakruzz commented on #90
Mr Wolf:

"Pretty pleas with sugar on to. Just clean the fucking car"

[2016-04-11 06:43] lakruzz commented on #90
We need to establish a way of working, where my footprint on the process is mininized. I don't wanna do micro management.

If @adamheriques says it needs to be done. Then his word is as good as mine.

[2016-04-11 06:45] lakruzz commented on #90
I don't kbow what

Means.

In my book this is URGENT!

[2016-04-11 06:46] lakruzz commented on #90
We are __NOT__ "the continuous development people"

[2016-04-11 07:01] illus0r commented on #90
I'll fix soon

[2016-04-11 07:15] #90 closed

[2016-04-11 20:08] #84 closed

[2016-04-12 14:33] illus0r commented on #87
@adamhenriques Good, that looks doable with ease. I'll branch out a task for @jonnycoull

[2016-04-12 14:35] illus0r opened #91 "Sponsor's button design"
Subtask of #87

We need a kind of
![image](https://cloud.githubusercontent.com/assets/797993/14463786/15ade29c-00d5-11e6-871c-ba4bb4ed1a89.png)

button in our sponsoring section

[2016-04-12 15:05] adamhenriques opened #92 "Remove "dummy" sponsors"
We need to remove "dummy" sponsor logos from CoDe, Doccph and docsthlm events ASAP

[2016-04-12 15:06] adamhenriques opened #93 "Update "About""
Please update "About" on CoDeCPH;

if we can differentiate between the two pages, for starters use (and please update/ellaborate;

**CoDeCPH**
"The CoDe conference brings together technologists and industry leaders and focuses on innovation through Continuous Delivery and DevOps.
This full day conference explores the multi-faceted area of CoDe, how IT influences the triple bottom line and what Con

[2016-04-12 15:21] illus0r commented on #92
@monaslarsen you can just comment sponsor's include out

[2016-04-12 15:22] illus0r commented on #92
that's good idea to use `{% comment %} such comments {% endcomment %}`

[2016-04-13 10:36] adamhenriques opened #94 "CoDe Academy - City-specific subpages"
In order to be able to display city specific agendas, sponsors, tickets etc i suggest we create four sub pages - 1 for each of cities.

A solution could be four pictures 1 from each city in the wound shape like we already have (see pic) - where people can chose the city they are interested in.

Subpages could be one-pagers - with same structure as our code conference sites - each with the followin

[2016-04-13 11:56] lakruzz commented on #93
@monaslarsen this on needs an estimate (add a size label and remove the "needs grooming" label). Currently it's assigned to you, if it's yours then _please estimate it_, if someone else should implement it, then assign it to that person

[2016-04-13 12:02] lakruzz commented on #93
note: The about page is not about "CoDeCPH" or "Day of Containers" it's about www.code-conf.com.  So the story that needs to be told here is "What is code-conf all about?" (Continuous Delivery conferences, meetups, workshops and academies)

[2016-04-13 12:07] lakruzz commented on #92
@adamhenriques make it a habit to add very specifik links, pics etc to the description, so it's clear what we're talking about:
- [ ] CoDe ...what page are you refering to @adamhenriques ?
- [ ] [Doccph](http://www.code-conf.com/doc-cph-2016/)
- [ ] [docsthlm](http://www.code-conf.com/doc-sthlm-2016/)

[2016-04-13 12:13] #92 closed

[2016-04-13 12:28] lakruzz commented on #92
@adamhenriques, @monaslarsen

I have closed this on now have a look at bef5ea3 this change was easy to fix.  So essentially this is an example on a bad workflow:

* Some crab makes it through to our web site, which was essentials Ivan's test data
* @adamhenriques makes an observation on something that needs to be fixed
* The description is not very precise, so the make sense of it, it requires som

[2016-04-13 12:49] #54 closed

[2016-04-13 12:50] lakruzz commented on #93
Closing this a a duplicate of #54

[2016-04-13 12:53] adamhenriques commented on #93
@lakruzz now it says "About www.codeconf.com"

[2016-04-13 12:58] adamhenriques commented on #88
@jonnycoull will you generate graphics for the 3 events;

CoDe CPH
Day of Containers, CPH
Day of Containers, STHLM

Either written in full or abbreviations with elaboration below (as shown above with CoDe-CPH)

[2016-04-13 12:59] lakruzz opened #95 "about www.code-conf.com"
![image](https://cloud.githubusercontent.com/assets/155492/14493834/fba94aa4-0187-11e6-9848-3850c4640c3b.png)

The page title is used both as menu item and as Title

![image](https://cloud.githubusercontent.com/assets/155492/14493873/2dd99baa-0188-11e6-92ba-04bc6d1b8fe6.png)

That's a problem if I dont want them to be the same:

[code]

[2016-04-13 13:01] lakruzz commented on #93
Closing this one - taking it to: #95 and reopening #54 instead

[2016-04-13 13:01] #93 closed

[2016-04-13 13:02] lakruzz commented on #95
related to #54

[2016-04-13 13:46] illus0r commented on #94
@adamhenriques great, let's do this.

Please correct me if I'm wrong.

Some events are going to be city-related. Not now, but it looks possible in the future. If so, we will keep creating 4 pages for each multi-city event (for Copenhagen, Trondheim, Oslo, Aarhus)

![image](https://cloud.githubusercontent.com/assets/797993/14494486/bc4b4522-0193-11e6-95fd-450a28e2980d.png)

There's a problem: form

[2016-04-13 13:57] illus0r commented on #94
we currently have no field for city. We could use title though: if it contains `CPH` it will be treated like Copenhagen  event and so on. Will be there some titles without city code inside?

[2016-04-13 13:58] adamhenriques commented on #94
@illus0r Its only [CoDe Academy](http://www.code-conf.com/academy2016/) that will have country specific sub pages. Thus the branching should be possible once entered CoDe Academy [CoDe Academy](http://www.code-conf.com/academy2016/). - as shoved on pic 1 - but only with subpages on 1 event.  Does this make sense? If not - lets jump on a hangout

[2016-04-13 14:08] illus0r commented on #94
@adamhenriques good, let's hangout!

[2016-04-13 14:08] illus0r commented on #94
zor667@gmail.com

[2016-04-13 14:41] adamhenriques commented on #94
@illus0r Thanks for the talk. If you draft the 4 subpages ill get the information you need.

[2016-04-13 14:43] illus0r commented on #94
@adamhenriques hangout's brief
---

* We need move all city-related **Academy** information to separate city-related pages. This info includes:

1. Location
2. Date
3. Place
4. Agenda
5. Sponors
6. Ticket widget

* Leave common information on **Academy page**.
* Append city-pages links to the bottom of the **Academy page**.
* We'll reuse event template for city-related pages.
* @adamhenriques will

[2016-04-13 15:02] adamhenriques commented on #94
YES:)

[2016-04-13 15:09] illus0r commented on #94
@adamhenriques when can you send the agenda?

[2016-04-13 15:10] adamhenriques opened #96 "GitHub on Praqma.com"
If we want Git on frontpage - what is the angle;

- Services - what do we offer?

[2016-04-13 15:13] adamhenriques commented on #94
@illus0r The agenda is not set yet - let me try to get a format ready for you asap @lakruzz @meekrosoft

[2016-04-13 18:36] lakruzz commented on #96
@adamhenriques hmmm are we talking about code-conf.com? This belongs to a different [repo](https://github.com/Praqma/praqma.com) doen't it?

[2016-04-13 18:42] adamhenriques commented on #96
Yes, sorry. This is Praqma.com

Regards

Adam Henriques

[2016-04-13 18:46] #79 closed

[2016-04-14 08:12] lakruzz opened #97 "Headers needs ID's"
Exemplified by the tickets block:

![image](https://cloud.githubusercontent.com/assets/155492/14521327/13b6c88c-0229-11e6-9e07-50003864405e.png)

It's implemented as:

[code]

But I need it to be
[code]

(MarkDown automatically adds id's to headers!)

I want to be able to do:
[code]

[2016-04-14 14:30] illus0r commented on #97
still we use html to render snippets, we'll have to do this manually.
[code]
Other possible solutions: 1️⃣ usage of js or 2️⃣ usage of markdown inside includes. 2️⃣ seams more complicated than current solution:

[code]

[2016-04-14 14:46] illus0r commented on #97
Fixed other includes. For others
[code]
suits better

[2016-04-14 15:16] #97 closed

[2016-04-14 15:18] illus0r commented on #94
I'll assign this to you, @adamhenriques I need an agenda to go on.

[2016-04-14 16:22] #95 closed

[2016-04-14 18:29] lakruzz commented on #61
@adamhenriques have we cancelled the Continuos Delivery conference in Stockholm? So it does need to go online, is that is?

[2016-04-14 18:42] adamhenriques commented on #61
@lars, no it is still on - so needs to go live, but in a very basic form. Ill supply content tomorrow.

Regards

Adam Henriques

[2016-04-14 18:45] lakruzz commented on #96
@adamhenriques I'm closing this one then - you should create the issue in the right repo

[2016-04-14 18:45] #96 closed

[2016-04-14 18:53] lakruzz commented on #94
[code]

[2016-04-14 18:55] lakruzz commented on #51
continues in #61 closing this one

[2016-04-14 18:55] #51 closed

[2016-04-14 19:02] lakruzz commented on #63
@jonnycoull @illus0r

I need an idea and an estimate on how we can achieve this. Have a look at the [Code CPH](http://www.code-conf.com/code-cph-2016/)

The abstract of the speak i shown for the keynote speakers:

![image](https://cloud.githubusercontent.com/assets/155492/14540105/b258db42-0283-11e6-9edc-b4586f1c08c8.png)

But it's not shown for the "ordinary" speakers:

![image](https://cloud.git

[2016-04-14 19:04] lakruzz commented on #83
Closed with #70

[2016-04-14 19:04] #83 closed

[2016-04-15 12:04] illus0r commented on #94
@lakruzz wow, that's quite different from
![image](https://cloud.githubusercontent.com/assets/797993/14560902/5e12b196-031b-11e6-884b-b44271d7de4a.png)

I'll suggest some mockups first

[2016-04-15 12:21] illus0r commented on #63
@lakruzz
May be a kind of
![image](https://cloud.githubusercontent.com/assets/797993/14561241/a0cecd1a-031d-11e6-8a83-def7d2bf971a.png)

[2016-04-15 12:48] lakruzz commented on #94
No - it essentially the same as:

![image](https://cloud.githubusercontent.com/assets/155492/14561787/0f3f69da-0319-11e6-9729-4a837fc70bac.png)

[2016-04-15 12:51] lakruzz commented on #94
I just need something online - if necessary then _without_ the agenda.

The fact that we split what we have into 4 subpages is more important than allowing ourselves to be blocked by the things we don't have

Finalizing with _Location, date, place_ and _tickets_ should be a wrap-up.

[2016-04-15 13:02] illus0r commented on #94
@lakruzz good, I can push come city pages to start collecting info onto them.

[2016-04-15 13:18] illus0r opened #98 "Hide date-location factoids if no data given"
![image](https://cloud.githubusercontent.com/assets/797993/14562492/a3c93728-0325-11e6-9b55-3127675b7094.png)

[2016-04-15 13:28] lakruzz commented on #63
Hmmm - yes!

What happens then when I click _Show more_?

[2016-04-15 13:36] illus0r commented on #94
@lakruzz `http://www.code-conf.com/academy2016/cph/` is editable here

![image](https://cloud.githubusercontent.com/assets/797993/14562943/1eadd7c6-0328-11e6-85ae-d48578eb9684.png)

You can create other city-related pages in this folder

[2016-04-15 14:01] lakruzz commented on #98
@illus0r go ahead

[2016-04-16 06:31] lakruzz commented on #94
@illus0r

You should try to avoid delivering more than one commit at a time.

![image](https://cloud.githubusercontent.com/assets/155492/14579518/5a683074-03ad-11e6-877d-09a01efabea7.png)

1) When committing _again_ upon an existing commit in the same branch use `commit --amend`
2) When synchronizing with your origin target use `pull --rebase`

[2016-04-16 15:23] lakruzz opened #99 "Add content for the four academy sub sites"

[2016-04-16 15:33] #99 closed

[2016-04-16 15:39] lakruzz commented on #94
@illus0r
Closing this issue as part of #99, we have some technical debt related to this one which we will have to payback - but I'll create separate cases for them.

[2016-04-16 15:48] #94 closed

[2016-04-16 15:50] lakruzz opened #100 "The front needs more love!"
The front page of code-conf.com needs some love.

- [ ] After we've introduced "layered" events (academy -> 4 sub pages) it stats to get messy
- [ ] Its not clear what we're listing here (same issue raised in #88 )

---

We could need some input on what would work @jonnycoull : maybe you have some ideas?

![image](https://cloud.githubusercontent.com/assets/155492/14581959/1a661574-03fb-11e6-85ad-3

[2016-04-16 15:55] lakruzz opened #101 "Date - could be a span of dates"
The CoDe Academies runs over 5 days - but it's not possible to signal that in the current date/location layout:

![image](https://cloud.githubusercontent.com/assets/155492/14582099/ecdecff0-03fb-11e6-88d1-715b6692846e.png)

Currently we do dates like this:

[code]
 We need to be able to do something more like:

[code]

And then make it look good.

The layout shouldbe data-driven: as in `enddate: 2

[2016-04-16 15:57] lakruzz opened #102 "Dates span multiple lines"
![image](https://cloud.githubusercontent.com/assets/155492/14582116/8c7f19a2-03fc-11e6-8b19-7466f6135c51.png)

In all the Code Academies

Change to:

[code]

[2016-04-16 16:04] lakruzz opened #103 "No HTML in MarkDown files"
Related to the solution implemented in #94
[code]

All five pages for the code academy now break with an important principle:

At this point we have a lot of hacked HTML (divs, styles etc.)

...It has to go!!!!

[2016-04-17 06:44] lakruzz commented on #76
Closed as duplicate of #99

[2016-04-17 06:44] #76 closed

[2016-04-17 06:47] lakruzz commented on #98
@illus0r seems like you have implemented this - did you forget to close it?

![image](https://cloud.githubusercontent.com/assets/155492/14585497/eaebe4a8-0478-11e6-83ae-321aef625e0c.png)

[2016-04-17 06:48] lakruzz commented on #98
@illus0r it seems like you implemented this already - did you forget to close?

![image](https://cloud.githubusercontent.com/assets/155492/14585498/036120f2-0479-11e6-81c3-a7c3e3fa8ce8.png)

[2016-04-17 06:52] lakruzz opened #104 "Improve navigation to sub sites"
In the [Code academy page](http://www.code-conf.com/academy2016/) I have implemented the navigation to the four sub pages, by listing the date/time includes:

![image](https://cloud.githubusercontent.com/assets/155492/14585526/93f6ff4c-0479-11e6-8700-c7a1c427cee3.png)

This must be regarded as a temporary solution, we need to come up with a better solution

[2016-04-17 07:10] lakruzz commented on #72
This what our curretn front page is trying to do.

If we created this list or directory of all that's available, then we coulld let the frontpage show what is featured, up next or something.

This one is related to #88

[2016-04-19 10:26] illus0r commented on #101
@lakruzz we can get rid of `time` till it's not relevant here. So we'll have a room for `date_end`.
I'll reuse existing `_includes/date-location.html`. If you'll set `date_end` in frontmatter it will show `date_end` instead of `time`

[2016-04-19 10:57] illus0r commented on #98
@lakruzz not me. Current state is not beautiful: wether we have a hole in the list
![image](https://cloud.githubusercontent.com/assets/797993/14636768/295c9e1c-0636-11e6-948b-31f84ed119ad.png)

...or broken rhythm

![image](https://cloud.githubusercontent.com/assets/797993/14636800/41a90ef6-0636-11e6-9ef7-467048c9106e.png)

the simplest solution is to fill tha gap with some useful info: date range

[2016-04-19 10:58] illus0r commented on #98
if so, size is `medium`

[2016-04-19 11:00] jonnycoull commented on #98
What is this big list?

On Tue, Apr 19, 2016 at 11:58 AM, illus0r <notifications@github.com> wrote:

[2016-04-19 11:25] illus0r commented on #98
@jonnycoull that's our frontpage
@lakruzz @jonnycoull I'd also nest all academy subpages into the parent academy page. Made a rough mockup for that. It will not work if some nested academies will have other dates.
![untitled-1](https://cloud.githubusercontent.com/assets/797993/14637451/fa2a2340-0639-11e6-8346-543f51d91cd4.png)

[2016-04-19 11:51] illus0r commented on #63
@lakruzz You'll se unrolling animation. Then — the rest of abstract and twitter&etc links

![image](https://cloud.githubusercontent.com/assets/797993/14638025/e2ffb1ea-063d-11e6-855a-ae4744c6e0d2.png)

If you'll click on item in some row, next rows will slide down to free space. Would be great to slide only one column, but it can be tricky.

[2016-04-19 12:06] adamhenriques opened #105 "CoDe Academy - Trondheim Date"
CoDe Academy Trondheim is sheduled for June 15th - whic is a Wednsday. Should it have been Man 13th?

http://www.code-conf.com/
![screen shot 2016-04-19 at 14 05 37](https://cloud.githubusercontent.com/assets/8004259/14638461/dca16178-0637-11e6-8889-5d6c66e5e36d.png)

http://www.code-conf.com/academy2016/

![screen shot 2016-04-19 at 14 06 15](https://cloud.githubusercontent.com/assets/8004259/146

[2016-04-19 13:25] illus0r commented on #103
- [ ] academy
- [ ] aar.md
- [ ] cph.md
- [ ] osl.md
- [ ] trd.md

[2016-04-19 13:29] jonnycoull commented on #63
That works, how does the boxes next to it react?

On Tue, Apr 19, 2016 at 12:51 PM, illus0r <notifications@github.com> wrote:

[2016-04-19 14:09] adamhenriques commented on #86
@lakruzz have reveiwed and updated form.

[2016-04-19 14:18] jonnycoull commented on #104
Maybe a go sign at the end of each?

[2016-04-19 14:21] jonnycoull commented on #101
@lakruzz is it possible to have the time on one line instead of 2?

[2016-04-19 14:27] jonnycoull commented on #100
Not sure having a great long list as a home page makes for a welcoming website. if I refer you back to the original. it ws more a cherrypicking exercise of 4-5 main events, we can't shout equally about everything. its impossible. and have a sub list down one side of them all. also having all the colours on the homepage is messy.

[2016-04-19 14:45] jonnycoull commented on #100
like this? @lakruzz @illus0r
![screen shot 2016-04-19 at 15 44 44](https://cloud.githubusercontent.com/assets/17589853/14643273/b43e5b92-0645-11e6-9836-3d526fe461fb.png)

[2016-04-19 14:47] jonnycoull commented on #98
I think I'll have to re visit the colour coding for CODE ACADEMEY, were getting a bit rainbow esc/ complicated with all these additions. @illus0r @lakruzz

[2016-04-19 14:48] jonnycoull commented on #91
@illus0r where does this button live?

[2016-04-19 14:53] jonnycoull commented on #72
![screen shot 2016-04-19 at 15 44 44](https://cloud.githubusercontent.com/assets/17589853/14643594/e2869c3e-0646-11e6-90b2-9d82dceae54a.png)

[2016-04-19 14:54] jonnycoull commented on #72
a page that links from the above panel a full listing page.

[2016-04-19 19:23] meekrosoft commented on #105
Yes, it should be from Monday.

[2016-04-20 08:34] adamhenriques commented on #105
Ivan, will you update throughout so dates  for trondheim is 13. Jun 2016

[2016-04-20 09:44] adamhenriques opened #106 "change trondheim date"

[2016-04-20 09:52] #106 closed

[2016-04-20 09:54] adamhenriques commented on #105
Done

[2016-04-20 09:54] #105 closed

[2016-04-20 10:39] illus0r commented on #98
@jonnycoull good! ping me when you done

[2016-04-20 10:48] illus0r commented on #63
@jonnycoull They will slide down to free some space.
@lakruzz And we can add a control to collapse the abstract back to previous state. Or not to add it :)

[2016-04-20 11:00] illus0r commented on #91
@jonnycoull have a look at patent task #87. Be back with any questions

[2016-04-20 11:17] illus0r commented on #100
@jonnycoull good job!

1. Are these events meetups or hackathones or trainings? Not clear now
2. If you'd use real data in mockups, we could notify that some events will be duplicated in right column.
3. This thing looks like a menu ![image](https://cloud.githubusercontent.com/assets/797993/14672603/9130e8e2-0701-11e6-8a75-8422d7541ac0.png)
1. Where can I find 5th and others events?
4. what's a ne

[2016-04-20 11:32] jonnycoull commented on #100
Can you send me links to the page as is that I can view? I need to get a
handle on the volume of items (events, meet-ups etc) were dealing with as
its vastly expanded since our initial meetup.

answers..

1. The panel would be a mixed bag. so everything. just the first 2 months
for exe, then SEE ALL link will take you to a more intestine page
containing them all. I've an idea about that as well i

[2016-04-20 12:35] illus0r opened #107 "Improve design for programm"
![image](https://cloud.githubusercontent.com/assets/797993/14674552/4d746b68-070d-11e6-8b20-42685a999b75.png)

can be found on academy2016/trd/

[2016-04-20 12:38] illus0r opened #108 "Repair broken styles on ticket form"
Background of the bottom should be white. It was before

![image](https://cloud.githubusercontent.com/assets/797993/14674652/c026f798-070d-11e6-81e0-51f9156797d2.png)

[2016-04-20 13:39] #101 closed

[2016-04-20 13:45] adamhenriques opened #109 "add speaker"

[2016-04-20 13:48] adamhenriques opened #110 "add speaker"

[2016-04-20 14:28] adamhenriques opened #111 "- update speaker"

[2016-04-20 17:58] lakruzz opened #112 "Wrong date on Aarhus Academy"
Currently they all end and stat the same date, they are supposed to start on a Monday and end on the following Friday

AAR:

![image](https://cloud.githubusercontent.com/assets/155492/14684769/ce559e54-0731-11e6-9d38-08b1144dbcd4.png)

Related to #101

Same problem with CPH:
![image](https://cloud.githubusercontent.com/assets/155492/14684788/e674adae-0731-11e6-895d-73ba4b177932.png)

Oslo:

![imag

[2016-04-20 18:15] lakruzz commented on #100
@jonnycoull good job
@illus0r thank for input

I like it!

I especially like that I only need to briefly _mention_ an issue, and you get it right away - you're clever!

I like the fact that we're making this look like a gig listing of a concert hall - maybe it's not Punk, but it _is_ Rock'n'roll!

I would like a front page along these lines - I realize that it's not done yet, but we should have th

[2016-04-20 18:20] lakruzz commented on #98
I would actually like to leave this one behind as "Won't have" - and then work on - and prioritize - #100 instead.

@illus0r @jonnycoull
Is that OK with everyone? let's not waste our time :-)

[2016-04-20 18:20] #98 closed

[2016-04-20 18:27] lakruzz commented on #63
From my perspective it would work just fine.

If the Art Director and the UX expert can agree on this too - then I just need an estimate on implementation 👍

[2016-04-20 18:29] lakruzz commented on #110
Add speaker where? What speaker?

You need to put more info into the issue @adamhenriques

Also consider priority, estimate, assignee

[2016-04-20 18:32] lakruzz commented on #109
where? What speaker?

Give more info when you add issues @adamhenriques  - or we will _drown_ in ambiguous issues 👎

[2016-04-20 18:34] lakruzz commented on #107
Aaauch - my eyes literally hurt!

What can we do???

[2016-04-20 18:35] jonnycoull commented on #107
Can someone send me the link to investigate this? Come up with a easy on
the eye design? Thanks

On Wednesday, 20 April 2016, Lars Kruse <notifications@github.com> wrote:

[2016-04-20 18:40] adamhenriques commented on #109
Yes - Isnt it closed? Ive implemented it already.

Regards

Adam Henriques

[2016-04-20 18:42] lakruzz commented on #109
Don't know what this case is about - so you're the only one who knows if it's closed or not (kinda my point :-) )

[2016-04-20 18:47] adamhenriques commented on #109
Valid point - but thought it was removed once i push Git deliver?

Regards

Adam Henriques

[2016-04-20 18:51] #109 closed

[2016-04-20 18:51] #111 closed

[2016-04-20 18:51] #110 closed

[2016-04-20 18:53] lakruzz commented on #109
Seems like you are not working our flow:

You delivered two times on top of 106:

[code]

Git can't help you there - looks like you forgot to run

[code]

...before you started working on 109!

[2016-04-20 19:01] lakruzz commented on #104
I think it should be more obvious that ti's something that can be clicked, and which will take you to a sub-page

[2016-04-21 06:10] adamhenriques opened #113 "- update Laura profile"

[2016-04-21 06:11] adamhenriques opened #114 "update laura profile"

[2016-04-21 06:15] #114 closed

[2016-04-21 06:15] #113 closed

[2016-04-21 06:44] lakruzz opened #115 "share pdf"

[2016-04-21 06:54] #115 closed

[2016-04-21 07:17] lakruzz opened #116 "Browse press material"
GitHub pages doesn't allow directory browsing

But I have dumped some files in http://www.code-conf.com/press/academy2016/ which I'd actually like users to browse:

Idea:

Can you create an index.md file in http://www.code-conf.com/press/academy2016/ that contains some liquid, which just lists (and links) the files in the folder - so that if I add more files they automatically show up as well.

[2016-04-21 10:20] illus0r commented on #101
@jonnycoull yep! @lakruzz has made #102 for that.

[2016-04-21 12:07] illus0r commented on #116
@lakruzz I've looked around but nothing suggests itself. This `directory` feature [was proposed](https://github.com/jekyll/jekyll/pull/585), but GHP doesn't allow it for sake of security. Jekylls decided to leave this functionality out of core.
[code]

I've bumped into this trouble making a gallery page for Praqma couple of months ago.
I can't estimate this for now. I can take a timebox to investi

[2016-04-21 12:29] illus0r commented on #100
@jonnycoull

that would be helpful.

You can find something on [code-conf.com](http://code-conf.com). Collecting the rest is a big job. You can parse our meetup events to get more data to fill the mockup.

Sorry for too early criticising, I did know the mockup is unfinished yet

[2016-04-21 12:39] illus0r commented on #104
@lakruzz Mmm, a kind of..?

![image](https://cloud.githubusercontent.com/assets/797993/14709051/3ee174d6-07d7-11e6-8fd9-54b1d334039b.png)

[2016-04-21 13:58] illus0r commented on #25
@lakruzz Struggled with this more than 3 hours, time to take a break.

Suggested approach and [another one](https://github.com/house9/jquery-iframe-auto-height) doesn't work because of cross-domain problem. I tried [a resizing lib for cross domain iframes](https://github.com/davidjbradshaw/iframe-resizer) but no way.

Can I spend 3 hours more on that? I'll set a task for freelancers

[2016-04-21 14:18] #112 closed

[2016-04-21 15:05] monaslarsen opened #117 "Add Docker as sponsor for both DoC's"

[2016-04-21 16:09] jonnycoull commented on #104
@lakruzz @illus0r
So I've had a play with this file as a whole, and as per the SPONSOR documents, the pages for CODE ACADEMY all follow the grey colour scheme.

@illus0r the top image needs cropping its to deep currently is that something I need to do?

note new FULL PROGRAMME BUTTON with a arrow icon, which feels more clickable. or maybe it has a different name? find out more etc.

Also may need

[2016-04-21 16:11] jonnycoull commented on #104
PDF on last comment. or this grab.
![screen shot 2016-04-21 at 17 10 27](https://cloud.githubusercontent.com/assets/17589853/14716255/0e66493c-07e4-11e6-87eb-24e084ba22e3.png)

[2016-04-21 16:35] jonnycoull commented on #104
in addition, sub pages could look like this.... @lakruzz @illus0r
[CODECONF_ACADEMEY_vTRD.pdf](https://github.com/Praqma/code-conf.com/files/230354/CODECONF_ACADEMEY_vTRD.pdf)
![codeconf_academey_vtrd](https://cloud.githubusercontent.com/assets/17589853/14717022/7327341e-07e7-11e6-857b-20bebdb48522.jpg)

[2016-04-21 16:37] jonnycoull commented on #104
also @lakruzz I've noticed on the site that the bottom sell has been re written to THE CONTINUIOUS DELIVERY AND DEVOPS COMPANY. this makes the bottom lop sided. so we need a word smith to conjure up an equal length bit for the other side.

[2016-04-21 19:09] adamhenriques opened #118 "- groom and publish CoDeSTO"

[2016-04-22 06:20] adamhenriques opened #119 "CoDe Academy doesnt appear on mobile"
The CoDe Academy doesnt appear on cpde-conf.com via cellphone

![img_4454](https://cloud.githubusercontent.com/assets/8004259/14733389/f579307c-0862-11e6-988d-6af97bfaa604.PNG)

[2016-04-22 06:41] adamhenriques opened #120 "add christoffer Lippert"

[2016-04-22 10:47] illus0r commented on #107
@jonnycoull http://www.code-conf.com/academy2016/aar/, but not now. I've did it fixing #103, but my commit is hanging somewhere in Jenkins and I have no idea what did go wrong. Old jenkins link doesn't work http://code.praqma.net/ci/view/Websites/job/Web_new.code-conf.com-verify/ may be @lakruzz can help me, nobody on slack did.

[2016-04-22 10:51] jonnycoull commented on #107
@illus0r did you see my comments from yesterday, or do you want them on
slack. let me know what elements you need to implement it. working on home
page ideas today.

On Fri, Apr 22, 2016 at 11:47 AM, illus0r <notifications@github.com> wrote:

[2016-04-22 10:52] jonnycoull commented on #107
![codeconf_academey_vtrd](https://cloud.githubusercontent.com/assets/17589853/14739617/a5397b1c-0880-11e6-873f-a58d20182d87.jpg)
have a look....sorry the form is incorrect, I hadn't seen the full live page. but easily changed.

[2016-04-22 10:53] illus0r commented on #116
@lakruzz I wonder if we could use API to fetch dir list https://developer.github.com/v3/repos/contents/

[2016-04-22 10:59] jonnycoull commented on #91
@illus0r i'd have a top bar nav thats SPONSOR INQUIRES. so its always easy to get to. also on the main page at the bottom a sponsor box.

[2016-04-22 11:05] illus0r commented on #104
@jonnycoull

yep, you have everything you need to crop the image so it suit the best. Let me know if you need some additional info

[2016-04-22 11:07] jonnycoull commented on #104
@illus0r can you send me ideal pixel size so I can chop to exact size please. so there all the same depth, or shall I work backwards from the site?

[2016-04-22 11:24] illus0r commented on #91
@jonnycoull can you suggest a mockup to discuss with Lars?

[2016-04-22 12:01] jonnycoull commented on #75
@lakruzz what goes in a meet up page, information wise?

[2016-04-22 13:26] #63 closed

[2016-04-22 13:27] illus0r commented on #63
http://www.code-conf.com/doc-cph-2016/

![image](https://cloud.githubusercontent.com/assets/797993/14742876/166100dc-08a7-11e6-8d8f-c4a3b9f5bf78.png)

![image](https://cloud.githubusercontent.com/assets/797993/14742893/2b0c76ba-08a7-11e6-8426-44ddac481129.png)

[2016-04-22 14:43] jonnycoull commented on #91
@illus0r @lakruzz here's my suggestion, that its always important to find easy access to this on every page so it should live in the menu bar. see attached. Also maybe an additional small link on pages that have sponsors at the base of the page saying. _Interested in sponsorship. Click here._
Ive also added all the menu items i believe we need currently. maybe a contact one too? but easily aded. s

[2016-04-22 16:46] jonnycoull commented on #72
So while I'm planning on how to today up the home page, here's how the panel and links will navigate. So any direct link for exe DOC-STOCKHOLM, if you click that it takes you directly to the page, also any of the direct links in the mini list. Now, if you press CONFERANVCES - MEETUPS etc in the top bar or SEE ALL in the mini bar the below image is where you will end up. a directory of all events,

[2016-04-23 07:00] #120 closed

[2016-04-24 10:00] lakruzz opened #121 "Footer text needs to be adjusted"
<img width="679" alt="screen shot 2016-04-24 at 11 58 28" src="https://cloud.githubusercontent.com/assets/155492/14766690/e25b7498-0a13-11e6-878e-be87860e8c9c.png">

Multiple issues raised in #104 by @jonnycoull

I'm all for going back to the original tagline:

__The Continuous Delivery Company__

...getting rid of the _DevOps_ in the footer

[2016-04-24 10:01] lakruzz commented on #104
I've taken the issue @jonnycoull mentioned regarding the text in the footer to a separate issue #121

[2016-04-24 10:08] lakruzz commented on #116
The I think the best solution is simply to add an `index.md` file.

In the front matter we specify an array of

* Link text
* Description
* Small icon/image to use for the link
* A description of the content

And then add a `directory` layout.

This can also prove useful when we want to publish videos, presentations etc.

It's a little bit more hand-held but gives us more options and is easier to

[2016-04-24 10:10] lakruzz commented on #25
Let's put it on hold for a while

[2016-04-24 10:45] adamhenriques opened #122 "add Seb Rose"

[2016-04-24 11:01] #122 closed

[2016-04-24 11:02] adamhenriques opened #123 "update seb"

[2016-04-24 11:06] #123 closed

[2016-04-24 11:07] adamhenriques opened #124 "chan pic on Seb"

[2016-04-24 11:09] #124 closed

[2016-04-25 10:38] illus0r commented on #25
Ok!

[2016-04-25 10:40] illus0r commented on #25
@lakruzz I've sent this into backlog milestone. I had to create one.

[2016-04-25 11:04] illus0r commented on #116
Good! That's doable with ease. What's purpose of this file listing? Who will use it?

[2016-04-25 11:09] illus0r commented on #104
@jonnycoull the width of the img is 990px
Height can be any, but we can make this a standard. I.e. 560px.

[2016-04-25 11:52] illus0r commented on #91
@jonnycoull Good!

It's easy to mix **sponsor inquiries** item with _event navigation_. Moving the _event nav_ next to the logo helps us to separate menu items (_event navigation_ from _company related_). The good side effect is that users can get an idea of **code-conf** just looking at logo and menu items next to it.

Have a look, vertical lines do not split items, they visually join them. They

[2016-04-25 12:26] jonnycoull commented on #91
@illus0r can we put it the way I had it please that looks messy being aligned left and right. also the reason for the lines is that sponsor inquires is two words, i don't want it to look like its two separate items, hence the equal gaps and the lines to create a visual aid for the items. all items are main site navigation so they need to be together.  and to let the band / logo breathe.  also at s

[2016-04-25 12:37] #117 closed

[2016-04-25 13:02] #103 closed

[2016-04-25 13:15] monaslarsen opened #125 "Create sponsor categories, e.g. 'silver' and 'gold'"

[2016-04-25 13:23] monaslarsen opened #126 "Add Docker as sponsor on DoC Sthlm"

[2016-04-25 14:09] #119 closed

[2016-04-25 15:36] adamhenriques opened #127 "Get CoDe STHLM on http://www.code-conf.com/"
We need code stockholm (continuous delivery & DevOps conference, stockholm, Nov 29th) in MVP on on http://www.code-conf.com/.

We need the graphics similar to attached example made so Ivan can implement ir and we can get it online.

<img width="492" alt="screen shot 2016-04-25 at 17 35 43" src="https://cloud.githubusercontent.com/assets/8004259/14789320/403ac4da-0b0c-11e6-9ba7-a8b8ce4b9eb5.png">

[2016-04-26 07:20] jonnycoull commented on #127
@adamhenriques the STHLM has been done for a while, all the bars currently on site are made from code i believe, @illus0r can facilitate the creation of this online but for reference here it is again. Also to not @illus0r the hyphen is 50% size and orange on all code cof items. not white as above. and should have the "on" icon at the end. are these are the logos.
![codesthlm](https://cloud.githubu

[2016-04-26 07:21] jonnycoull commented on #104
@illus0r thanks. ill re-supply the main code conf graphic. and the hats. (for the midway down bar)

[2016-04-26 07:33] adamhenriques commented on #127
Ok. @illus0r can we make code-sthlm visable on code-conf.com?

[2016-04-26 07:37] jonnycoull commented on #104
@illus0r all pics uploaded (hopefully)

[2016-04-26 07:41] adamhenriques commented on #88
@jonnycoull seems like this was never assigned to you. Will you produce these?

[2016-04-26 07:48] jonnycoull commented on #88
the main homepage won't look as it is at the moment. so part of this issue will dissapear soon. currently each sub page has that strap already. to change the copy is a job for @illus0r or @lakruzz possibly? I can't do that its not an image.  if you want to play with the order of the words best speak with them. but its not worth repeating the date as its immediately below. also on here theres 2 men

[2016-04-26 07:59] adamhenriques commented on #88
@jonnycoull ok but are the mockups for code-conf.com or the conference specific landingpage? What I would like is elaboration of the conference names on www.code-conf.com.

[2016-04-26 08:01] jonnycoull commented on #88
hi @adamhenriques I realise that what I'm trying to explain is main landing page and it isn't finished so what your asking for is actually on another task that I'm working on currently once its resolved the issue you've doubled up on will be resolved. .

[2016-04-26 08:02] adamhenriques commented on #88
@jonnycoull great stuff!

[2016-04-26 08:06] jonnycoull commented on #88
@adamhenriques what you can assist me on or possible mona too is writing tasters for each item (copy below, which as your full explanation of the event. so my idea is that 4 main events are listed as one main (soonest or biggest) the sub events and a bar of two months. if you want more than that you click to the full listing. if you look at the attached pic i need about 20-25 words summarising the

[2016-04-26 08:10] adamhenriques commented on #88
@jonnycoull Im not quite sure i follow. Moreover, would it make sense to create a individual case of this so we keep things apart?

Lets jump on a hangut when you have time

[2016-04-26 08:42] adamhenriques opened #129 "Create teaser copy for all events"

[2016-04-26 10:50] jonnycoull commented on #100
So for graphics, placement (not actual word content I've spoken to @adamhenriques  about that) here's a draft of the site landing page. @illus0r @lakruzz @meekrosoft

• full list on menu bar at top.
• new "descriptive copy" by @adamhenriques for the line under continuos deliver.
• MAIN EVENTS, you can order these as you wish @lakruzz maybe your best event or one you want to drive ticket sales bigg

[2016-04-26 10:54] illus0r commented on #127
@adamhenriques so we need a new page for CODE-STHLM, which will have a logo similar to Bok's image. Right?

[2016-04-26 10:59] adamhenriques commented on #127
Yes, just like code Cph. Thx

Regards

Adam Henriques

[2016-04-26 11:04] jonnycoull commented on #100
![web layout](https://cloud.githubusercontent.com/assets/17589853/14816112/ffca7bca-0ba6-11e6-90bc-2fbe6a2e1dc7.jpg)

[2016-04-26 12:30] illus0r commented on #125
@monaslarsen
* How will we use these two groups
* What idea do you have about their's design?

[2016-04-26 13:13] adamhenriques commented on #129
@jonnycoull please find included teaser-copy. Let me know how it fits wordcount wise.

CoDe Copenhagen, Sep 13th
The CoDe conference brings together technologists and industry leaders and focuses on innovation through Continuous Delivery and DevOps.

CoDe Academy,
Date 13 Jun 2016 Trondheim
Date 15 Aug 2016 Where Copenhagen
Date 22 Aug 2016 Where Aarhus
Date 29 Aug 2016 Where Oslo

A free 5 days i

[2016-04-26 13:32] #87 closed

[2016-04-26 13:39] illus0r commented on #87
@lakruzz fixed this, but it should be improved: not everybody has email client set up properly. I didn't.

[2016-04-26 13:40] illus0r commented on #87
possible solution is formspree.io form

[2016-04-26 13:52] illus0r commented on #127
@adamhenriques we've already had this page: `code-sthlm-2016.md`. It's unpublished now. To publish remove line
[code]
I've just colored hyphens.

[2016-04-26 13:55] adamhenriques commented on #127
Great, thx

Regards

Adam Henriques

[2016-04-26 14:47] #126 closed

[2016-04-27 06:53] adamhenriques opened #130 "Change default email adress in sponsor button"
Great with sponor inquireries! Will you change default email in sponsor button to ah@praqma.net

[2016-04-27 10:45] illus0r commented on #130
Should it be main email of the code-conf.com?

[2016-04-27 10:47] adamhenriques commented on #130
@illus0r in reality only for sponsor inquiries. However, if we can only use one mail - lets just keep info@praqma.

[2016-04-27 10:50] adamhenriques opened #131 "publish code sthlm"

[2016-04-27 10:54] jonnycoull commented on #129
That looks about right @adamhenriques if you see the one, "a free 5 days..." thats bang on.

[2016-04-27 10:56] illus0r commented on #130
Ok, I'll make a new variable for your mail.

[2016-04-27 11:47] illus0r commented on #127
@adamhenriques when you write address like `http://www.code-conf.com/` in the task titles it breaks my git alias and I can't start working on task easily.

BTW, every issue in this repo relates to `http://www.code-conf.com/` ;)

[2016-04-27 12:18] #127 closed

[2016-04-27 12:21] illus0r commented on #86
@adamhenriques so we need to make a link under the speakers, which leads to [the google form](https://docs.google.com/forms/d/1w81_c5vqhcWcWRHLv2I1RpOYPE25OPpqxexVfx3W_O8/viewform?c=0&w=1). Right?

[2016-04-27 12:23] illus0r commented on #86
@adamhenriques should it form be available on every *speakers* module?

[2016-04-27 12:24] adamhenriques commented on #129
@jonnycoull updated

[2016-04-27 12:27] adamhenriques commented on #86
@illus0r could we place it next to "Sponsor Inquiries"?

[2016-04-27 12:32] #131 closed

[2016-04-27 12:34] adamhenriques opened #132 "add speakers"

[2016-04-27 12:41] adamhenriques opened #133 "add sponsor"

[2016-04-27 12:41] #132 closed

[2016-04-27 12:55] #133 closed

[2016-04-27 13:06] adamhenriques opened #134 "add sponsor"

[2016-04-27 13:12] #134 closed

[2016-04-27 13:35] illus0r commented on #86
@adamhenriques I can everything :) But I'm not sure that's a good idea: we already have a lot there
![image](https://cloud.githubusercontent.com/assets/797993/14852073/dbcebb14-0c8c-11e6-89f6-9de0c54c7b70.png)

We could move this link to footer, that'll require some redesigning. That refers to #91

[2016-04-27 13:36] jonnycoull commented on #129
awesome thanks, is that all the events/conferances we have written @adamhenriques ?

[2016-04-27 13:37] illus0r commented on #125
@monaslarsen, I set it this task to you. Assign it back to me when you answer

[2016-04-27 13:40] jonnycoull commented on #86
To quote Jaws, "were gonna need a bigger boat". OK @illus0r ill make an amended menu system like we spoke about.

[2016-04-27 13:42] #130 closed

[2016-04-27 13:48] adamhenriques commented on #86
Good point. As long as its visible im good with that.

Regards

Adam Henriques

[2016-04-27 13:53] adamhenriques commented on #129
@jonnycoull, yes that should be it; code Cph & Stockholm, day of containers Cph & Stockholm, and code academy

[2016-04-27 13:57] illus0r opened #135 "Design site footer so add some extra links there"
Relates to #86 and #91
There's no room it header for everything. ![](https://cloud.githubusercontent.com/assets/797993/14852073/dbcebb14-0c8c-11e6-89f6-9de0c54c7b70.png)
#86 wants to add **Call for papers** there as well.

Candidates for moving to footer:
* Became a sponsor
* Call for papers (may be worth renaming?)
* Past events (ex. Archive)

[2016-04-27 13:59] jonnycoull commented on #135
@illus0r @adamhenriques @lakruzz

before I do this id rather not double handle a task so lets make sure we have EVERYTHING that needs to go on the top and bottom of the site.  please list in the comments below.

[2016-04-27 16:04] jonnycoull commented on #88
@adamhenriques this is also issue 100 so i think we can close this.

[2016-04-27 16:17] adamhenriques commented on #88
Fine

Regards

Adam Henriques

[2016-04-27 16:25] jonnycoull commented on #135
Here we go, @illus0r this should please you. more separated menu. and for @adamhenriques a redesigned footer so additional links can be displayed. also more added if needs be now the logo is bottom right. buttons line up with top of logo.

![screen shot 2016-04-27 at 17 23 40](https://cloud.githubusercontent.com/assets/17589853/14859661/11d96668-0c9d-11e6-8563-2d10ffb49bb0.png)

[2016-04-27 16:27] jonnycoull commented on #135
Or a thinner version of the top bar, @illus0r @adamhenriques
![screen shot 2016-04-27 at 17 27 03](https://cloud.githubusercontent.com/assets/17589853/14859705/51519e32-0c9d-11e6-870c-6a78b24cfa61.png)

[2016-04-27 16:28] #88 closed

[2016-04-27 16:29] jonnycoull commented on #91
Our answer lies in issue #135 so I think we can close this.

[2016-04-27 16:29] #91 closed

[2016-04-27 17:27] jonnycoull commented on #75
Hi @lakruzz @illus0r so I've had a go at a page, code cafe for examlple (or is that a hackathon) regardless other than a colour I think we can reuse some elements on both. here's a V1, so main body copy times and the usual, plus a button to take you too meet-ups own site. (or have it work internally one for you @illus0r ) So and overview then maybe pull out 3 things that will happen that day? just

[2016-04-28 06:28] adamhenriques opened #136 "Get info from Daniel Ståhl and Fatih Degirmenci for Codesthlm"
We need;

- Titles
- Abstracts
- Bios
- Pictures
- Twitterhandles (got Fatihs already)

[2016-04-28 07:00] lakruzz opened #137 "How to get speaker bio"
I Find myself clicking on the speaker pics - trying to learn more about them.

![image](https://cloud.githubusercontent.com/assets/155492/14877762/748e0c14-0d1f-11e6-813e-da85a069a291.png)

Any ideas on how we could incorporate access to the speaker bio, and what it should look like/behave?

@illus0r @jonnycoull

[2016-04-28 10:08] meekrosoft opened #138 "Need to add github as technology sponsor on all the code academy"
Github has come on as sponsor - we need this online as soon as possible.

[2016-04-28 10:37] lakruzz commented on #25
@illus0r  anything not assigned to a specific milestone, is on the backlog :-)

[2016-04-28 10:39] lakruzz commented on #116
@illus0r
It's for shipping press and promotion materials

[2016-04-28 10:42] illus0r commented on #137
Great, we've got some speaker info already

1. name
2. bio
3. position
4. img
5. social

@lakruzz what you'd like to add?
@jonnycoull how'd you present it?

[2016-04-28 10:43] illus0r commented on #137
[code]

[2016-04-28 10:43] illus0r commented on #137
[code]

[2016-04-28 10:44] illus0r commented on #137
some txt for example. You can find more [on repo](https://github.com/Praqma/code-conf.com/tree/gh-pages/_speakers)

[2016-04-28 10:46] lakruzz commented on #137
I'm fine with the properties we currently use

[2016-04-28 11:19] illus0r commented on #116
So we'll reuse existing `academy2016` layout, we'll list JPG and PDF files there. No dates, no filenames. Just titles. I'd make icons autogenerated by files' extentions.

The tiitle of the page will be `CoDe Academy: press materials`.

@lakruzz How people will get onto this page?

[2016-04-28 11:24] illus0r opened #139 "Design for Speaker's page"
Subtask of #137

we've got some speaker info already

1. name
2. bio
3. position
4. img
5. social

some txt for example. You can find more [on repo](https://github.com/Praqma/code-conf.com/tree/gh-pages/_speakers)

[code]

[code]

[2016-04-28 12:06] illus0r commented on #75
@jonnycoull Great!
The main point of the page is `Sign up` button, now it's not notable, especially near the bright photo.

![image](https://cloud.githubusercontent.com/assets/797993/14884920/e85b91ee-0d50-11e6-9627-827bae5b4218.png)

What user will do after scrolling down the page? Now he is supposed to scroll back to top to sign up. I'd duplicate or moved this button to the bottom of the page, p

[2016-04-28 12:25] illus0r commented on #135
@lakruzz do we really need a search? What a possible scenario of it's usage? Or can we scale it down with no pain?

[2016-04-28 12:26] illus0r commented on #108
@lakruzz can I fix it?

[2016-04-28 12:54] adamhenriques opened #140 "add sponsor"

[2016-04-28 13:03] #140 closed

[2016-04-28 13:48] lakruzz commented on #116
The page should exist, but it shouldn't be indexed or discoverable.

They only have access to the page if they know (or guess) the link - Typically I would send the link to them in a mail

[2016-04-28 14:09] #107 closed

[2016-04-28 14:49] lakruzz commented on #135
No - I don't really need a search panel

[2016-04-28 16:10] jonnycoull commented on #137
@illus0r @lakruzz is there a link to an old bio page?

[2016-04-28 16:14] jonnycoull commented on #135
@illus0r @lakruzz depending if you want the BIG menu bar or slightly thinner one, if theres no search bar ill have to redesign it again. As otherwise there will be an unsightly gap. Remember as much as you guys love your minimal products and coding this is a folio piece for the company so it needs to look good as well!

[2016-04-28 16:20] jonnycoull commented on #75
• Another button at the base then, to make it easy for the user. good thinking batman.
• A sort of bullet pointed aspects of the meet up, thats all dummy copy in there for now. So the description isn't a huge long block of text.
• the writer will craft an amazing piece of copy that fits to length, lets not waffle on. if its longer id suggest another panel image next to it, but I think you could ge

[2016-04-28 18:48] lakruzz commented on #137
http://archive.code-conf.com/cph15/program/

http://archive.code-conf.com/jues15/program/

[2016-04-28 18:50] jonnycoull commented on #137
Thanks @lakruzz

[2016-04-29 07:34] adamhenriques opened #141 "add andrey"

[2016-04-29 07:54] #141 closed

[2016-04-29 07:58] adamhenriques opened #142 "add jan k"

[2016-04-29 08:10] martinmosegaard opened #143 "Fix small typos"
Just noticed 'og' that should be 'of'.

[2016-04-29 08:12] #142 closed

[2016-04-29 08:17] #143 closed

[2016-04-29 10:56] jonnycoull commented on #104
all ok to leave this with you @illus0r the images should be in GITHUB for the new icons and the mock ups are on here.

[2016-04-29 12:54] lakruzz commented on #116
Reopening, my solution in  c0d303b is just a quick and dirty hack - but it's not urgent anymore

[2016-05-01 18:42] Andrey9kin commented on #136
Daniel's photo https://github.com/d-stahl-ericsson

[2016-05-03 10:52] #118 closed

[2016-05-03 10:53] #61 closed

[2016-05-03 14:04] jonnycoull commented on #75
![codeconf_meetups_v2](https://cloud.githubusercontent.com/assets/17589853/14985628/383d5e98-1140-11e6-985c-7a7fc576c046.jpg)
Big strap at the bottom? @illus0r @lakruzz

[2016-05-03 14:58] jonnycoull commented on #139
@illus0r @lakruzz still looking at colour but how about the attached?

• same collapsable style as the speakers on the conference pages.
• Now has a READ MORE and READ LESS, as a bit annoying I can't collapse the stack back after reading.

![codeconf_speakers 2](https://cloud.githubusercontent.com/assets/17589853/14987538/ec2a39d8-1147-11e6-8f61-30e6433c8b96.jpg)
![codeconf_speakers 3](https://clo

[2016-05-03 15:00] jonnycoull commented on #137
also in #139 see how hover state works in speakers.
![codeconf_speakers 3](https://cloud.githubusercontent.com/assets/17589853/14987598/1a796552-1148-11e6-89c1-e93fb6359caf.jpg)

[2016-05-03 15:03] jonnycoull commented on #139
@illus0r @lakruzz Whoops was supposed to be orange colours. also @illus0r we need to switch body copy to a "code esc" font. I've used courier. any suggestions?
![codeconf_speakers v2](https://cloud.githubusercontent.com/assets/17589853/14987679/69d2f014-1148-11e6-8130-05760d71b0ce.jpg)

[2016-05-04 09:04] illus0r commented on #135
@lakruzz can I assign this back to @jonnycoull?

[2016-05-04 09:18] jonnycoull commented on #135
I think we should have it like it is, as we've got a ever ballooning amount of content in the site? @lakruzz @illus0r . my preference is the thinner one.

[2016-05-04 09:22] illus0r commented on #139
@jonnycoull looks encouraging, I can implement it!
But links should be same colored, that's rule.
What is link on this image? Hard to guess now.
![image](https://cloud.githubusercontent.com/assets/797993/15010014/904a86d0-11f2-11e6-87ce-dd16e3c9e8a6.png)

So we use two fonts: monospace for block texts and condensed for headers, right?

[2016-05-04 09:26] jonnycoull commented on #139
ah thats not a link thats the box in its expanded form (when u click read more) make sense @illus0r ? same on the other issue, so u could see the box and how it works as per your work on the speakers bits already.

[2016-05-04 09:29] jonnycoull commented on #139
@illus0r is monospace the current body copy? see example.... @lakruzz wants it to look more like code. so I'm open to suggestion. abolition is headers, and pulled out information.

![screen shot 2016-05-04 at 10 28 59](https://cloud.githubusercontent.com/assets/17589853/15010269/0bd5338c-11e3-11e6-9eb1-4d60168bdc8c.png)

![screen shot 2016-05-04 at 10 27 15](https://cloud.githubusercontent.com/ass

[2016-05-04 09:31] jonnycoull commented on #139
@illus0r the bottom one is what i currently see online. @meekrosoft tweaked it on here.....

http://www.code-conf.com/academy2016/trd/

[2016-05-04 12:22] illus0r commented on #139
@jonnycoull
1. Links<br> I meant the color scheme on this mockup: it uses *link color* for *not-links* like `twitter`. Other links like `@ETHOMSON` don't. If you think I didn't get the idea of your last comment, could you paraphrase?
2. [Monospace](https://www.google.ru/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=mpnospace) is not the current body copy. Current is `Roboto`. We can set it

[2016-05-04 12:50] illus0r commented on #135
@jonnycoull
1. sorry, I didn't get the idea, what do you mean by BIG and thinner? Anyway, there's no need in search bar 😀
2. The footer links look confusing. I've never seen them being like buttons. What if we'll have to add 4 more links?

`TWITTER`

![image](https://cloud.githubusercontent.com/assets/797993/15014491/08f9b116-120f-11e6-8309-5af010e6b2dc.png)

---

`UBUNTU`
![image](https://cloud.g

[2016-05-04 12:55] illus0r commented on #104
@jonnycoull Yep, I've integrated them without a pull request (PR). I've closed PR it just now.

[2016-05-04 14:05] illus0r commented on #104
@jonnycoull I'd improve this block somehow
![image](https://cloud.githubusercontent.com/assets/797993/15016098/251df808-1218-11e6-842b-eef1f54eba82.png)

We could make it more informative, cutting out repeating elements
![image](https://cloud.githubusercontent.com/assets/797993/15016150/64ee363c-1218-11e6-9d37-548c43887b97.png)

Then we can factor out `Full programme`
![image](https://cloud.github

[2016-05-04 14:24] illus0r commented on #139
@lakruzz I was thinking this page will contain bio of the single speaker, not everyone. That's much easy to implement, than listing all conference related speakers.

Bok's solution make sense though: it's convenient way of learning more about a conference.

[2016-05-04 14:25] illus0r commented on #139
@jonnycoull I don't see `position`s on your mockups

[2016-05-04 15:25] jonnycoull commented on #139
@illus0r position? as in the job he holds? thats the big microsoft or BLACK ABOLITION FONT under his name, sorry if i misunderstood the question.

And links ah sorry my fault I was thinking that the link was just an underline version of what ever was clickable. colours got it!

[2016-05-04 15:29] jonnycoull commented on #104
I'm going to be a huge pain in the bum, but we had to shift CODE ACADEMY back to orange, sorry @illus0r I thought i left a note on that page.

hmmm. I think the last one looks best if were going that way BUT i don't think we need that BIG white copy. maybe something integrated into the boxes. leave it with me.

[2016-05-04 15:43] jonnycoull commented on #135
ah i see where your confused. I've not done that very bottom bit yet thats
to come. those are buttons that are links.  they are more like that one on
twitter where its says CREATE AN ACCOUNT. like secondary important stuff.

On Wed, May 4, 2016 at 1:50 PM, illus0r <notifications@github.com> wrote:

[2016-05-04 16:02] jonnycoull commented on #104
So @illus0r a solution that uses both. and keep with the design.

![codeconf_academey_v4](https://cloud.githubusercontent.com/assets/17589853/15020429/ebe4bda4-1219-11e6-9e9d-6062a47d02e3.jpg)

[2016-05-04 16:31] jonnycoull commented on #135
@illus0r like this....also @adamhenriques expressed an interest in a newsletter button/sign up.

one with and thithout SEARCH. also placement of more in the menu bar at the top.

![codeconf_menu options_v3](https://cloud.githubusercontent.com/assets/17589853/15021298/ec7a2d90-121d-11e6-8757-c2a9eb81fc78.jpg)

[2016-05-04 16:32] jonnycoull commented on #135
The orange bits are the links. when highlighted. I know thats different to the others but lots of orange copy is bad on the eyes.

[2016-05-05 06:57] adamhenriques opened #144 "add title Ed"

[2016-05-05 07:02] #144 closed

[2016-05-05 09:50] illus0r commented on #139
@jonnycoull Yep, you're right. I was thinking the company is a separate field. Yep, we can output `company` and `position` within one field. Just like here
![image](https://cloud.githubusercontent.com/assets/797993/15040791/ece2f22e-12bf-11e6-8805-dcf416dd437f.png)

[2016-05-05 09:53] illus0r commented on #139
@jonnycoull so we are looking forward to @lakruzz reply to [my comment](https://github.com/Praqma/code-conf.com/issues/139#issuecomment-216881295), that's the only showstopper.

[2016-05-05 10:54] illus0r commented on #135
@jonnycoull

1️⃣
Newsletter signup would be more simple if we add an action button (like `Sign up`). We can cut it out from current label. I'd like to know, what am I subscribing for. What will I receive? How often? If we can't write answers ourselves, we can ask somebody who knows.
![image](https://cloud.githubusercontent.com/assets/797993/15041875/055d849c-12c8-11e6-891b-b081a8ffc2fb.png)
In our

[2016-05-05 12:08] lakruzz commented on #104
I'm fine with this! Great job!

[2016-05-05 12:08] lakruzz commented on #102
@illus0r this is closed right?

[2016-05-05 12:08] #102 closed

[2016-05-05 12:12] lakruzz opened #145 "Date span - adjustment"
When the date is a span - like this

![image](https://cloud.githubusercontent.com/assets/155492/15043226/4132cf7e-12cb-11e6-9a53-0920152d296c.png)

is should read

22-26 AUG 2016

[2016-05-05 12:31] lakruzz commented on #138
This one is done

[2016-05-05 12:31] #138 closed

[2016-05-05 12:34] lakruzz commented on #125
Do we really need this???

[2016-05-05 12:35] lakruzz commented on #121
Duplicate of #135

[2016-05-05 12:35] #121 closed

[2016-05-05 12:36] lakruzz commented on #135
Pay attention to #121 too - it's closed as a duplicate of this one

[2016-05-05 12:40] lakruzz opened #146 "Add some design to the Press page"
Currently http://www.code-conf.com/press/ looks like this:

![image](https://cloud.githubusercontent.com/assets/155492/15043661/26cdb942-12cf-11e6-8e93-a0b5d5f39d57.png)

It needs

- [ ] A bit of love
- [ ] A line in the footer (in the info category)

[2016-05-05 12:48] lakruzz commented on #86
One thing is that we need a link in the menu (taken care of in #135)

But we also need a design to hold the form!

Maybe it's just the plain standard layout - I'll give it a go!

[2016-05-05 12:50] #53 closed

[2016-05-05 12:51] #52 closed

[2016-05-05 14:01] jonnycoull commented on #135
No worries @illus0r most copy on there is only for mock up purposes, ill let you and others take care of those details if thats cool.

So updated mock up. now the blue bars isn't on the site thats just a note for you ivan, we need a rule that nothing will come within that blue bar in terms of distance to the footer containing sign up, praam logo and the rest. make sense? @lakruzz is happy with the

[2016-05-05 14:41] lakruzz commented on #139
@illus0r:
I had a hangout with @jonnycoull I'm good with the one-page design that has all speakers on the same page

[2016-05-05 15:58] #86 closed

[2016-05-05 16:05] lakruzz commented on #86
@adamhenriques I've closed this one. Have a look at http://www.code-conf.com/cfp/

Is that what you wanted?

![image](https://cloud.githubusercontent.com/assets/155492/15048909/de029562-12eb-11e6-8c14-c2cf1f4800f6.png)

[2016-05-06 07:39] meekrosoft opened #147 "Add trondheim poster to the press page"
@jonnycoull made an awesome poster for Trondheim, I need to put it on the press page...

[2016-05-06 12:20] illus0r commented on #137
I'll start with @jonnycoull mockup. Links should be recolored, but I'll do it on the fly

![](https://cloud.githubusercontent.com/assets/17589853/14987679/69d2f014-1148-11e6-8130-05760d71b0ce.jpg)

[2016-05-06 12:20] illus0r commented on #139
Good, I'll close by now

[2016-05-06 12:20] #139 closed

[2016-05-06 12:23] illus0r commented on #145
Make sense! I'll do it

[2016-05-06 13:06] illus0r commented on #145
Done. If months differ, I output them.
![image](https://cloud.githubusercontent.com/assets/797993/15073841/6071bd58-13a4-11e6-95d1-ddd7c887d5ef.png)

[2016-05-06 13:06] #145 closed

[2016-05-06 13:09] illus0r commented on #137
- [ ] output code
- [ ] put css on
- [ ] make *speaker's links* jump to exact person in the list

[2016-05-06 13:41] lakruzz commented on #145
Gr8!

[2016-05-06 14:20] illus0r commented on #137
Hi, @jonnycoull! Where to get this photo?
![image](https://cloud.githubusercontent.com/assets/797993/15075782/d9ca3ad6-13ae-11e6-9623-042febdbd09f.png)

[2016-05-06 19:51] jonnycoull commented on #137
Hi guys sorry I'm away at the mo it's from Lars archive, I'm back ties so
maybe Lars can give u accsess?

On Friday, 6 May 2016, illus0r <notifications@github.com> wrote:

[2016-05-09 19:35] adamhenriques opened #148 "New header pic on for CoDe Stockholm"
We use the same pic for Day Of Containers Stockholm and CoDe Stockholm. Will you change pic on CoDe Stockholm http://www.code-conf.com/code-sthlm-2016/

Intel cor choise of pic; Target audience of CoDe is more c-levels and mangers

[2016-05-10 06:55] lakruzz commented on #100
@jonnycoull  and @illus0r This case is a briefing case, we've been discussing design and layout back and forth. I Talked to @jonnycoull and it seems like he has a plan that we can carry out.

@illus0r can you create the necessary workable sub tasks (Same prio as this on - give each task you create an estimate). Put all the tasks in this milestone ("Press ready" )

[2016-05-10 06:58] lakruzz commented on #104
@illus0r This case is a briefing case, but I believe at this point we've come to an end, the design is ready, and we need to spawn out into actual workable tasks, please create the tasks and estimate them, give them the same priority as this one and put them in the same milestone ("Press ready").

[2016-05-10 09:09] jonnycoull commented on #148
uploaded. @illus0r

[2016-05-10 09:35] jonnycoull commented on #72
image for top uploaded. @illus0r

[2016-05-11 07:45] adamhenriques opened #149 "update pic"

[2016-05-11 08:08] #149 closed

[2016-05-11 20:20] illus0r commented on #137
@lakruzz in [the checklist](https://github.com/Praqma/code-conf.com/issues/137#issuecomment-217435253) I've showed, what part was implemented by now. I'll set size to `0` and branch out unfinished items into separate tasks.

[2016-05-11 20:30] illus0r commented on #104
@lakruzz I'll implement within this task

[2016-05-13 08:41] timea opened #150 "Test issue"

[2016-05-13 08:42] adamhenriques opened #151 "update laura"

[2016-05-13 08:45] #151 closed

[2016-05-13 11:53] illus0r opened #152 "Frontpage: fix font family on header"
subtask of #100

Use `marker` font-family for subheader
![image](https://cloud.githubusercontent.com/assets/797993/15247055/344b4c00-191a-11e6-8f24-79b3dca3aea3.png)

[2016-05-13 11:57] illus0r opened #153 "Frontpage: output and style events on main page"
Spinn off from briefing #100

![image](https://cloud.githubusercontent.com/assets/797993/15247147/e18870c8-191a-11e6-9f25-89487941d9ef.png)

Reuse this snippet for #154

[2016-05-13 12:02] illus0r opened #154 "Frontpage: style main event"
IN reference to briefing #100

![image](https://cloud.githubusercontent.com/assets/797993/15247264/b5fc64cc-191b-11e6-8668-9d37ccf910cc.png)

[2016-05-13 12:13] lakruzz opened #155 "Napatech as sponsor"

[2016-05-13 12:14] illus0r opened #156 "Frontpage: implement UP NEXT block"
IN reference to briefing #100

![image](https://cloud.githubusercontent.com/assets/797993/15247480/38c825b6-191d-11e6-8e36-e36244a48512.png)

WIthout ![image](https://cloud.githubusercontent.com/assets/797993/15247504/63328ab2-191d-11e6-9938-4c6d68990fc4.png) link by now

[2016-05-13 12:25] illus0r opened #157 "Frontpage: make Get Involved pullout"
Subtask of #100

![image](https://cloud.githubusercontent.com/assets/797993/15247702/9c6a7b2c-191e-11e6-8285-17a0761195c9.png)

[2016-05-13 12:26] #155 closed

[2016-05-13 12:27] illus0r opened #158 "Frontpage: make 3 navigational banners"
Subtask of #100

![image](https://cloud.githubusercontent.com/assets/797993/15247788/0fd88d9c-191f-11e6-9310-087404a40da8.png)

[2016-05-13 12:29] illus0r opened #159 "Prettify footer"
Related to briefing in #135

![322e1f22-12d2-11e6-9de6-278e27e6f7fd](https://cloud.githubusercontent.com/assets/17589853/15248332/9288cfe4-1911-11e6-81b3-c4d3019248b4.jpg)

[2016-05-13 12:38] illus0r opened #160 "Make Newsletter Form"
Spinn off from #135

![322e1f22-12d2-11e6-9de6-278e27e6f7fd](https://cloud.githubusercontent.com/assets/17589853/15248348/9f00a7ec-1911-11e6-9fe8-0fd8c4b5afe5.jpg)

[2016-05-13 12:46] jonnycoull commented on #160
? where di u get that its old @illus0r its on issue #135 header and footer.

[2016-05-13 12:47] illus0r opened #161 "Add new All Events page"
Subtask of #100

- [x] take this mockup from @jonnycoull
![image](https://cloud.githubusercontent.com/assets/797993/15248237/c77c43f6-1921-11e6-990d-9b4a8951c3aa.png)

[2016-05-13 12:48] jonnycoull commented on #100
@illus0r for the latest HEADER & FOOTER look at issue #135 before you race ahead on this.

[2016-05-13 12:49] jonnycoull commented on #159
No this is a sub task of #135 that one above is old. do not use. @illus0r

[2016-05-13 12:49] illus0r commented on #160
@jonnycoull oh, sorry.
Note for myself: take from @jonnycoull the most fresh mockup when I'm back

[2016-05-13 12:49] jonnycoull commented on #159
![322e1f22-12d2-11e6-9de6-278e27e6f7fd](https://cloud.githubusercontent.com/assets/17589853/15248332/9288cfe4-1911-11e6-81b3-c4d3019248b4.jpg)

[2016-05-13 12:50] jonnycoull commented on #160
![322e1f22-12d2-11e6-9de6-278e27e6f7fd](https://cloud.githubusercontent.com/assets/17589853/15248348/9f00a7ec-1911-11e6-9fe8-0fd8c4b5afe5.jpg)

[2016-05-13 12:50] illus0r commented on #100
@jonnycoull Good!

[2016-05-13 12:51] jonnycoull commented on #152
@adamhenriques was working on a bit of copy for the "blah" thats there now.

[2016-05-13 12:52] illus0r commented on #100
@timea done with subtasks
didn't make tasks for new menu items ![image](https://cloud.githubusercontent.com/assets/797993/15248390/a790ee92-1922-11e6-8421-0518c5669048.png) and corresponding pages. That's not about the frontpage.

[2016-05-13 12:58] adamhenriques commented on #152
@jonnycoull is it still on me - or did I delivert it - dont remember?

[2016-05-13 13:56] lakruzz commented on #100
I'm closing this one then, no more work is needed on the briefing now - that tasks we spun off it takes presendence

[2016-05-13 13:56] #100 closed

[2016-05-13 15:27] adamhenriques opened #162 "mandi Walls"

[2016-05-13 16:06] adamhenriques opened #163 "mando walls update"

[2016-05-13 16:06] #162 closed

[2016-05-13 16:27] adamhenriques opened #164 "mandi update"

[2016-05-13 16:41] #164 closed

[2016-05-16 08:57] lakruzz commented on #163
@adamhenriques  I can see that this branch is not merged into gh-pages, and I can see that you delivered it tree times

![image](https://cloud.githubusercontent.com/assets/155492/15284965/ed23c7b6-1b54-11e6-83a6-b50a0cc14db9.png)

(Don't do that - it's like sending the print to the printer three times, if the first one didn't come through, the next one wont either - you're adding to a queue, so wh

[2016-05-16 09:01] lakruzz commented on #136
@adamhenriques @Andrey9kin

What is happening with the Stockholm event?
![image](https://cloud.githubusercontent.com/assets/155492/15285064/6daebe54-1b55-11e6-83ca-fd8170acbb21.png)

Don't we have _any_ speakers to present?

[2016-05-16 09:10] adamhenriques commented on #163
Can you just delete it?

Regards

Adam Henriques

[2016-05-16 09:11] adamhenriques commented on #136
They getting on today

Regards

Adam Henriques

[2016-05-16 09:13] lakruzz commented on #152
This case is about changing the font to marker.

Where is the font that we need to incorporate? is it one that we need to buy? where from? @jonnycoull do you know that?

[2016-05-16 09:22] lakruzz commented on #159
This case is only about changing the actual footer (move logo to the right, instead of having it in the middle)

The menu below has it's own case
and the subscribe form is in #160

[2016-05-16 09:25] lakruzz opened #165 "Create bottom menu"
As debated in briefing #135

We need the bottom menu - something like this:

![image](https://cloud.githubusercontent.com/assets/155492/15285652/ddc39cb6-1b58-11e6-948b-80eeed584668.png)

[2016-05-16 09:27] lakruzz commented on #135
I'm closing this one, no more  to discuss here, lets carry on in the implementation issues mentioned above.

[2016-05-16 09:27] #135 closed

[2016-05-16 09:32] lakruzz commented on #160
This issue is only about implementing the subscribe form:

![image](https://cloud.githubusercontent.com/assets/155492/15285813/e2af8590-1b59-11e6-96e9-0c0a77f73f0b.png)

[2016-05-16 09:37] lakruzz commented on #129
hey guys @adamhenriques @jonnycoull is this case still open Looks to me like we could close it.

It's assigned to Jonathan - is that right? It seems like it's @adamhenriques who's working it.

[2016-05-16 09:45] lakruzz commented on #137
@illus0r regarding  4aa0992 - pleade deliver _one_ commit at time:

one commit to one issues

I you don't we will squash it (as in  4aa0992) and we loose some traceability this way.

I thing this is a matter of you using `pull` - without `--rebase`

Dont do: 👎
[code]
If there are updates, you'll get an extra commit with nothing in it except the merged files.

Instead make it a habit to use : 👍

[c

[2016-05-16 09:47] adamhenriques commented on #129
It should be closed

Regards

Adam Henriques

[2016-05-16 09:52] lakruzz opened #166 "show speakers confs on speaker page"
Related to the briefings in #137

For each speaker list the conferences that they are speaking at:

![image](https://cloud.githubusercontent.com/assets/155492/15286333/ad4a7e52-1b5c-11e6-992a-9ec02acf18e1.png)

[2016-05-16 09:56] lakruzz opened #167 "Add megaphone to header"
spinn off from #137 Related to the speakers page:

Add the megaphone icon to the header:

![image](https://cloud.githubusercontent.com/assets/155492/15286411/21f6085c-1b5d-11e6-948c-ea31dac7647a.png)

[2016-05-16 09:59] lakruzz opened #168 "Better foto on Speakers page"
Spinn off from #137

Find a better photo for the speakers page http://www.code-conf.com/speakers

![image](https://cloud.githubusercontent.com/assets/155492/15286470/8e3b635e-1b5d-11e6-9c18-c120f8b2e04c.png)

[2016-05-16 10:04] lakruzz opened #169 "Make speaker bios collapsable-expandable"
As described in #137 the speakers should be shown in collapsed form, at could be collapsapsable/expandable

![image](https://cloud.githubusercontent.com/assets/155492/15286562/1b957bfe-1b5e-11e6-8837-14bf554f8f15.png)
(see #137 for  details)

It important that if a uses browses to the speakers page with an anchor:

e.g `http://www.code-conf.com/speakers/#seb-rose`

then Seb Rose should be EXPANDED

[2016-05-16 10:07] lakruzz opened #170 "Set the font to monospace in speakers page"
As described in #137 the font is in monospace, it needs to be updated in the SASS

[2016-05-16 10:09] lakruzz commented on #137
I am closing this briefing, we have created work items for all things mentioned in this briefing.

[2016-05-16 10:09] #137 closed

[2016-05-16 10:12] Andrey9kin commented on #136
@adamhenriques @lakruzz I'm just about to push an update

[2016-05-16 10:14] #136 closed

[2016-05-16 10:22] lakruzz commented on #148
Back to you @adamhenriques

[2016-05-16 10:23] lakruzz commented on #147
@meekrosoft this one is on you, right?

[2016-05-16 10:24] #116 closed

[2016-05-16 10:32] lakruzz commented on #129
All right @adamhenriques ...then close it :-)

[2016-05-16 10:32] #129 closed

[2016-05-16 10:36] lakruzz commented on #163
Delete _it_  Is that the _branch_, the _issue_ or what exactly do you mean by _it_?

Can you delete _it_ yourself? then please go ahead 👍

[2016-05-16 10:59] #163 closed

[2016-05-16 14:32] Andrey9kin commented on #166
@illus0r @lakruzz @timea I have a question about speakers page - will it be any possibility to filter speakers when I'm coming to the speakers page from the conference page? I'm asking because it will be much more speakers than we have now and already now it is very confusing to see all speakers who ever talked on our conferences. To support my point I have @les-praqma just next to me who is as mu

[2016-05-16 18:46] meekrosoft commented on #147
Yes @lakruzz this is mine...but you probably want to ask @jonnycoull to whip up some similar ones for the danish events.

[2016-05-16 19:13] #148 closed

[2016-05-16 19:16] Andrey9kin commented on #148
@adamhenriques @lakruzz @jonnycoull guys I hope you don't mind me fixing those issues. Today is my events day - so I'm trying to get as far as I can since the next events day only in a week.

[2016-05-16 19:46] #147 closed

[2016-05-17 06:49] lakruzz opened #171 "List speakers - filter per event"
This issue is a spin off from @Andrey9kin comment on #166

__We need to be able to filter speakers page, so that only speakers that actually speak at conference are listed e.g. for  CoDe CPH 2016__

We need something like one of:

1. www.code-conf.com/speakers/codecph2016
2. www.code-conf.com/speakers/#codecph2016
3. www.code-conf.com/codecph2016/speakers/

(1) Would be implemented as a static pag

[2016-05-17 06:51] lakruzz commented on #166
@Andrey9kin @les-praqma

Check #171

[2016-05-17 07:17] jonnycoull commented on #152
@lakruzz its been used here, http://www.code-conf.com/doc-cph-2016/

its free. https://www.fontsquirrel.com/fonts/permanent-marker

[2016-05-17 07:25] Andrey9kin commented on #166
@lakruzz thanks!

[2016-05-17 07:25] jonnycoull commented on #168
![speakerbios](https://cloud.githubusercontent.com/assets/17589853/15314268/cfe1a40c-1c08-11e6-9382-209080b7ff95.JPG)

what would eventually be good is a line up of speakers against the wall aka usual suspects style. @lakruzz

[2016-05-17 08:59] lakruzz opened #172 "fix nav weight"

[2016-05-17 09:01] #172 closed

[2016-05-17 09:23] lakruzz opened #173 "payback time on header.html"
https://github.com/Praqma/code-conf.com/blob/gh-pages/_includes/header.html

This is ugly!

How did we end up with hard coded sponsor inquiry in the header - is should be done right - add a sponsor inquiry page, give it a nav-weight

Do the right thing!

[2016-05-17 09:40] lakruzz opened #174 "Posts is the default for pages"
In `_layouts/page.html` we're using the `post` class as default - shouldn't it be named `page`

[code]

[2016-05-17 12:55] #150 closed

[2016-05-18 13:49] monaslarsen opened #175 "Upload press release DK"

[2016-05-18 14:40] #175 closed

[2016-05-19 09:36] monaslarsen opened #176 "Add Danfoss as a CoDe Academy sponsor?"
Are we ready to add Danfoss as a sponsor?
@lakruzz ?

[2016-05-19 09:38] monaslarsen opened #177 "Upload press release EN"

[2016-05-19 09:42] #177 closed

[2016-05-19 09:45] monaslarsen opened #178 "Add index for press releases"

[2016-05-19 11:30] #178 closed

[2016-05-19 11:31] monaslarsen opened #179 "Add boilerplates to /press"

[2016-05-19 11:52] #179 closed

[2016-05-19 12:45] monaslarsen opened #180 "Brighten images for CoDe Academy"

[2016-05-19 13:02] #180 closed

[2016-05-19 13:54] monaslarsen opened #181 "Spread CoDe Academy on social media"
- Facebook
- Twitter
- LinkedIn
- ?

[2016-05-20 12:29] monaslarsen opened #182 "Contact Prosa"
Prosabladet

Kurt Westh Nielsen | chefredaktør

Bo Sune Christensen - Student network

[2016-05-20 12:29] monaslarsen opened #183 "Contact Ingeniøren"
Lene Wessel
Journalist, arbejdsmarked og karriere
3326 5348
lw@ing.dk

[2016-05-20 12:30] #182 closed

[2016-05-20 12:30] #183 closed

[2016-05-20 12:44] monaslarsen opened #184 "Get Academy on the Prosa calendar"
Bjarke Friborg
Projektleder/faglig konsulent
bfr@prosa.dk
Direkte: 33 36 47 56
Mobil: 27 78 54 34

[2016-05-20 13:49] #184 closed

[2016-05-23 10:03] monaslarsen opened #185 "Upload press photos for Academy"

[2016-05-23 10:30] #185 closed

[2016-05-23 10:32] monaslarsen opened #186 "Add factsheet for Academy"

[2016-05-23 11:36] illus0r commented on #173
We can make a separate page with *formspree.io* web form. Like on http://www.praqma.com/1hour/

What do you think, @timea?

[2016-05-23 11:45] illus0r commented on #174
Yep, that's my error, need to be fixed

[2016-05-23 13:02] illus0r commented on #154
- [ ] make main event be narrow, in grid
- [ ] output and style image as link
- [ ] add power icon to title

[2016-05-23 14:08] lakruzz commented on #173
_anything_ that is not hardcoded!

So first: _"yes"_ we need a separate page instead of a hardcode menu item.

Secondly - "Yes" a form would be a nice approach. - We can copy the concept from design from http://www.praqma.com/1hour/ but we need to put it into the design and artwork of this context - @jonnycoull  may have a say on that.

[2016-05-23 14:36] #186 closed

[2016-05-24 09:44] lakruzz opened #187 "Add Danfoss as sponsor"

[2016-05-24 10:00] #187 closed

[2016-05-24 13:17] jonnycoull commented on #129
@illus0r your copy for the small pieces of copy on the home page.

[2016-05-24 14:31] illus0r commented on #156
- [x] output html
- [ ] style things
- [ ] adapt height

[2016-05-24 15:47] illus0r commented on #153
- [ ] 1) give each event a weight (new yaml attribute)
- [ ] 2) filter out passed events
- [ ] 3) sort by weight, then by event date
- [ ] 4) show the first at the top story
- [ ] 5) show the following 3 as the ...following three
- [ ] 6) Don't show the rest

[2016-05-24 17:56] lakruzz opened #188 "Add description to each event"
Each event needs a short twitter-size (140 chars) description
see an example in #153

It needs to go to a new attribute in the front matter:

[code]

[2016-05-24 17:58] lakruzz commented on #188
- [ ] academy2016.md
- [ ] academy2016.md/aar.md
- [ ] academy2016.md/cph.md
- [ ] academy2016.md/osl.md
- [ ] academy2016.md/trd.md
- [ ] code-cph-2016.md
- [ ] code-sthlm-2016.md
- [ ] doc-cph-2016.md
- [ ] doc-sthlm-2016.md

[2016-05-25 07:07] adamhenriques opened #189 "add simcorp"

[2016-05-25 07:16] #189 closed

[2016-05-25 08:11] adamhenriques opened #190 "add fredrik"

[2016-05-25 08:19] #190 closed

[2016-05-25 08:46] adamhenriques opened #191 "add chef"

[2016-05-25 08:51] #191 closed

[2016-05-25 10:07] monaslarsen opened #192 "Send posters + flyers to ITU"
Thomas Hildebrandt
IT-Universitetet i København
Rued Langgaards Vej 7
2300 København S
Danmark

[2016-05-25 10:39] #176 closed

[2016-05-25 13:10] illus0r commented on #156
result pushed to `154-Frontpage-style-main-event`

[2016-05-25 13:11] illus0r commented on #188
Really awaiting for that to merge `154-Frontpage-style-main-event` into `gh-pages`

[2016-05-25 13:14] illus0r commented on #156
#188 needed to merge

[2016-05-25 13:15] illus0r commented on #154
#188 needed to merge

[2016-05-25 20:46] lakruzz opened #193 "Some TODO not taken care of"
Found this in `_customer_details/biolin/report-parts/front.md`

![image](https://cloud.githubusercontent.com/assets/155492/15555718/41d29630-22ca-11e6-880e-a3a8a1f15f39.png)

No todo's can be left in files!

[2016-05-26 10:40] illus0r commented on #193
@lakruzz got it. I've cleaned out TODOs from code-conf.
But `_customer_details/biolin/report-parts/front.md` is from `code-maturity`, isn't it?

[2016-05-26 11:45] illus0r commented on #161
Hi, @jonnycoull ! Could you post a larger version of this

![](https://cloud.githubusercontent.com/assets/797993/15248237/c77c43f6-1921-11e6-990d-9b4a8951c3aa.png)

[2016-05-26 13:28] #159 closed

[2016-05-26 14:02] timea commented on #166
@lakruzz do we have an excel sheet or so where I can see all the conferences, all the speakers in one place?

[2016-05-26 14:16] lakruzz commented on #166
No, no sheet, they are all online ...or do I misunderstand? What would you
achieve with a spreadsheet?
On May 26, 2016 16:02, "timea" <notifications@github.com> wrote:

@lakruzz <https://github.com/lakruzz> do we have an excel sheet or so where
I can see all the conferences, all the speakers in one place?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it

[2016-05-26 14:23] timea commented on #166
I was looking for a faster way then going through all event pages to see which conference the speaker is speaking at (like if Mona or anyone else who is an organizer had a list of the speakers in a text document grouped by conference ), but okay, I was just curious.

[2016-05-26 14:49] monaslarsen commented on #188
Who is ticking off the boxes? @lakruzz @ivan @timea..?
I'm working on it right now, but I can see the boxes ticking off faster than I can work..?!

[2016-05-26 14:51] monaslarsen commented on #188
Ah, I see @lakruzz changed the assignment - so I should not work on it?

[2016-05-26 14:55] #188 closed

[2016-05-26 14:56] lakruzz commented on #156
@illus0r I closed #188

[2016-05-26 14:56] lakruzz commented on #154
@illus0r I closed #188

[2016-05-26 15:41] jonnycoull commented on #161
![subpage_v2](https://cloud.githubusercontent.com/assets/17589853/15580437/a915682c-2360-11e6-9a6c-1049d1a9177a.jpg)
Will those do? @illus0r also, I've uploaded that pen picture into images a while back so you have that.

[2016-05-26 18:23] lakruzz commented on #166
There is no faster way than

[code]
However, computers can do that - kinda pretty fast :-)

[2016-05-26 18:30] timea commented on #166
Lovely! :)

[2016-05-26 18:30] lakruzz commented on #192
Hmmm @monaslarsen this issue ended up in the wrong repo - should have been in the marcom

created a new one similar to this one here: https://github.com/Praqma/marcom/issues/59

[2016-05-26 18:30] #192 closed

[2016-05-27 07:41] adamhenriques opened #194 "update mandi"

[2016-05-27 07:45] #194 closed

[2016-05-27 08:48] adamhenriques opened #195 "milestone sponsor"

[2016-05-27 08:53] #195 closed

[2016-05-27 09:56] lakruzz commented on #108
@illus0r

We don't have any means of controlling the background color.

And actually it's not the background color that's the problem, but the fact that we crop off then bottom of the form.

We have a fixed height of 300px

This is what the same form looks like with height = 310 px

![image](https://cloud.githubusercontent.com/assets/155492/15604688/fc9da602-2401-11e6-9230-39a31f42f50b.png)

We sh

[2016-05-27 09:56] #108 closed

[2016-05-27 09:58] lakruzz commented on #25
Closed #108 as "won't have" we're going to do this one instead

[2016-05-27 10:13] adamhenriques opened #196 "add docker cph sponsor"

[2016-05-27 10:16] lakruzz commented on #168
Closed praqma/praqma.com#278 which was a duplicate issue in a different repo.

I just improved the one that was already there:
![image](https://cloud.githubusercontent.com/assets/155492/15605207/cfbc8984-2404-11e6-9f18-00139a6460fb.png)

[2016-05-27 10:17] #168 closed

[2016-05-27 10:18] lakruzz commented on #181
This is not an issue that belongs to this repo - it should got to praqma/marcom

[2016-05-27 10:20] #196 closed

[2016-05-27 10:21] lakruzz commented on #181
Praqma/praqma.com#302

[2016-05-27 10:21] #181 closed

[2016-05-27 10:23] lakruzz commented on #174
@illus0r
This issue needs to be made ready to work on - It currently needs and estimate.

I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-05-27 10:30] illus0r commented on #161
@jonnycoull 👏
Can we access this menu on other pages?

![image](https://cloud.githubusercontent.com/assets/797993/15605541/37d1da88-240f-11e6-9105-851b9f3d4ba5.png)

[2016-05-27 10:33] illus0r commented on #174
@lakruzz ready. But why do we need unassigning?

[2016-05-27 10:40] jonnycoull commented on #161
Hi @illus0r Every CONFERENCE, TRAINING, MEET-UPS, HACKATHONES etc are on the TOP BAR. which i don't believe you've implemented yet. it was supplied a few weeks ago. essentially that menu is a repeat. its just to make it more obvious you can filter the results quickly or see all as an option.

IMPORTANT NOTE: ignore training, last i spoke to @lakruzz  this is remaining on PRAQMA's own home site not

[2016-05-27 10:48] lakruzz commented on #174
... Since it may not be you implementing it :-)

[2016-05-27 11:19] lakruzz commented on #167
@timea
This issue needs to be made ready to work on - It currently needs and estimate.

I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-05-27 11:21] lakruzz commented on #166
@timea

This issue needs to be made ready to work on - It currently needs and estimate.

I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-05-27 11:43] lakruzz commented on #171
@illus0r
This issue needs to be made ready to work on - It currently needs and estimate.

I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-05-27 12:34] #154 closed

[2016-05-27 12:34] #153 closed

[2016-05-27 12:34] illus0r commented on #154
closed by 5926fc5

[2016-05-27 12:34] illus0r commented on #156
closed by 5926fc5

[2016-05-27 12:34] #156 closed

[2016-05-27 12:35] illus0r commented on #153
closed by 5926fc5

[2016-05-27 12:37] timea opened #197 "Learn by doing - adding content"
I will not commit any changes, just a learning exercise conducted locally.

[2016-05-27 12:38] timea opened #198 "Learn by doing - adding includes"
I will not commit any changes, just a learning exercise conducted locally.

[2016-05-27 12:39] timea opened #199 "Learn by doing - adding pages"
I will not commit any changes, just a learning exercise conducted locally.

[2016-05-27 12:42] timea opened #200 "Lean by doing - adding new layout"
I will not commit any changes, just a learning exercise conducted locally.

[2016-05-27 13:07] #152 closed

[2016-05-27 14:09] #104 closed

[2016-05-27 14:22] lakruzz opened #201 "Changed featured events on front"
Please implement the following featured order:

code academy 2016 weight:10
code academy CPH weight:11
DOC STHLM weight: 20
CODE CPH weight:30

The rest should not have any weights

[2016-05-27 14:33] lakruzz opened #202 "Something is not right with the weights"
The Up next is not showing ...up next:

![image](https://cloud.githubusercontent.com/assets/155492/15612002/41a9c0e8-242d-11e6-8ef6-0e104771b8f4.png)

After Trondheim comes
CoDe Academy CPH
CoDe Academy Aarhus
DOC STHLM
DOC CPH
...

[2016-05-27 15:16] lakruzz commented on #202
The order of the result does not reflect the weights:

![image](https://cloud.githubusercontent.com/assets/155492/15612261/4c23ef2a-242e-11e6-804d-ec66dad25595.png)

doc sthl = 3
code sthlm = 3
code academy trd = 10
code cph = 2

[2016-05-27 15:23] lakruzz commented on #202
Please verify the following before committing:

Up Next:
- [ ] The events appear in actual chronological order

Conferences
- [ ] "Lighter" events ≈ 1 floats to the top heavier events ≈ 10 sinks to the bottom
- [ ] Even events with no date (e.g. academy2016 ) will be shown if given `weight:1`
- [ ] No past events will ever be shown - regardless of their weights

[2016-05-27 15:24] lakruzz commented on #202
@illus0r Id like you to work on this issue as you next!

[2016-05-27 15:30] lakruzz commented on #202
Please implement the following featured order:

code academy 2016 `weight:10`
code academy CPH `weight:11`
DOC STHLM `weight: 20`
CODE CPH `weight:30`

The rest should not have any weights

[2016-05-27 15:31] lakruzz commented on #202
Please implement the following featured order:

code academy 2016 `weight:10`
code academy CPH `weight:11`
DOC STHLM `weight: 20`
CODE CPH `weight:30`

The rest should not have any weights

[2016-05-28 11:33] lakruzz opened #203 "Sponsor shout-out for CoDe Academy needs a proof read"
[According to](https://praqma.slack.com/archives/code-academy/p1464333484000010) @RandomSort our [sponsor shoutout](http://www.code-conf.com/press/academy2016/code-academy-2016-sponsor.pdf) is embarrassing.

[2016-05-28 11:39] lakruzz opened #204 "Add orphan control to the report format"
The `report` should support orphan control when printing to PDF

[2016-05-28 11:39] lakruzz commented on #204
@illus0r
This issue needs to be made ready to work on - It currently needs and estimate.

I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-05-28 13:48] adamhenriques opened #205 "add viktor"

[2016-05-28 14:05] #205 closed

[2016-05-28 14:06] adamhenriques opened #206 "update viktor"

[2016-05-28 14:08] #206 closed

[2016-05-28 14:10] adamhenriques opened #207 "Speaker page"
Do we want to have all speakers on the same page - and not on event specific pages? http://www.code-conf.com/speakers/

Either way - we should make clear what conference/event the speakers will be presenting at.

[2016-05-28 14:13] adamhenriques opened #208 "Missing events"
The homapage http://www.code-conf.com/ is missing some events.

- Day of containers copenhagen is missing
- CoDe Cph needs to be added to the calendar

[2016-05-28 15:12] lakruzz commented on #208
probably duplicate of #202

[2016-05-28 15:32] lakruzz commented on #207
@adamhenriques
Have a  look at #171 I believe that's what you are asking for.

Should be covered in #166.

...If you ( @adamhenriques  ) agree - then mark this case a duplicate and close it - If you want it to still be open, then you'll have to elaborate how this is different.

[2016-05-28 15:34] #207 closed

[2016-05-28 16:02] lakruzz opened #209 "Add google analytics"

[2016-05-28 16:09] #209 closed

[2016-05-28 17:23] #25 closed

[2016-05-28 17:24] lakruzz commented on #25
Couldnt' make this work dynamically from http to https.

Change the height of the evenbrite include so it's default 300 - but be altered with a parameter like this:

[code]

[2016-05-28 20:05] lakruzz commented on #204
Wrong repo!  created this one instead: Praqma/code-maturity#216

[2016-05-28 20:05] #204 closed

[2016-05-30 08:06] RandomSort opened #210 "broken link"
http://www.code-conf.com/press/academy2016/
the link auditorium3 is broken.

[2016-05-30 08:15] RandomSort commented on #203
This was what I found. I don't know if @monaslarsen should go over it as well :)
"Academey" -> "Academy" (Three places?)
"Conferances" -> "Conferences"
"Achive" -> "Achieve"

[2016-05-30 12:07] adamhenriques opened #211 "add itfoum"

[2016-05-30 13:14] adamhenriques opened #212 "Sponsors are gone"
Sponsors are gone on all event pages - can we get them back/ roll back?

Thanks

[2016-05-30 13:27] lakruzz commented on #212
`git bisect` says this was broken in 691911ed94366ba773ed3db0ec36c313304b838d

[2016-05-30 13:36] lakruzz commented on #212
...looking at it

[2016-05-30 13:52] #212 closed

[2016-05-30 13:57] lakruzz commented on #202
![image](https://cloud.githubusercontent.com/assets/155492/15651346/2cb3610e-267f-11e6-93cf-301573f5629d.png)

[2016-05-30 13:59] lakruzz commented on #202
Please deliver the solution you have, so we can get the right events on the front page.

If you need to make a special case for events with no start date, then take that to a separate issue and close this one.

[2016-05-30 14:07] #202 closed

[2016-05-30 14:07] illus0r commented on #202
@lakruzz done! I'll describe the algorithm in readme file.

[2016-05-30 14:08] illus0r commented on #201
done

[2016-05-30 14:08] #201 closed

[2016-05-30 14:47] timea commented on #197
- learned about adding content
- front matter
- collections

[2016-05-30 14:47] #197 closed

[2016-05-30 15:11] timea commented on #199
- adding pages 3 different ways

[2016-05-30 15:11] #199 closed

[2016-05-30 15:51] #211 closed

[2016-05-30 15:52] adamhenriques opened #213 "add Maxim"

[2016-05-30 16:06] #213 closed

[2016-05-30 16:15] #200 closed

[2016-05-30 16:26] #198 closed

[2016-05-31 09:15] lakruzz opened #214 "Change the aarhus picture on the academy"

[2016-05-31 09:20] #214 closed

[2016-05-31 09:28] #208 closed

[2016-05-31 09:32] lakruzz opened #215 "Up Next is out of skew"
This is what is currently showing in the Up Next bow on the pront page:

![image](https://cloud.githubusercontent.com/assets/155492/15670063/b8d6b56a-2723-11e6-8a3c-2e1a07fa9f54.png)

The problem is that this is not actually the chronological order of the events - what is happening?

[2016-05-31 09:34] lakruzz commented on #215
Before you release I'd like you to perform the small verification that was described in  #202 - where this issue was mentioned first:

__Please verify the following before committing:__

Up Next:
- [ ] The events appear in actual chronological order

[2016-05-31 12:43] #167 closed

[2016-05-31 12:52] timea opened #216 "Learning by doing - CSS training"

[2016-05-31 22:05] #215 closed

[2016-05-31 22:08] lakruzz opened #217 "The upnext DIV should adjust height automatically"
In solving #215 I have implemented a fixed height on the UpNext  include on the frontpage

![image](https://cloud.githubusercontent.com/assets/155492/15692102/da6c1c24-278c-11e6-9535-1e1adc96c411.png)

This should automatically adapt to the height of the main event box to the left, and overflow should scroll

[2016-06-01 06:03] lakruzz commented on #174
Hi @timea can you take this one

Payback on some technical debt :-)

[2016-06-01 07:10] timea commented on #174
@lakruzz Aye, aye Sir 👍

[2016-06-01 07:41] timea opened #218 "Brand-text background color changed"
In the designs the color is green behind the text Continuous Delivery on our front page. Now it is brown. Should be green.

[2016-06-01 07:42] timea commented on #218
@lakruzz What was the reason for the change?

[2016-06-01 07:48] #174 closed

[2016-06-01 07:54] lakruzz commented on #218
Green doesn't work  - so we needed to try something different - @jonnycoull  is looking into a more permanent solution

[2016-06-01 07:54] #218 closed

[2016-06-01 10:29] lakruzz opened #219 "DE should be black"
![image](https://cloud.githubusercontent.com/assets/155492/15706531/61de7776-27f4-11e6-946a-9fca9c86d8aa.png)

[2016-06-01 11:08] lakruzz opened #220 "All events listing"
Hammered out from #161

Create a single page with all events -make it accept filters

- [ ] Event type (e.g. Hackaton, Conference, Meetup)

![subpage_v2](https://cloud.githubusercontent.com/assets/17589853/15580437/a915682c-2360-11e6-9a6c-1049d1a9177a.jpg)

[2016-06-01 11:22] illus0r opened #221 "Make a link to *All events* list from the frontpage"
Subtask of #161
![image](https://cloud.githubusercontent.com/assets/797993/15248256/e63badd6-1921-11e6-84cc-a75243d335cd.png)

[2016-06-01 11:29] illus0r opened #222 "Style events page"
subtask of #220

[2016-06-01 13:00] jonnycoull opened #223 "Main page sell copy"
@adamhenriques we spoke about this a while ago I need a new line for under continuous delivery, at the moment the list of items could be mistaken for another menu.

Can you give its a once over please?
![screen shot 2016-06-01 at 13 50 32](https://cloud.githubusercontent.com/assets/17589853/15710272/31c5dfa4-2801-11e6-9ded-e46264fe1e40.png)

[2016-06-01 13:14] illus0r commented on #220
@lakruzz we can seriously reduce time on development is we'll reuse existing event modules on this page

![image](https://cloud.githubusercontent.com/assets/797993/15710390/844ae43e-2812-11e6-8e34-e14da35add65.png)

[2016-06-01 16:43] lakruzz commented on #220
Yep - Let's do that to begin with - well spotted.

[2016-06-01 16:45] lakruzz commented on #223
How about:

__...We're building the community of CoDe'ers and DevOps__

[2016-06-02 09:33] illus0r opened #224 "Add menu for event filtering"
Subtask of #220

![image](https://cloud.githubusercontent.com/assets/797993/15740556/fd70d020-28bd-11e6-9bbf-04a069acf312.png)

[2016-06-02 09:38] illus0r commented on #222
[Scaling down](https://github.com/Praqma/code-conf.com/issues/220#issuecomment-222988006) will reduce this issue time

[2016-06-02 10:59] monaslarsen commented on #203
Uploading the proofed version to code-conf.com /press/

[2016-06-02 12:09] adamhenriques opened #225 "add t2d"

[2016-06-02 12:19] #225 closed

[2016-06-02 12:20] #203 closed

[2016-06-02 12:22] adamhenriques opened #226 "Subpage for sponsor profile description"
Can we get a subpage for the sponsors descriptions - just like we have with speakers. So clicking on the sponsor logo - each sponsor will have a subpage with elaborate company profile.

Example: http://archive.code-conf.com/osl15/sponsors/ca.html

[2016-06-02 12:24] adamhenriques opened #227 "Eventbrite widget gets cut off - needs fixing"
The eventbrite ticket widget gets cut off in the buttom on (http://www.code-conf.com/code-cph-2016/)

![screen shot 2016-06-02 at 14 22 17](https://cloud.githubusercontent.com/assets/8004259/15744668/a19af4dc-28cd-11e6-922a-3adf5511abf1.png)

[2016-06-02 12:27] monaslarsen opened #228 "Update filename for sponsor pdf"

[2016-06-02 12:34] #228 closed

[2016-06-02 13:16] illus0r commented on #220
- [ ] implement `detach()` to make event height flexible

[2016-06-02 13:53] lakruzz commented on #227
@adamhenriques in reference to #25

...The solution is to adjust the height - trial'n'error until it fits using the `hight` property:

[code]

[2016-06-02 14:02] lakruzz opened #229 "We lost the sponsors on the front page of code academy"
www.code-conf.com/academy2016

![image](https://cloud.githubusercontent.com/assets/155492/15747533/6d33fdde-28db-11e6-9817-e39a55d7ad40.png)

[2016-06-02 14:03] lakruzz commented on #229
I'll run a bisect to see what killed it

[2016-06-02 14:06] lakruzz opened #230 "Build error on gh-pages!!!"
![image](https://cloud.githubusercontent.com/assets/155492/15747617/da34e6be-28db-11e6-8676-ade5a37f142d.png)

[2016-06-02 14:06] lakruzz commented on #230
Running a bisect to see when it's introduced

[2016-06-02 14:10] lakruzz commented on #230
![image](https://cloud.githubusercontent.com/assets/155492/15747737/65363d8a-28dc-11e6-92cf-6ef9fefc0968.png)

...aaaaaaand the winner is @monaslarsen in 9d935212c8eb7acadf3c53c7e71fbb0210aa0f1b

[2016-06-02 14:13] #230 closed

[2016-06-02 14:23] lakruzz commented on #229
Seems to be a side effect of #230

[2016-06-02 14:23] #229 closed

[2016-06-02 14:43] monaslarsen opened #231 "Proof speakers on CoDe-Conf"

[2016-06-02 16:02] #231 closed

[2016-06-02 20:19] adamhenriques opened #232 "add joakim"

[2016-06-02 20:39] #232 closed

[2016-06-03 10:39] #220 closed

[2016-06-03 10:41] illus0r commented on #224
closed in 6302c33

[2016-06-03 10:42] #224 closed

[2016-06-03 10:43] illus0r commented on #221
Not critical now, still we have the menu
![image](https://cloud.githubusercontent.com/assets/797993/15776564/2ad904be-2991-11e6-9577-38b1c51893e2.png)

but good to have

[2016-06-03 11:14] illus0r commented on #171
Ideally
---

- speakers on event pages are linked to speaker's page.
- this link contains `event_id` to filter speakers and `speaker_id` to scroll to speaker we've clicked.

Faster
---
Current script doesn't accept two id's at once.
@lakruzz can we show just a page of filtered speakers, without scrolling to clicked one? We can implement that later.

[2016-06-03 11:18] illus0r commented on #166
This task should be done before #171, so I'll take this first

[2016-06-03 11:21] lakruzz opened #233 "No link to academy from front page"
@les-praqma:

[2016-06-03 11:23] lakruzz opened #234 "We need Danfoss on as sponsor on CoDe Academy"

[2016-06-03 11:30] lakruzz commented on #233
It was working last time I left it (f836aa8)

Bisecting says:
Error introduced in 9d935212c8eb7acadf3c53c7e71fbb0210aa0f1b by @monaslarsen

[2016-06-03 11:39] #233 closed

[2016-06-03 11:48] lakruzz commented on #234
introduced by @timea in c6b4c583594ab96a7ae4fb82553c5b369fe3d04d

[2016-06-03 11:52] illus0r opened #235 "highlight active menu item"
`All events` item should be highlighted, for example
![image](https://cloud.githubusercontent.com/assets/797993/15777844/140bb984-299b-11e6-9ff2-d40ffa002eb4.png)

[2016-06-03 11:53] lakruzz commented on #234
hmmm?

[2016-06-03 12:02] lakruzz commented on #234
fixed with #233

[2016-06-03 12:02] #234 closed

[2016-06-03 12:07] lakruzz opened #236 "Should we enforce a pull --rebase before each deliver?"
#233 Was caused by an introduction of old code in an update branch

Should we consider enforcing a `git pull --rebase` in our `git deliver` alias?

@JKrag  - any opinions on this?

[2016-06-03 12:14] JKrag commented on #236
My initial thoughts are:

a) If a deliver could cause this regression, then it must be because git decided that it was a clean merge. In such case, a git pull --rebase would also just have merged it silently, and it might not have been noticed.

b) git deliver already does enough magic. Adding pull --rebase would add even more complexity. Also, there is the disadvantage that while pull --rebase is

[2016-06-03 19:54] adamhenriques opened #237 "add github as sponsor"

[2016-06-03 19:57] #237 closed

[2016-06-04 20:29] lakruzz opened #238 "Events should be listed chronologically on all events page"
http://www.code-conf.com/events/#all

[2016-06-06 08:06] illus0r commented on #166
@timea do we need `All speakers` page, where every speaker will be listed?

[2016-06-06 08:24] timea commented on #166
@illus0r  I believe it is good that we have it. It is just that when we are on one event, that needs a separate one showing only the event related ones.

[2016-06-06 08:39] illus0r commented on #171
Title should look like

![image](https://cloud.githubusercontent.com/assets/797993/15816400/4ebb6628-2bdb-11e6-91d3-559c2c2935e1.png)

I think we should keep the megaphone as it is about the speakers
and lose the switch icon at the end

[2016-06-06 08:54] illus0r commented on #171
- [ ] on speakers page link conferencess to conferences' pages
- [ ] make a task for adding a full speakers list (we need a menu item for that)
- improve logo
   - [ ] proper color for title
   - [ ] proper text (title, not basename)
   - [ ] proper `OC` color

[2016-06-06 09:27] illus0r opened #239 "Add full speakers list"
Now speakers are listed by conferences and there is no common speaker's list.
It'll require a menu link as well

@timea please, set a priority and proper milestone for that task

[2016-06-06 09:31] illus0r opened #240 "Scroll to clicked speaker on speakers' list"
When I click speker's name on conf's page, I go to this conference's speaker list.
And I have to scroll to find a speaker I've clicked.

![image](https://cloud.githubusercontent.com/assets/797993/15817779/58d0e3ac-2be2-11e6-9b96-9283085dce25.png)

@timea please, set a priority and proper milestone for that task

[2016-06-06 09:35] illus0r opened #241 "Improve title on speaker's page"
![image](https://cloud.githubusercontent.com/assets/797993/15817864/c6ee7142-2be2-11e6-9b4b-eb2b8a040d47.png)

Title should look like

![image](https://cloud.githubusercontent.com/assets/797993/15816400/4ebb6628-2bdb-11e6-91d3-559c2c2935e1.png)

Timea said

and lose the switch icon at the end

   - [x] proper color for title
   - [x] proper text (title, not basename)
   - [x] proper `OC` color

[2016-06-06 09:42] timea commented on #240
This change is not committed yet. I cannot see the behaviour. Are the
speakers ordered by first name after clicking on the conference's page the
speaker's name? We will create a new milestone together with Lars on
Wednesdays, then we can assign.

On 6 June 2016 at 11:31, illus0r <notifications@github.com> wrote:

[2016-06-06 09:43] illus0r opened #242 "On speaker's pages fix links to conferences"
There's a bug on nested events like `/academy2016/aar/`
they are linked to `/aar/`

@timea please, set a priority and proper milestone for that task

[2016-06-06 10:17] lakruzz opened #243 "Add BKUltrasound as sponsor"

[2016-06-06 10:22] #243 closed

[2016-06-06 10:27] illus0r commented on #171
closed in f7bedc8

[2016-06-06 10:27] #171 closed

[2016-06-06 10:32] illus0r commented on #240
@timea I've just pushed
Speakers are ordered by name on speakers page. They are sorted via frontmatter on event pages

ok, I'll set current milestone so as not to loose the issue

[2016-06-06 10:35] illus0r commented on #166
I've make #239 for that

[2016-06-06 10:35] #166 closed

[2016-06-06 10:35] jonnycoull commented on #223
@lakruzz if your happy with that can @illus0r pop it in?

[2016-06-06 10:37] jonnycoull commented on #75
@lakruzz should we have a hangout on this?

[2016-06-06 10:37] illus0r commented on #223
@lakruzz @jonnycoull yep, I can :)

[2016-06-06 10:52] #222 closed

[2016-06-06 11:04] lakruzz commented on #239
@illus0r @timea  I'm still the one doing the prioritization :-)

But I'm not sure what this is about @illus0r

http://www.code-conf.com/speakers/

Is a full speakers list isn't it?

How do they get listed by conference?

Please elaborate - I don't know what I'm prioritizing here

[2016-06-06 11:08] lakruzz commented on #239
@illus0r
This case is assigned to you for more information.

Please elaborate on what it's about - it's unclear. Consider using examples or even better screen dumps that unambiguously describes what this case is about.

When you are done, please unassign yourself from the case

[2016-06-06 11:11] lakruzz opened #244 "Adjust bkultrasound logo"

[2016-06-06 11:14] #244 closed

[2016-06-06 12:04] timea commented on #239
@lakruzz, yes, understood.

[image: ____________________________________________________________]
Timea Kiss
Continuous Delivery Sorceress
tk@praqma.com
+45 25 66 83 44 <+45%2025%2066%2083%2044>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com/academy2016/?src=mailbanner>

On Mon, Jun 6, 2016 at 1:08 PM, Lars Kruse <notification

[2016-06-06 13:57] illus0r commented on #239
@lakruzz

Yep! But it's not accessible from any page of the site. So now the page is empty: I didn't waste time to fill unaccessible page.

![image](https://cloud.githubusercontent.com/assets/797993/15824403/b086f0da-2c07-11e6-8b03-896ae735635c.png)

If we need this page (i guess we need), we want to add it's link to the menu and fix the filter so this page was full by default.

[2016-06-06 17:43] lakruzz commented on #223
go ahead

[2016-06-06 17:45] lakruzz commented on #239
OOh - it wasn't empty when I wrote my comment

[2016-06-07 08:44] illus0r commented on #239
@timea what kind of grooming do we need now?

[2016-06-07 08:56] monaslarsen commented on #239
Hey @illus0r, I'm on a road trip with Timea and Lars, Lars asks you to work on the newest issue in Praqma.com, the table styling one

[2016-06-07 09:21] illus0r commented on #239
Good morning, Mona! Yep, I've started with [306](https://github.com/Praqma/praqma.com/issues/306)

[2016-06-07 09:22] illus0r commented on #239
Just wanted to get rid of `grooming` label :D

[2016-06-08 08:20] lakruzz opened #245 "There's not such things as "Hackatones""
The right word  is "Hackatons"

![image](https://cloud.githubusercontent.com/assets/155492/15887429/85ed8e40-2d62-11e6-991a-2483d7151cb3.png)

[2016-06-08 08:21] lakruzz opened #246 "Trondheim CoDe Academy should be on the front"
...It's currently not showing!!!
![image](https://cloud.githubusercontent.com/assets/155492/15887475/c8f46e84-2d62-11e6-968a-d53388f3d149.png)

[2016-06-08 08:30] lakruzz commented on #239
http://www.code-conf.com/speakers/

- [ ] should show all speakers listed alphabetically.
- [ ] but only if they speak at conference that's not ended yet

@illus0r please set the estimate accordingly

[2016-06-08 10:34] lakruzz commented on #75
YES I want this online as soon as possible!!!

The GitHub event should be one that fits this format:

[Next.Generation.Software.Development.Seminar.pdf](https://github.com/Praqma/code-conf.com/files/304518/Next.Generation.Software.Development.Seminar.pdf)

[2016-06-08 11:43] lakruzz commented on #238
Duplicate of #239

[2016-06-08 11:47] lakruzz commented on #238
@illus0r
This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

I assume its small - if it is then work it immidiately
- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-06-08 11:48] lakruzz commented on #236
Good comment @JKrag

[2016-06-08 11:48] #236 closed

[2016-06-08 11:51] lakruzz commented on #226
@adamhenriques

This case is assigned to you for more information.

Please elaborate on what it's about - it's unclear. Consider using examples or even better screen dumps that unambiguously describes what this case is about.

When you are done, please unassign yourself from the case

[2016-06-08 11:56] lakruzz commented on #240
Something like this:

http://www.code-conf.com/speakers/#code-cph-2016?speaker=edtompson

[2016-06-08 11:57] illus0r commented on #240
Now that  works like http://localhost:3002/speakers/?tag=doc-sthlm-2016#mhausenblas

[2016-06-08 11:59] lakruzz commented on #240
NO!

[2016-06-08 11:59] lakruzz commented on #240
The anchor goes before the parameter

[2016-06-08 12:00] lakruzz commented on #240
BUT it would be the same as having both as parameters:

Now that works like http://localhost:3002/speakers/?event=doc-sthlm-2016&speaker=mhausenblas

[2016-06-08 12:02] lakruzz commented on #240
Have a look at https://github.com/Praqma/code-conf.com/blob/gh-pages/javascripts/praqmajsutils.js

[2016-06-08 12:03] lakruzz commented on #240
Used like this:

https://github.com/Praqma/praqma.github.io/blob/master/mailsignature/create.html

[2016-06-08 12:05] lakruzz commented on #240
[code]

[2016-06-08 12:12] lakruzz commented on #221
Not relevant since the all events is already in the menu, and then up next is now scrollable

[2016-06-08 12:12] #221 closed

[2016-06-08 12:15] lakruzz commented on #216
It's a personal todo item of @timea we're taking it out of the project scope

[2016-06-08 12:15] #216 closed

[2016-06-08 12:17] lakruzz commented on #161
We have a MVP of this now (in case #221)  I'm deferring it to the backlog for now

[2016-06-08 12:26] lakruzz commented on #217
Not reproducible

[2016-06-08 12:26] #217 closed

[2016-06-08 12:32] lakruzz commented on #75
Let's create some task that can implement a MVP of this page and add it to the milestone named [Meetup pages](https://github.com/Praqma/code-conf.com/issues?milestone=12)

[2016-06-08 12:33] lakruzz commented on #75
Use the content from Next.Generation.Software.Development.Seminar.pdf (attached above)

[2016-06-08 12:36] lakruzz commented on #75
Have a look at past events in http://www.meetup.com/code-u/   and  http://www.meetup.com/Jenkins-Copenhagen-JAM/ for more inspiration - these events are representative for what we're trying to communicate

[2016-06-08 13:49] illus0r commented on #239
So we'll show only speakers of upcoming events?

[2016-06-08 13:54] #246 closed

[2016-06-08 14:12] #245 closed

[2016-06-08 14:15] #238 closed

[2016-06-08 14:22] timea commented on #242
Hey @illus0r , the code academies do not have speakers. This means no speaker will have the code academies in their list. I could not reproduce this.

[2016-06-08 14:27] timea commented on #210
@monaslarsen
Hey Darling,

Where can I find the picture audience_auditorium.jpg? Can you send it to me?

Thanks!

[2016-06-08 14:46] #235 closed

[2016-06-08 14:47] #227 closed

[2016-06-08 14:58] illus0r commented on #242
@timea Yep, i know.
However, if some subevent will have a speaker this bug will pop out.

[2016-06-08 16:30] jonnycoull commented on #245
@lakruzz @illus0r sorry my bad I checked that a while back.
![screen shot 2016-06-08 at 17 27 23](https://cloud.githubusercontent.com/assets/17589853/15902204/b06ba6c0-2d9e-11e6-9258-d71954682a60.png)

[2016-06-08 17:20] timea commented on #245
@jonnycoull @lakruzz @illus0r  that is alright, it is correct now - as all other items (all event, conferences, meetups) I kept it in plural.

[2016-06-08 18:27] jonnycoull commented on #75
I've made one out of jenkins jam. @lakruzz take a look. will rework for GITHUB as well.

![codeconf_meetups_jam](https://cloud.githubusercontent.com/assets/17589853/15905992/fb4976d0-2dae-11e6-8a47-e9cb10721a0d.jpg)

[2016-06-08 19:07] jonnycoull commented on #75
@lakruzz and GIThub, thoughts? as you can see the workshops etc could be interexcangable with whatever elements you need.

![codeconf_meetups_git](https://cloud.githubusercontent.com/assets/17589853/15907333/a3df616a-2db4-11e6-81eb-14f0e9877a3a.jpg)

[2016-06-09 06:47] adamhenriques opened #247 "ed abstract"

[2016-06-09 06:56] #247 closed

[2016-06-09 08:19] #223 closed

[2016-06-09 08:30] #219 closed

[2016-06-09 09:12] timea commented on #242
@illus0r okay, then I put this on the backlog and we keep an eye on it.

[2016-06-09 09:30] monaslarsen commented on #210
Sent

[2016-06-09 09:32] monaslarsen opened #248 "Make images open in new tab"
On
http://www.code-conf.com/press/academy2016/

clickable links and images should open in new tab

[2016-06-09 10:28] #240 closed

[2016-06-09 10:55] illus0r opened #249 "Meet-up: summary"
Subtask of #75

![image](https://cloud.githubusercontent.com/assets/797993/15927302/75b577ee-2e49-11e6-80fa-5c0980596d23.png)

- [x] short description
- [x] date-location
- [x] [image]

[2016-06-09 10:57] illus0r opened #250 "Meet-up: agenda"
Subtask of #75
Scale down to just `md` text

![image](https://cloud.githubusercontent.com/assets/797993/15927372/019c69d4-2e4a-11e6-92ec-6acaba4c5780.png)

[2016-06-09 11:00] illus0r opened #251 "Meet-up: header"
Subtask of #75

Reuse existing module without any modifications.

![image](https://cloud.githubusercontent.com/assets/797993/15927446/754407de-2e4a-11e6-93e3-13bf95f682dd.png)

[2016-06-09 11:10] illus0r opened #252 "Meet-up: call to action"
![image](https://cloud.githubusercontent.com/assets/797993/15927708/d5cb983c-2e4b-11e6-8e3f-d287679c88ed.png)

Just text and button.

[2016-06-09 11:12] #210 closed

[2016-06-09 11:12] illus0r opened #253 "Meet-up: workshops"
Subtask of #75

Try to reuse `pullout`+`3columns`. If no way — just `3columns`

![image](https://cloud.githubusercontent.com/assets/797993/15927740/0749a674-2e4c-11e6-8ede-d235d8323ac2.png)

[2016-06-09 11:22] timea commented on #248
@lakruzz  is this something you want implemented?

[2016-06-09 11:35] timea commented on #242
@lakruzz  as this is a future problem I suggest giving it a new prioritization

[2016-06-09 12:06] illus0r opened #254 "Meet-up: make look good on the All events list"
Subtask of #75

- [ ] remove power icon
- [ ] make text smaller

![image](https://cloud.githubusercontent.com/assets/797993/15929105/919a2130-2e53-11e6-8780-c609cc8096ba.png)

[2016-06-09 12:32] illus0r commented on #251
Hi, @jonnycoull!
Can you upload the image for this page?

[2016-06-09 12:33] illus0r commented on #253
Hey, @jonnycoull!
Can you upload these 3 images for the page?

[2016-06-09 12:34] illus0r commented on #249
Hello, @jonnycoull!
Can you upload the picture for that?

[2016-06-09 12:35] illus0r commented on #250
Hi, @jonnycoull!
Could you share the image?

[2016-06-09 13:09] jonnycoull commented on #253
@illus0r yeah man I can do that now. SQUARE images for these right? any specific pixel size? Also @lakruzz I got a few of these from GITHUBS website, but if there a sponsor I thought they might like that? maybe best to run it by them first?

[2016-06-09 13:12] jonnycoull commented on #254
Hi @illus0r you know that chart and mock up I sent recently on SLACK, it might help with instances like this. So each piece of copy has in bold a sort of lesser sub head (which is bold copy) . So It could be a case that its GITHUB MEET-UP then in the lesser sub head, NEXT GENERATION SOFTWARE DEVELOPMENT. as it looks a bit clunky that size? as an option ? @lakruzz attached again for ref.

[CODECONF

[2016-06-09 13:29] jonnycoull commented on #251
Hi @illus0r all done in images, hopefully. let me know if not.

[2016-06-09 13:29] jonnycoull commented on #249
Hi @illus0r all done in images, hopefully. let me know if not.

[2016-06-09 13:29] jonnycoull commented on #250
Hi @illus0r all done in images, hopefully. let me know if not.

[2016-06-09 13:52] illus0r commented on #253
@jonnycoull yep, squares! 280x280 will do.

[2016-06-09 13:54] illus0r commented on #253
@jonnycoull ahh, you've already uploaded! Great, size seams to be is good

[2016-06-09 14:00] illus0r commented on #251
@timea
made something **very** minimal. I've pushed to `251-Meet-up-header` branch, please have a look, if I can publish it.

Anyway I'll improve it somehow tomorrow.

![image](https://cloud.githubusercontent.com/assets/797993/15932224/84ac8d2c-2e63-11e6-9fab-9f56d12d937e.png)

[2016-06-09 14:22] timea commented on #251
@illus0r  I very much like it! Publish it!

[2016-06-09 14:44] jonnycoull commented on #253
@illus0r cool, let me know if you need anything else.

[2016-06-09 20:42] lakruzz commented on #242
what's the problem, why is the URL not set correctly. it the estimate still valid?

[2016-06-09 20:47] lakruzz commented on #239
yes

[2016-06-10 09:46] illus0r commented on #254
@jonnycoull thanks for your input

In fact this blue strip
![image](https://cloud.githubusercontent.com/assets/797993/15960519/debc4708-2f08-11e6-8631-0b31d39eb989.png)
Should have the same content as this blue strip
![image](https://cloud.githubusercontent.com/assets/797993/15960546/041e71e2-2f09-11e6-8f4a-61b6a2304fef.png)

Otherwise will have to invent some extra rules of naming. But we can! If

[2016-06-10 09:56] illus0r commented on #239
good, so medium

[2016-06-10 10:02] illus0r commented on #251
I'll update pictures

[2016-06-10 10:39] illus0r commented on #242
I've decided to deliver faster, this thing seamed not critical to me.

yes

[2016-06-10 10:46] #251 closed

[2016-06-10 13:14] #249 closed

[2016-06-10 13:23] illus0r commented on #254
@monaslarsen
Hi, Mona! Can you help me with copy on that page?

![image](https://cloud.githubusercontent.com/assets/797993/15965492/dada65d4-2f26-11e6-92b1-e1887a5a3933.png)

I mean bottom text. It goes from `_events/next-generation....md`, from this code
[code]
Now it's huge and needs some contraction or complete rewriting

[2016-06-10 13:29] illus0r commented on #250
- [ ] make include for header
- [ ] style it

[2016-06-10 13:32] illus0r opened #255 "Meet-up: make header look good on mobile"
Subtask of #251

![image](https://cloud.githubusercontent.com/assets/797993/15965826/d4edcb82-2f28-11e6-90e0-8cf5d2c40af4.png)

[2016-06-12 13:27] lakruzz commented on #253
@jonnycoull the beer glass is fine, but the octocat (used for the workshop in the middle) is for a workshop run in collaboration with GiHub and Praqma, An orange octocat? Maybe just an orange backgound, or an Octocat wearing a Praqma Cap? ...don't know.

[2016-06-12 14:22] #125 closed

[2016-06-13 09:03] timea commented on #250
@lakruzz This issue does not have a priority, but @illus0r asked me to help on this one.
@illus0r can we do that, when you break down a briefing task to assign Lars so he gives a priority to each of them?

[2016-06-13 09:44] lakruzz commented on #250
All right but it doesn't really make sense _not_ to have this, so it's part of what defines the success of the milestone.

[2016-06-13 10:50] jonnycoull commented on #253
Could put a PRAQMA logo next to the cat, they have s set of rules... @lakruzz thats why I asked if it would be ok on the original issue to use their pics originally , if you have a marketing contact I can speak to them if you want. if you haven't done so yet?
![screen shot 2016-06-13 at 11 43 12](https://cloud.githubusercontent.com/assets/17589853/16005027/f2097492-315c-11e6-9c2b-ab2ea6ebb1d5.png)

[2016-06-13 11:03] lakruzz commented on #253
![image](https://cloud.githubusercontent.com/assets/155492/16005336/05459e3c-3167-11e6-96c0-f943ec78e30e.png)

We have a different GitHub organisation where we're collaborating with the GitHubbers: http://github.com/githubpartners/praqma - I've created a case there, where I* asking them to add your GitHub handle so you can access - then we can chat with them directly

[2016-06-13 11:10] jonnycoull commented on #253
Great thanks, I've made image with the two icons, joined with some flow artwork to replace just the cat for now, and ill see how I get on with the above? @lakruzz
![gitmeetsquare2](https://cloud.githubusercontent.com/assets/17589853/16005538/bd4b6a28-315f-11e6-85ff-dff05c441203.jpg)

[2016-06-13 11:45] lakruzz commented on #253
I'm closing this one, it seems that it's implemented

[2016-06-13 11:45] #253 closed

[2016-06-13 11:49] lakruzz opened #256 "Style fonts on meetup pages"
![image](https://cloud.githubusercontent.com/assets/155492/16006424/593ef794-316d-11e6-922d-36574bf42d48.png)

Why are we using bold font for body text - it's different from what's suggested in #75

![image](https://cloud.githubusercontent.com/assets/155492/16006499/c3900f3e-316d-11e6-92b6-d8569aa19f2c.png)

- let's clean up the SASS...

[2016-06-13 12:12] lakruzz commented on #256
Appears to be only a problem on Lars PC, but in all three browsers: Safari, Chrome and Firefox

[2016-06-13 12:44] lakruzz opened #257 "refactor event-main.html"
[code]

Rename some something more generic (e.g. `decorated-picture`)

add features to make it support the intended use (agenda) in meetup pages

Assert it goes good - otherwise produce an error output - (don't fail silently)

[2016-06-13 13:04] lakruzz opened #258 "Fail with noise"
In `academy2016` if we make the YAML illegal:

[code]

The  sponsor include produces no output.

Make the includes fail with noise: Print error to the screen, ...and the console

[2016-06-13 13:09] lakruzz opened #259 "Add the "Work smarter with GitHub" meetup"
Add meetup:

http://www.meetup.com/code-u/events/230840654/

[2016-06-13 13:09] lakruzz opened #260 "Style the Meetups listing:"

[2016-06-13 13:09] lakruzz opened #261 "Style the Meetups listing:"
Duplicate of #254

[2016-06-13 13:11] #261 closed

[2016-06-13 13:13] lakruzz commented on #254
![image](https://cloud.githubusercontent.com/assets/155492/16008655/54a87398-3179-11e6-90d1-ca86c390ae2f.png)

[2016-06-13 13:13] lakruzz commented on #254
A caption can not span more than one line ...Doooh!

[2016-06-13 13:16] lakruzz commented on #254
E.g. __Nxt-Gen VIP meetup__

[2016-06-13 13:34] lakruzz commented on #259
Use the meetup on Wednesday to produce another entry

[2016-06-13 13:37] lakruzz opened #262 "Add "Docker Aarhus" meetup"
Add the docker aarhus meetup http://www.meetup.com/Docker-Aarhus/events/231441979/  to the meetup pages

[2016-06-13 13:39] lakruzz opened #263 "Add "Automation nights Aarhus" meetup"
Add this meetup to meetup pages

http://www.meetup.com/CoDe-U-AROS/events/230864013/

[2016-06-13 13:44] lakruzz opened #264 "Add "DevOps days Oslo" as en event page"
http://www.meetup.com/DevOps-Norway/events/229686627/

[2016-06-13 13:47] illus0r commented on #258
One way of falling is to call not existing include.
[code]

This code will throw no messages. But if I change false to true, I will make a trouble.

[code]

![image](https://cloud.githubusercontent.com/assets/797993/16009659/61a78608-3186-11e6-854e-a771ee6c0917.png)

Not very semantic way, I'll search another one.

[2016-06-13 13:49] lakruzz commented on #264
The issue would normally go to the "content update" milestone, which is maintained by Mona, But since the Meetup format is still being worked on by @timea and @illus0r it could be a collaboration btw @timea  and @monaslarsen

The thing is, we want volume and diversity, to see that the format we create fits the diversity of how we actually use it.

#263 #262 #259

[2016-06-13 13:49] lakruzz commented on #259
The issue would normally go to the "content update" milestone, which is maintained by Mona, But since the Meetup format is still being worked on by @timea and @illus0r it could be a collaboration btw @timea  and @monaslarsen

The thing is, we want volume and diversity, to see that the format we create fits the diversity of how we actually use it.

#263 #262 #264

[2016-06-13 13:50] lakruzz commented on #262
The issue would normally go to the "content update" milestone, which is maintained by Mona, But since the Meetup format is still being worked on by @timea and @illus0r it could be a collaboration btw @timea  and @monaslarsen

The thing is, we want volume and diversity, to see that the format we create fits the diversity of how we actually use it.

#263 #259 #264

[2016-06-13 13:50] lakruzz commented on #263
The issue would normally go to the "content update" milestone, which is maintained by Mona, But since the Meetup format is still being worked on by @timea and @illus0r it could be a collaboration btw @timea  and @monaslarsen

The thing is, we want volume and diversity, to see that the format we create fits the diversity of how we actually use it.

#262 #259 #264

[2016-06-13 13:58] illus0r commented on #258
Dividing by `0` doesn't work :(
[code]
is `Infinity`

[2016-06-13 14:02] illus0r commented on #75
@lakruzz what a proper moment of closing `Size 0` issues?

[2016-06-13 14:06] lakruzz commented on #258
Or build resilience into everything we do:

1. Why does https://github.com/Praqma/code-conf.com/blob/gh-pages/_includes/sponsors.html fail when the yaml becomes unvaild
2. Make sure it doesn't happen silently

The problem you are trying to solve is best solved in Jekyll: https://github.com/jekyll/jekyll/issues/4713

[2016-06-13 14:27] lakruzz commented on #75
When we have hammered out all the issues we need from it -we don't need the
briefing case (open) anymore - it's still available for reference even if
it's closed.

Have a quick reed of
http://www.praqma.com/stories/milestones-and-officehours/

[2016-06-13 15:31] illus0r commented on #75
Thanks! I'll read tomorrow morning.

[2016-06-14 12:20] adamhenriques opened #265 "add dc"

[2016-06-14 12:23] #265 closed

[2016-06-14 13:49] timea commented on #264
@lakruzz I spoke with @monaslarsen and we decided to follow the layout of the next gen event. I showed here the includes we have for now and she liked them. This means for now we will have a summary, an agenda, a benefits and workshops include as potential lego blocks. Right now the meetups look very different on meetup.com, we thought to put an agenda on all of them (Oslo does not have one yet)

[2016-06-15 10:01] timea commented on #263
@lakruzz I spoke with @monaslarsen and we decided to follow the layout of the next gen event. I showed here the includes we have for now and she liked them. This means for now we will have a summary, an agenda, a benefits and workshops include as potential lego blocks. Right now the meetups look very different on meetup.com, we thought to put an agenda on all of them (Oslo does not have one yet)

[2016-06-15 10:01] timea commented on #262
@lakruzz I spoke with @monaslarsen and we decided to follow the layout of the next gen event. I showed here the includes we have for now and she liked them. This means for now we will have a summary, an agenda, a benefits and workshops include as potential lego blocks. Right now the meetups look very different on meetup.com, we thought to put an agenda on all of them (Oslo does not have one yet)

[2016-06-15 10:14] illus0r commented on #250
@lakruzz
I wanted to remove pover icon from events, that are not brands.
![image](https://cloud.githubusercontent.com/assets/797993/16076126/7f316566-32fa-11e6-8fab-ffd2a3e15bb4.png)
We need it on **CoDe STKHLM** and don't need here. Should I create a task to remove it? That's liquid deal, not content update.
![image](https://cloud.githubusercontent.com/assets/797993/16076194/ce4c4f58-32fa-11e6-8b

[2016-06-15 10:17] #250 closed

[2016-06-15 10:17] illus0r commented on #254
@lakruzz
I wanted to remove pover icon from events, that are not brands.
![image](https://cloud.githubusercontent.com/assets/797993/16076126/7f316566-32fa-11e6-8fab-ffd2a3e15bb4.png)
We need it on **CoDe STKHLM** and don't need here. Should I create a task to remove it? That's liquid deal, not content update.
![image](https://cloud.githubusercontent.com/assets/797993/16076194/ce4c4f58-32fa-11e6-8b

[2016-06-15 12:12] illus0r commented on #258
@lakruzz
Sorry, I didn't get your idea. I've read the Jekyll issue through, but the problem isn't solved by jekyll guys. Wrong YAML is processed with `0` exit code
![image](https://cloud.githubusercontent.com/assets/797993/16077251/5d07caec-3300-11e6-8517-70db6dc3654a.png)

So i see two ways:

:one: Draw the message on screen. We can provide a short text as well to explain where to fix the error.

[2016-06-15 12:52] illus0r commented on #256
@lakruzz
Can't reproduce it. I've tried automated crossbrowser testing, here are results:

https://www.browserstack.com/screenshots/7cc96c0268b6dd56f1113a92e3a24b2ebea7bf09
http://browsershots.org/http://www.code-conf.com/im-a-github-man/

None of browsers have this problem. I've [asked on Slack](https://praqmacollaborator.slack.com/archives/random/p1465993952000002) as well.

How these news can c

[2016-06-15 13:49] lakruzz commented on #254
@illus0r
Yes - please take it to a different issue - we'll close this one with reference to the fact that the text needed to be fixed - not the implementation

[2016-06-15 13:49] #254 closed

[2016-06-15 13:51] lakruzz commented on #252
Cant read the context of this one

[2016-06-15 13:51] #252 closed

[2016-06-15 13:52] lakruzz commented on #255
duplicate of #254

[2016-06-15 13:52] #255 closed

[2016-06-15 13:55] #256 closed

[2016-06-15 14:15] timea commented on #263
The md file is prepared, we will need a main picture for the top, one for the summary, we might keep the one for the agenda from the I'm a github man. Any ideas @lakruzz @jonnycoull ?

[2016-06-15 14:21] lakruzz commented on #263
@timea @monaslarsen

We want to be able to do some of the meetups more "hand held"

As long as we have covered the the markdown in the files (the liquid `{{content}}`) looks fine too - we're OK.

[2016-06-15 14:21] illus0r opened #266 "Event listing: remove power logo from meetups' titles"
Subtask of #254

![image](https://cloud.githubusercontent.com/assets/797993/16076126/7f316566-32fa-11e6-8fab-ffd2a3e15bb4.png)
We need it on **CoDe STKHLM** and don't need here. That's liquid deal, not content update.
![image](https://cloud.githubusercontent.com/assets/797993/16076194/ce4c4f58-32fa-11e6-8bc3-473b6fe57ac4.png) ![image](https://cloud.githubusercontent.com/assets/797993/16076178/b5b8

[2016-06-15 14:21] lakruzz commented on #263
@timea

This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-06-15 14:33] timea commented on #263
@lakruzz Can you elaborate on "handheld"?

[2016-06-15 14:39] timea commented on #263
@jonnycoull as soon as we figure out the pictures, this issue is done.

[2016-06-15 14:41] illus0r commented on #259
Need help with copy

![image](https://cloud.githubusercontent.com/assets/797993/16084144/51b1f742-3320-11e6-9114-5c4b40143a90.png)

[2016-06-15 14:41] #259 closed

[2016-06-15 14:43] illus0r opened #267 "Fill the gap"
Issue for `Content update`

Need help with copy
http://www.code-conf.com/working-with-github/

![image](https://cloud.githubusercontent.com/assets/797993/16084144/51b1f742-3320-11e6-9114-5c4b40143a90.png)

[2016-06-15 14:47] #263 closed

[2016-06-15 15:06] illus0r commented on #262
Still need some care. I'll spin off a content task

[2016-06-15 15:06] #262 closed

[2016-06-15 15:47] #264 closed

[2016-06-15 15:53] timea opened #268 "Pictures for docker-meetup"
http://www.code-conf.com/docker-meetup/
This event needs its own identity with its pictures. @jonnycoull is already at it

[2016-06-15 15:55] timea commented on #268
@lakruzz Prio 2 is assumed, as the original task it belongs to #262 had prio 2.

[2016-06-15 15:55] lakruzz opened #269 "Don't release if it's not ready"
You can not use the same picture(s) for all events

![image](https://cloud.githubusercontent.com/assets/155492/16087106/238c90d2-3322-11e6-988a-ae7a97a5b5a6.png)

This is a live site!  I'm about to preset this to 50 people - in 17 minutes from now - only to discover that the site is useless..

...Come on!!!

I'll unpublish duplicates -

[2016-06-15 16:01] timea commented on #268
@lakruzz What do we do in this case? A new case is born from an already existing one. When you are not available and we still want to keep the milestone, we just roll on - @jonnycoull is already working on the task, without your approval. Kind of off, but aiming for finishing.

[2016-06-15 16:02] #269 closed

[2016-06-15 16:03] timea opened #270 "Pictures for working with GitHub meetup"
http://www.code-conf.com/working-with-github/

@lakruzz What do we do in this case? A new case is born from an already existing one. When you are not available and we still want to keep the milestone, we just roll on - @jonnycoull is already working on the task, without your approval. Kind of off, but aiming for finishing.

[2016-06-15 16:04] lakruzz opened #271 "Make each meetup unique"
I did some disaster management in #269 - I unpublished 3 events - You can't release to our live site before your are done!

Make each meetup unique

[2016-06-15 16:33] jonnycoull commented on #268
@timea that link is dead I need to see the meet up to make the pics?

[2016-06-15 16:37] timea commented on #268
@jonnycoull yes, sorry, Lars is presenting the site, so he unpublished them.

Here are some screenshots from my local.

![image](https://cloud.githubusercontent.com/assets/4135651/16088590/1fc06086-3328-11e6-8d3b-37207f344426.png)

![image](https://cloud.githubusercontent.com/assets/4135651/16088598/303fbfba-3328-11e6-8088-17fd91bfa0b7.png)

[2016-06-15 16:43] timea opened #272 "Pictures for Automation Night"
In reference to #263

@jonnycoull
THe exisiting meetup page is http://www.meetup.com/CoDe-U-AROS/events/230864013/
here is how it looks locally

![image](https://cloud.githubusercontent.com/assets/4135651/16088799/016b7dcc-3329-11e6-80b2-f0ed0875a5b5.png)

![image](https://cloud.githubusercontent.com/assets/4135651/16088805/0913987a-3329-11e6-8f90-9b057191f350.png)

[2016-06-15 16:46] timea opened #273 "Pictures for Dev Ops Day Oslo"
In reference to #264

@jonnycoull
the meetup page is http://www.meetup.com/DevOps-Norway/events/229686627/

This is how it looks locally

![image](https://cloud.githubusercontent.com/assets/4135651/16088927/71ea43e4-3329-11e6-9f7b-f04f37475db6.png)

[2016-06-15 16:48] timea commented on #268
@jonnycoull  the meetup page is http://www.meetup.com/Docker-Aarhus/events/231441979/

[2016-06-15 17:07] jonnycoull commented on #270
![screen shot 2016-06-15 at 17 48 20](https://cloud.githubusercontent.com/assets/17589853/16089656/0ea042d4-3324-11e6-90f1-eeadbc81d117.png)
![screen shot 2016-06-15 at 18 06 59](https://cloud.githubusercontent.com/assets/17589853/16089655/0e4991f0-3324-11e6-839f-f93253337ebe.png) mock up for colour and page items

[2016-06-15 17:08] jonnycoull commented on #270
images uploading to, images. @timea @illus0r #270

[2016-06-15 17:57] jonnycoull commented on #272
![screen shot 2016-06-15 at 18 57 25](https://cloud.githubusercontent.com/assets/17589853/16091322/084acd62-332b-11e6-82b5-f93fc32a38ad.png)
Mock up. images in @illus0r @timea

[2016-06-15 18:32] jonnycoull commented on #273
new mock up and colour way. @timea @illus0r

![screen shot 2016-06-15 at 19 31 24](https://cloud.githubusercontent.com/assets/17589853/16092438/d00c9e1c-332f-11e6-80bc-a76df5647408.png)

[2016-06-15 19:02] jonnycoull commented on #268
![screen shot 2016-06-15 at 20 02 02](https://cloud.githubusercontent.com/assets/17589853/16093502/0efca348-3334-11e6-8b2b-4c720b07dbaf.png)
hi @timea @illus0r here's docker! images uploading.

[2016-06-15 19:08] jonnycoull opened #274 "fix the brown headline on main page"
Can we please change the colour of the brown logo to the correct colour please, @illus0r @timea

https://slack-files.com/files-pri-safe/T0DC2A72Q-F1DCPDG1Y/codeconf_jc_home_v5.pdf?c=1466017616-7206f7f1281d8de604216518a80f91a9e3ee2603

https://slack-files.com/files-pri-safe/T0DC2A72Q-F1DCCMYVB/codeconf_colours.pdf?c=1466017595-9f3f8d9b5db69b47dae06cea37a373fe9a02b26a

for reference

[2016-06-15 19:09] lakruzz commented on #268
@timea yes feel free to make conscious decisions about priority when I'm not available:

I'm the benevolent dictator - you are the trusted lieutenant  - and @jonnycoull is a one-man-army :-)

Getting things done is good.

[2016-06-15 19:11] jonnycoull opened #275 "Fix/tidy main nav bar"
hello again can we today up the main nav bar please to match the mock up.

main logo. as you see then the main elements and the secondary smaller ones on the right higher plus social icons.

https://slack-files.com/files-pri-safe/T0DC2A72Q-F1DCPDG1Y/codeconf_jc_home_v5.pdf?c=1466017814-761775934faafa9a1c93aa1eb8d0c54dd88e16c3

thanks, were getting live events and @lakruzz has this site and showing

[2016-06-15 19:14] jonnycoull commented on #268
aye! lets do this.  @lakruzz @illus0r @timea all images now in. beware, I'm creating new issues. who knows what will happen!

[2016-06-16 07:17] adamhenriques opened #276 "Update event calendar on http://www.code-conf.com/"

[2016-06-16 07:40] timea commented on #268
@jonnycoull haha, great! We will take a look at them today!

@lakruzz well then, I assume for now to make all pic stuff prio 1 and we
will be done by the meeting.

On Wed, Jun 15, 2016 at 9:14 PM, jonnycoull <notifications@github.com>
wrote:

--

[image: ____________________________________________________________]
Timea Kiss
Continuous Delivery Sorceress
tk@praqma.com
+45 25 66 83 44 <+45%2025%20

[2016-06-16 08:05] #273 closed

[2016-06-16 08:16] #272 closed

[2016-06-16 08:34] #270 closed

[2016-06-16 08:41] #268 closed

[2016-06-16 09:19] timea opened #277 "Meet-ups vs Meetups"
In the design we have Meet-Ups in both the menu and in the event pages in the type.
When I searched online meet-ups, I only got results typed as meetups.
Though it looks really cool in the design with orange dash.
@lakruzz  thoughts?

![image](https://cloud.githubusercontent.com/assets/4135651/16111662/cf4b2442-33b3-11e6-9616-d2b0ac047fe4.png)

[2016-06-16 09:23] timea opened #278 "Meetups: Subtitle in meetups needs redesign"
In reference to the bottom of #75

We have the subtitle in the left column with different font.

for example http://www.code-conf.com/im-a-github-man/

right now: the "For forward-thinking software executives" is solved with t subtitle option, while it should be a header to the summary text.

[2016-06-16 09:24] jonnycoull commented on #277
That's possibly some bad grammar on my part, what's the correct way of
wrighting it? But the short orange hyphen is a code conf style thing. But
can and should be used in sub heads to keep a theme running.

On Thursday, 16 June 2016, timea <notifications@github.com> wrote:

[2016-06-16 09:29] timea opened #279 "Meetups: Font in the summary is not the correct one"
in reference to #75

[2016-06-16 09:30] timea opened #280 "Meetups: Text and picture ratio is not correct in the summary"
In reference to #75

[2016-06-16 09:31] lakruzz opened #281 "Events should be listed chronologically on code academy page"
http://www.code-conf.com/academy2016/

![image](https://cloud.githubusercontent.com/assets/155492/16112023/b752251e-33b5-11e6-9a6b-5e63b9f510cc.png)

[2016-06-16 09:31] timea opened #282 "Meetups: Workshops background is missing"
In reference to #75

[2016-06-16 09:32] lakruzz commented on #281
@illus0r @timea I assume this is a small issue, if not then correct the estimate.

[2016-06-16 09:33] timea opened #283 "Meetups: Workshop text is with wrong fonts"
In reference to  #75

[2016-06-16 09:34] timea opened #284 "Meetups: 'What are you waiting for' wrong font"
In reference to #75

[2016-06-16 09:39] lakruzz commented on #277
I think the correct spelling is "meet ups" - which means that technically both "meetups" and "meet-ups" are wrong.

meetup.com kinda introduce the spelling "meetup" but I guess mostly for convenience in url and twitter handle.

I think we should either stay with the current "Meetups"  or use the "Meet-ups" that @jonnycoull suggested in the mockup  - it's not something I have strong opinions about.

[2016-06-16 09:42] jonnycoull commented on #277
Stylistically it's a nice nod to the core brand so could we use the short
orange hyphen? And then we sort of own our own brand meet-ups

On Thursday, 16 June 2016, Lars Kruse <notifications@github.com> wrote:

[2016-06-16 09:45] timea commented on #277
+1 on our self branded meet-ups!

On Thu, Jun 16, 2016 at 11:42 AM, jonnycoull <notifications@github.com>
wrote:

--

[image: ____________________________________________________________]
Timea Kiss
Continuous Delivery Sorceress
tk@praqma.com
+45 25 66 83 44 <+45%2025%2066%2083%2044>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.

[2016-06-16 09:50] lakruzz commented on #283
@timea
This case is assigned to you for more information.

Please elaborate on what it's about - it's unclear. Consider using examples or even better screen dumps that unambiguously describes what this case is about.

When you are done, please unassign yourself from the case

---

What is the "Workshop text" ?

Could you elaborate - what page are we talking about @timea What do you see - and what

[2016-06-16 09:51] lakruzz commented on #284
@timea
This case is assigned to you for more information.

Please elaborate on what it's about - it's unclear. Consider using examples or even better screen dumps that unambiguously describes what this case is about.

When you are done, please unassign yourself from the case

[2016-06-16 09:57] #281 closed

[2016-06-16 09:58] timea commented on #271
Sorry about the miscommunication, will not happen again.

[2016-06-16 09:58] #271 closed

[2016-06-16 10:00] timea commented on #283
What I mean is
#75 has
![image](https://cloud.githubusercontent.com/assets/4135651/16112899/d3d4d4f8-33b9-11e6-9342-c13f091b9fde.png)
vs we have
![image](https://cloud.githubusercontent.com/assets/4135651/16112917/e4e0345e-33b9-11e6-83ad-a7dbd49e2c13.png)

I collected all deviations from the design, so we can prioritize them in the next meeting.

[2016-06-16 10:02] timea commented on #284
What I mean is
#75 has
![image](https://cloud.githubusercontent.com/assets/4135651/16112960/156c3550-33ba-11e6-8504-ac3ce3c4c4af.png)
vs we have
![image](https://cloud.githubusercontent.com/assets/4135651/16112977/260c4e2c-33ba-11e6-97d0-02c4dbbbc887.png)

[2016-06-16 10:04] timea commented on #282
#75 has
![image](https://cloud.githubusercontent.com/assets/4135651/16113013/64adbf8a-33ba-11e6-8f11-72c9348b32b0.png)
vs we have
![image](https://cloud.githubusercontent.com/assets/4135651/16113019/74d22108-33ba-11e6-8361-e6c6a591f42b.png)

[2016-06-16 10:05] timea commented on #248
@lakruzz do you want this done?

[2016-06-16 10:06] timea commented on #75
As everything is listed in other issues, this issue can be closed.

[2016-06-16 10:06] #75 closed

[2016-06-16 10:16] timea opened #285 "Cleaning up ALL 26 not needed branches"
We have all these branches which are not integrated to gh-pages just laying around, chilling.

Can we just get rid of them? Some were to show progress before release, some where made by content folks.

Can you take a look at your own branches and if they are not needed, just delete them?

@illus0r @monaslarsen @adamhenriques @jonnycoull

Thanks in advance :)

[2016-06-16 10:21] lakruzz commented on #248
No thanks

Normally the convention is that if a page is within the same domain it opens in the same window - and if it's outside then it opens in a new window.

All links on http://www.code-conf.com/press/academy2016/ are internal.

[2016-06-16 10:21] #248 closed

[2016-06-16 10:23] monaslarsen commented on #285
Hey @timea, can you help me by elaborating on what it is I should look for and where?
Sincerely - The Newbie in tech ;)

[2016-06-16 10:25] lakruzz commented on #285
run `git purge-all-delivered`

[2016-06-16 10:28] monaslarsen commented on #285
Thanks. And to change directory I use cd .code-conf.com ?

[2016-06-16 10:32] monaslarsen commented on #285
Ah, cd ../code-conf.com right?

[2016-06-16 10:33] monaslarsen commented on #285
<img width="745" alt="screen shot 2016-06-16 at 12 33 19" src="https://cloud.githubusercontent.com/assets/13627068/16113852/9351938a-33be-11e6-825b-d12794387ba6.png">

[2016-06-16 12:15] timea commented on #274
@jonnycoull hey there!

The link to the files is broken. You can always rightclick your local file, and push ctrl-V in the issue text area (where I am writing right now too) and it will upload from your memory.

Can you include the files like this?

Thanks!

[2016-06-16 12:17] illus0r opened #286 "Fail sponsors with noise"
SUbtask of #258

I'll use first approach

[code]

- [ ] Show the message if one of obligatory field is absent
- [ ] Make the message notable
- [ ] Show some debug info

[2016-06-16 12:29] timea commented on #275
@jonnycoull hey there!

The link to the files is broken. You can always rightclick your local file, and push ctrl-V in the issue text area (where I am writing right now too) and it will upload from your memory.

Can you include the files like this?

Thanks!

[2016-06-16 12:55] #274 closed

[2016-06-16 13:21] timea commented on #275
Do you mean it should look like this? @jonnycoull
![image](https://cloud.githubusercontent.com/assets/4135651/16118130/e78a7c7a-33d5-11e6-9e83-882d922f58bb.png)

What happens with the

![image](https://cloud.githubusercontent.com/assets/4135651/16118136/f7f4afae-33d5-11e6-81dc-13fa0b707d49.png)

[2016-06-16 13:32] timea commented on #276
@adamhenriques could you elaborate on this one?

[2016-06-16 14:01] jonnycoull commented on #275
![screen shot 2016-06-16 at 14 59 15](https://cloud.githubusercontent.com/assets/17589853/16119342/f246e75a-33d2-11e6-942e-6b706550881d.png)
Hi @timea thanks for looking at this here's a grab of how I see it working. its a bit deeper than the original, but it allows for a hierarchy of design and menu importance. does my screenshot make sense?

[2016-06-16 14:03] jonnycoull commented on #275
SO @timea so put your conferences, training, meet-ups where my mockup says CONFERENCES MEET-UPS HACKATHONES. and the rest go top right with the social buttons. SPONSORS, pAPERS ETC.

[2016-06-16 14:12] timea commented on #275
@jonnycoull Thanks for the screenshot, this is different from what I found. Is this a design that was already okayed by @lakruzz?

[2016-06-16 14:22] jonnycoull commented on #275
Yep it had the big green light a while back. @timea , words or actual menu names may have changed but the idea is there.

[2016-06-16 15:14] #242 closed

[2016-06-17 07:48] RandomSort opened #287 "Automation Night -> Automation nights"
The title at http://www.code-conf.com/automation-nights-aar/ is Automation Night, it should be Automation Nights . Perhaps Automation Nights Aarhus .
I'm undecided on the use of the plural or singular term in the body text.
/end nitpicking

[2016-06-17 08:17] timea commented on #287
@RandomSort the thing is, if we put the 's' on, it breaks the design in some places... Sorry. We needed short names, otherwise the layout is ... lets just say wrong. I will make an issue to take the off button off, so we can have your s displaying.

[2016-06-17 08:20] timea commented on #287
@RandomSort
![image](https://cloud.githubusercontent.com/assets/4135651/16144722/2012c210-3475-11e6-81ec-c3c612a927c3.png)

[2016-06-17 08:21] timea commented on #287
Actually @RandomSort #266 is your way to happiness :)

[2016-06-17 08:27] #287 closed

[2016-06-17 09:29] illus0r opened #288 "Buggy mobile menu"
![image](https://cloud.githubusercontent.com/assets/797993/16146526/22ca56e6-3487-11e6-82b8-d83e0028622f.png)

[2016-06-17 10:06] illus0r commented on #173
I've made a separate page with __formspree.io__ form on it. It has a spam protection. I've unpublished this page so

- [ ] @lakruzz could verify it (especially my copywork)
- [ ] Remove `published: false` form `pages/sponsor.md`
- [ ] Remove line 17 from `_includes/header.html`
- [ ] Send the first letter and verify it

[2016-06-17 10:48] jonnycoull commented on #288
Could there be some sort of auto code that detects a headline over a certain amount of characters / size and adjusts the font size to shrink it to fit? @illus0r

[2016-06-17 10:49] jonnycoull opened #289 "Amend style for bottom section in meet-ups."
Hi @timea @illus0r Could we polish the base section of the meet ups please? to add in the separate section, too much white currently.

this...
![screen shot 2016-06-17 at 11 44 17](https://cloud.githubusercontent.com/assets/17589853/16148327/e0350cbe-3480-11e6-965e-2ba1df37686f.png)

needs to become....
![screen shot 2016-06-17 at 11 47 08](https://cloud.githubusercontent.com/assets/17589853/16148

[2016-06-17 10:51] illus0r commented on #288
@jonnycoull I'd like to make a 🍔  menu :)

[2016-06-17 11:05] timea commented on #289
@jonnycoull thanks for the input! There are already tasks for that! #282 #283

When you create an issue, please do not assign priority or people, just create the issue. You can always poke us with @illus0r  and @timea, just this way we keep our process :)

[2016-06-17 11:07] #289 closed

[2016-06-17 11:13] jonnycoull commented on #288
@illus0r make it so, its the best solution on mobile. do you need a icon?

[2016-06-17 11:32] illus0r commented on #288
@jonnycoull yep! Thanks!
And it's possible a good idea *not* to make a mobile menu design before I implement something. We can style it later, if we'll need.

[2016-06-17 11:33] illus0r commented on #282
![image](https://cloud.githubusercontent.com/assets/797993/16149294/7813cb1c-3498-11e6-96ad-146df881aba6.png)

[2016-06-17 11:36] #282 closed

[2016-06-17 11:50] illus0r commented on #279
@jonnycoull which font did you use?
![image](https://cloud.githubusercontent.com/assets/797993/16149633/d874e796-349a-11e6-9717-7c861f75187c.png)

[2016-06-17 12:07] illus0r commented on #279
Hmm, can we use Roboto Mono (so as not to involve 4-th font family 😀 )

![image](https://cloud.githubusercontent.com/assets/797993/16149973/e7fba356-349c-11e6-9e26-0eaab40f4a8c.png)

[2016-06-17 12:36] illus0r commented on #280
Sorry, I can't fit the mesh accurately by your mockup because of the grid. Well, I can, but if you need indeed :D Now it looks like on this picture:

![image](https://cloud.githubusercontent.com/assets/797993/16150659/13b9c7bc-34a1-11e6-8d3d-619dfcf2c4cc.png)

[2016-06-17 12:41] illus0r commented on #280
If you need, reopen this task

[2016-06-17 12:42] #280 closed

[2016-06-17 12:43] jonnycoull commented on #282
@timea can the copy be tidied as well or is that hidden in another issue?

[2016-06-17 12:47] jonnycoull commented on #279
Hi @illus0r its Courier. standard mono type font. to look more like code so this is to be used for all body copy. (its what you've probably seen on the newer mock ups. @lakruzz requested it a while back.

[2016-06-17 12:58] illus0r commented on #279
@jonnycoull
Thanks for your feedback!
Can you find something similar on https://fonts.google.com/?category=Monospace ? That could simplify the job.

[2016-06-17 13:09] monaslarsen opened #290 "Add 'Class graduated' across image for Trondheim"
http://www.code-conf.com/academy2016/

[2016-06-17 13:29] jonnycoull commented on #279
Cutive Mono looks about the closest i think, has that soft round edge. like courier. but only one size so Im thinking Anon. @illus0r ?

https://fonts.google.com/specimen/Anonymous+Pro?category=Monospace

[2016-06-17 13:42] timea commented on #282
@jonnycoull That does not have an issue yet. That would be a new issue in
the content update milestone, with a mention to @monalarsen :)

On Fri, Jun 17, 2016 at 2:43 PM, jonnycoull <notifications@github.com>
wrote:

--

[image: ____________________________________________________________]
Timea Kiss
Continuous Delivery Sorceress
tk@praqma.com
+45 25 66 83 44 <+45%2025%2066%2083%2044>
Praqma
www.p

[2016-06-17 13:50] illus0r commented on #279
@jonnycoull that's some pages after applying Anon to body

![image](https://cloud.githubusercontent.com/assets/797993/16152558/2674d36a-34ab-11e6-982a-469bc6fab1af.png)

[2016-06-17 13:50] illus0r commented on #279
![image](https://cloud.githubusercontent.com/assets/797993/16152612/6d4710aa-34ab-11e6-8d79-df46411f8687.png)

[2016-06-17 13:50] illus0r commented on #279
![image](https://cloud.githubusercontent.com/assets/797993/16152629/7e1d3440-34ab-11e6-8edc-f7bfcb684b0b.png)

[2016-06-17 13:50] illus0r commented on #279
![image](https://cloud.githubusercontent.com/assets/797993/16152651/90dd1622-34ab-11e6-969c-32b2084c6e59.png)

[2016-06-17 14:32] #278 closed

[2016-06-17 14:39] illus0r commented on #279
closed it in #278

[2016-06-17 14:39] #279 closed

[2016-06-17 14:42] jonnycoull opened #291 "Tidy copy in Git meet ups"
Hi @monaslarsen can you lease with @timea to polish the copy in the git hub meet up please? It needs a bit of fleshing out in terms of words, and @timea it needs to reflect the mock up. Thanks.

[2016-06-17 15:23] timea commented on #279
@lakruzz as a heads up, we worked together with @jonnycoull on the approved designs to make the meetup pages prettier. The font is changed on the site, small improvements were made.

[2016-06-17 16:00] #284 closed

[2016-06-21 10:10] lakruzz commented on #277
No change needed - we're good

[2016-06-21 10:15] lakruzz opened #292 "Change spelling of meetup"
In reference to  #277

It should be spelled Meet-Ups

not
![image](https://cloud.githubusercontent.com/assets/155492/16226008/c0e3ca68-37a9-11e6-8d59-89b88c9fb727.png)

[2016-06-21 10:15] lakruzz commented on #277
Issue created

[2016-06-21 10:15] #277 closed

[2016-06-21 10:44] adamhenriques opened #293 "Update event calendar on frontpage"
Calendar needs to be updated. (Academy Trondheim)

Can we have the calendar update itself based on end date?

[2016-06-21 14:40] #283 closed

[2016-06-21 17:55] lakruzz opened #294 "Spelling error on github meetup"

[2016-06-21 17:57] #294 closed

[2016-06-23 13:22] adamhenriques opened #295 "add atalssian"

[2016-06-23 13:31] #295 closed

[2016-06-23 13:33] adamhenriques opened #296 "add nykredit"

[2016-06-23 13:44] #296 closed

[2016-06-24 10:59] adamhenriques opened #297 "add dc"

[2016-06-24 11:03] #297 closed

[2016-06-24 14:10] #291 closed

[2016-06-27 12:20] monaslarsen commented on #290
June 27th, asked JC to add watermark to image, in Trello

[2016-06-28 14:48] adamhenriques opened #298 "add Svenn"

[2016-06-28 14:57] #298 closed

[2016-06-29 08:44] adamhenriques opened #299 "add sven abstract"

[2016-06-29 08:52] #299 closed

[2016-06-29 12:17] adamhenriques opened #300 "Individual Conference Description/teasers"
Could we get teasers on the individual conference landing pages describing the format of the conference. We only have for CoDe Sthlm: http://www.code-conf.com/code-sthlm-2016/ http://www.code-conf.com/events/?tag=conferences

We need that for all events to sell/explain the conference format.

[2016-06-29 14:59] #286 closed

[2016-06-30 11:12] jonnycoull opened #301 "Automatically mark graduated classes with a ribbon"
HI @timea @illus0r we need a GRADUATION BANNER across completed code academies. as per @monaslarsen instructions. I've placed an PNG images/pages/academy2016/GRAD.png at this location and inc a rough mock here.

[2016-06-30 11:13] jonnycoull commented on #301
![screen shot 2016-06-30 at 12 07 10](https://cloud.githubusercontent.com/assets/17589853/16486334/fc5fb638-3ebb-11e6-9e7b-994a05b66947.png)

[2016-06-30 11:35] Andrey9kin opened #302 "Get code conduct for our confs"

[2016-06-30 11:42] #258 closed

[2016-06-30 11:46] illus0r commented on #258
Added asserts to every include, that needed
added var `page_color` to `_config.yml` and used it to make `color` variable to be not obligatory.
If `color` is not set for some events, they will use `site.page_color` instead. Currently, it's black.

[2016-06-30 15:12] jonnycoull opened #303 "Change the color of code-sthlm-2016 so we can see the switch button on the site"
For use on the orange bars where the orange icon isn't visible. thats the only use.

link here...

images/on-symbolblk.png

@illus0r @timea

[2016-07-01 06:43] bicschneider opened #304 "Dead / not working links on code-conf.com"
That's it. 242 links checked. 25 warnings found. 5 errors found.

[linkchecker-code-conf.zip](https://github.com/Praqma/code-conf.com/files/342958/linkchecker-code-conf.zip)

LinkChecker 8.6

LinkChecker comes with ABSOLUTELY NO WARRANTY! This is free software, and you are welcome to redistribute it under certain conditions. Look at the file `LICENSE' within this distribution.

Start checking at 2

[2016-07-01 07:21] lakruzz commented on #304
We need a way to filter http 301 errors (permanent redirects) out, they
don't even qualify as warnings.

[2016-07-01 09:04] DharaniSP commented on #304
Hi Lars,

1.Configure a global rule.
2.Add it to post-build step.
3.In job_dsl : For job linkcheck add the following code

job('Web_'+site.split('http://')[1] + '-linkcheck') {
..
...
..
consoleParsing {
          globalRules('LinkCheckerError')
          unstableOnWarning() //optional
          failBuildOnError() //optional
      }
..
..
}

4. In Addition to this,

 install log parser plugin, whi

[2016-07-01 09:13] lakruzz opened #305 "Remove CFP in CoDe STHLM"
![image](https://cloud.githubusercontent.com/assets/155492/16517251/d32353d0-3f7c-11e6-9077-749a6b2f4c0f.png)

[2016-07-01 09:22] lakruzz commented on #305
blocked by #302

[2016-07-01 09:37] DharaniSP commented on #304
These steps  are for a better view of logs :)

On Fri, Jul 1, 2016 at 11:04 AM, Dharani Priya Palanisamy <dsp@praqma.net>
wrote:

[2016-07-01 09:40] #305 closed

[2016-07-01 10:11] meekrosoft commented on #275
So guys, what is the feedback that is awaited?  From @lakruzz ?

[2016-07-01 10:16] illus0r commented on #275
Hmmm, may be prioritizing?

[2016-07-04 10:55] adamhenriques opened #306 "- m add ibm"

[2016-07-04 10:57] adamhenriques opened #307 "add IBM sponsor"

[2016-07-04 11:23] #307 closed

[2016-07-04 15:01] #290 closed

[2016-07-04 15:03] monaslarsen opened #308 "Fix issue with layered ribbons in Academy Trondheim"

[2016-07-04 15:49] monaslarsen commented on #308
<img width="1128" alt="screen shot 2016-07-04 at 17 03 01" src="https://cloud.githubusercontent.com/assets/13627068/16564729/64a28680-4209-11e6-96c1-41bf2d4a518f.png">

[2016-07-05 12:45] #306 closed

[2016-07-05 16:58] #292 closed

[2016-07-05 17:43] timea commented on #308
@monaslarsen I had an idea for this but it did not work. Seams we need a new picture with the graduated ribbon on top @jonnycoull

[2016-07-05 19:04] timea commented on #275
@meekrosoft @illus0r I was not sure what was the latest approved design by Lars. Got the info since.

[2016-07-06 10:23] adamhenriques commented on #226
@timea is I understood @monaslarsen and @illus0r are already on this case

[2016-07-06 10:23] timea commented on #226
Hi @adamhenriques and @monaslarsen ! We had a meeting with @lakruzz when we talked about this issue. He has asked you for more info, as he is not sold as product owner that this task is actually needed. Please provide further info about the return on investment  on the case, just as he asked for it :).

Also for future reference, prioritizing is belonging per principle to @lakruzz(as he is the pro

[2016-07-06 10:29] monaslarsen commented on #226
My five cents: Return of investment is first and foremost that the sponsors are promised a 75 word bio when buying a sponsorship - and it has worked, because the sponsors have signed up and sent us their bios, because it is important to them.

[2016-07-06 10:30] timea commented on #226
@adamhenriques @monaslarsen @illus0r

As a summary:

The estimates are done by developers, as we are estimating developer effort.
The prioritization is done by the product owner as we are all serving his needs.
We all are creating issues that are potentially important and need to be checked out by the product owner.

[2016-07-06 10:32] timea commented on #226
We have been working on this new flow, and I realize now you were not briefed @adamhenriques and @monaslarsen . Sorry about that. We are working on getting better in the workflows and company communication, knowledge sharing in general.
|

[2016-07-06 10:38] adamhenriques commented on #226
@timea the description has been updated and i have removed the label for grooming.

[2016-07-11 07:28] monaslarsen commented on #300
- Copy CoDeConf Sthlm to Cph
- Write up DoC Sthlm + Cph

[2016-07-11 08:58] adamhenriques opened #309 "add conference info doccph"

[2016-07-11 08:59] #300 closed

[2016-07-11 09:21] adamhenriques opened #310 "add event info docsthlm"

[2016-07-11 09:24] #310 closed

[2016-07-11 09:25] adamhenriques opened #311 "venue stockholm doc"

[2016-07-11 09:35] #311 closed

[2016-07-11 09:38] adamhenriques opened #312 "add event info doccph"

[2016-07-11 09:42] #312 closed

[2016-07-11 09:49] monaslarsen opened #313 "Use/create stylesheet options for description box"
All events now have an info-box, but need more styling - white headlines, line changes etc.

Examine existing options in the current stylesheet and apply or have more options added through Ivan

[2016-07-11 10:26] adamhenriques opened #314 "add stephen"

[2016-07-11 10:40] #314 closed

[2016-07-11 10:53] adamhenriques opened #315 "add automic"

[2016-07-11 10:58] #315 closed

[2016-07-13 14:48] #313 closed

[2016-07-13 14:50] monaslarsen commented on #313
Closed via command line for now, creating new issue to get help from Ivan

[2016-07-13 14:53] monaslarsen opened #316 "Work with Ivan on adding headlines and white boxes for event-descriptions"
All events now have an info-box, but need more styling - white headlines, line changes etc.

Examine existing options in the current stylesheet and apply or have more options added through Ivan

[2016-07-14 09:22] adamhenriques opened #317 "update spekaer"

[2016-07-14 09:29] #317 closed

[2016-07-15 12:43] adamhenriques opened #318 "update template"

[2016-07-15 12:47] #318 closed

[2016-07-15 12:53] adamhenriques opened #319 "add sponsor"

[2016-07-15 12:55] #319 closed

[2016-07-18 12:49] lakruzz opened #320 "Danske Commodities sponsor logo"
...IN presse material:

![image](https://cloud.githubusercontent.com/assets/155492/16915220/d4dc4e0c-4cf6-11e6-82e7-1ad6966bc8e4.png)

http://www.code-conf.com/press/academy2016/

[2016-07-18 13:26] #320 closed

[2016-07-18 14:16] illus0r opened #321 "GEB test: does every page have a logo in the footer"
Subtask of https://github.com/Praqma/job-dsl-collection/issues/6

[2016-07-19 09:19] adamhenriques opened #322 "Restore old CoDe-Conf event pages for reference use"
Somehow there has been made changes in the code so that old CoDe Conf pages have been changed, missing speakers, missing content, skewed formating etc. Can we find thes changes and revert then to older versions so that we can use previous conference pages for references, SEO etc. E.g CoDeCPH15 is missing some of the speakers - as well as the presentation slides made available on the frontpage.

We

[2016-07-19 12:08] illus0r opened #323 "List past events somewhere"
Subtask of #325

[2016-07-19 12:09] illus0r opened #324 "Link event pages to `past events` page"
Subtask of #325

[2016-07-19 12:10] illus0r opened #325 "Make past events page"
The reason is to show past events so participants could see all our feats. That's good for SEO.

[2016-07-19 12:46] illus0r commented on #325
My thoughts:
- This page is not important for the site's main function. So it shouldn't show in the main navigation. When user looks for outdated event he'll scroll to the bottom. So link to it should appear in the bottom of every event list (all events, conferences, hackathons, meet-ups) that's natural.
- All events pages should link to same **past events** page, that contains all past events wit

[2016-07-19 13:48] illus0r commented on #325
Hi, @jonnycoull! Can you design this things? We need to understand, how
- [ ] the list
- [ ] past event page
- [ ] and link to it

should be presented

[2016-07-19 14:24] illus0r commented on #323
![image](https://cloud.githubusercontent.com/assets/797993/16953407/9834a29e-4dd5-11e6-8bfb-028106e58890.png)

[2016-07-19 14:27] illus0r opened #326 "Mark past events in the list"
Subtask of #325
Now it's easy to mistake and try to enroll to past event. The look of the event should talk "I'm over"

[2016-07-19 14:29] #323 closed

[2016-07-19 14:32] illus0r opened #327 "Mark past events page"
Subtask of #325
Now easy to mistake and try to enroll to past event. The look of the event should talk "I'm over"

[2016-07-20 07:40] adamhenriques opened #328 "lego abstract"

[2016-07-20 08:20] #328 closed

[2016-07-20 09:52] jonnycoull commented on #325
Hi @illus0r just seen this, ill have a think....

[2016-07-20 10:24] jonnycoull commented on #275
@illus0r @timea can we get this actioned please? it will form part of @illus0r other query in issue #325 thanks.

[2016-07-20 10:25] jonnycoull commented on #275
![bottom design](https://cloud.githubusercontent.com/assets/17589853/16983408/97869180-4e6c-11e6-8647-93b0dcc288c2.png)
![top bar design](https://cloud.githubusercontent.com/assets/17589853/16983407/97858fd8-4e6c-11e6-96b9-c0665d42026f.png)

[2016-07-20 10:25] jonnycoull commented on #275
the orange bits on the bottom design are what the mouse over state is. top bar has smaller copy top right plus social icons.

[2016-07-20 10:31] jonnycoull commented on #325
Hi @illus0r as per #275 some of it will help resolve this which had the archive or what ever the chosen name is in the top bar in the smaller top right names. also on the footer design that still hasn't been implemented from #275 its been a month I thought this would have been resolved by now. Attached is the revised look of the pen mark that wasn't used in your version of the events pages. PAST E

[2016-07-20 10:31] jonnycoull commented on #325
![past present](https://cloud.githubusercontent.com/assets/17589853/16983601/777d284e-4e6d-11e6-80cc-11bb1e9b263f.png)

[2016-07-20 10:31] jonnycoull commented on #325
@illus0r @timea ill upload that now.

[2016-07-20 10:34] jonnycoull commented on #308
@timea just move the position up so it runs over that yellow blob.

[2016-07-20 10:40] jonnycoull commented on #308
@timea have a look, I've tweaked it so it slopes the other way is this better? example rough attached.

![screen shot 2016-07-20 at 11 38 31](https://cloud.githubusercontent.com/assets/17589853/16983838/c182f490-4e6e-11e6-98f5-cb92f433416f.png)

[2016-07-20 10:40] jonnycoull commented on #308
@timea ribbon being uploaded.

[2016-07-20 10:49] timea commented on #308
That looks much better!

On Wed, Jul 20, 2016 at 12:40 PM, jonnycoull <notifications@github.com>
wrote:

--

[image: ____________________________________________________________]
Timea Kiss
Continuous Delivery Sorceress
tk@praqma.com
+45 25 66 83 44 <+45%2025%2066%2083%2044>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com/acade

[2016-07-20 11:08] illus0r commented on #308
@jonnycoull the thing is yellow dot should be above the ribbon. otherwise we need some extra css-html work

[2016-07-20 11:09] illus0r commented on #308
if ribbon is drawn on the image

[2016-07-20 11:20] illus0r commented on #226
@adamhenriques
What informations will be stored on that page?
Will this information change from one conference to another?

[2016-07-20 11:23] adamhenriques commented on #226
@illus0r information will be Company logo and a brief description as shown in example: http://archive.code-conf.com/osl15/sponsors/ca.html

As these are for the specific conference sponsors - the subpages will be conference specific.

[2016-07-20 11:49] illus0r commented on #226
@adamhenriques so every sponsor logo will lead to a separate page. User will see different info on the **Github** page if he get there from different conference pages. That's possible, but you'll have to create 38 separate pages for different sponsor's descriptions. I.e. **Github** will have 9 different pages for different events. Is that what we really need? What information will differ from one

[2016-07-20 12:01] adamhenriques commented on #226
@illus0r We can easily reuse the sponsor "profiles" across events. So that each sponsor only have 1landing page no matter what entry the user comes from.

[2016-07-20 12:12] illus0r commented on #226
@adamhenriques that's much easier! So every sponsor will have a page. Logos on events pages will lead to these event-independent sponsor pages. Correct? If so, can you add sponsors' descriptions to their md files?

![image](https://cloud.githubusercontent.com/assets/797993/16985905/3ffc5132-4e8c-11e6-8b6f-ba265e1f082e.png)

 On sponsors' pages I can implement this part fast

![image](https://cloud