[2016-07-20 12:17] adamhenriques commented on #226
@illus0r great. All we need is something like;

![screen shot 2016-07-20 at 14 14 41](https://cloud.githubusercontent.com/assets/8004259/16985993/7b24add4-4e84-11e6-970f-1051d979ce16.png)
 no

Can I just add company descriptions as we go?

[2016-07-20 12:19] illus0r commented on #226
@adamhenriques Yep, sure! Just add it to sponsor's `md` files

[2016-07-20 12:20] adamhenriques commented on #226
@illus0r great tanks!

[2016-07-20 12:50] illus0r commented on #226
![image](https://cloud.githubusercontent.com/assets/797993/16986882/b8923b48-4e91-11e6-8328-4b0331ec3bdd.png)

[2016-07-20 12:56] illus0r commented on #226
@adamhenriques implemented my part. Now it'll hang until texts are ready. Please, ping me, when you're done

[2016-07-20 13:02] illus0r commented on #226
This task is small for me, not for Adam :) And, probably we need a separate task for copywork. What do you think, @timea?

[2016-07-20 13:28] illus0r commented on #327
I've removed all `enroll` buttons and `eventbrite` modules from the past events. Added ` (PAST)` after the title.
![image](https://cloud.githubusercontent.com/assets/797993/16987768/9bbbe2d0-4e96-11e6-9c6e-4a8e8cbfad9f.png)

[2016-07-20 13:30] adamhenriques commented on #226
@illus0r if I click on the logos i still hit the url - will you implement the subpages then ill add the descriptions?

[2016-07-20 13:33] #327 closed

[2016-07-20 13:34] illus0r commented on #326
They are muted now

![image](https://cloud.githubusercontent.com/assets/797993/16988062/d5642d16-4e97-11e6-9597-77beebad9415.png)

[2016-07-20 13:38] illus0r commented on #326
Closed in https://github.com/Praqma/code-conf.com/commit/4cccfe9e66e7c60a750f12041b866067445ac165#diff-42eee574ff08ca9f9241fd1202fdb89eR15

[2016-07-20 13:38] #326 closed

[2016-07-20 14:39] illus0r commented on #324
![image](https://cloud.githubusercontent.com/assets/797993/16990471/c97e2ca0-4ea0-11e6-9154-22cc03f3f8ac.png)

Will redesign after @jonnycoull's mockups

[2016-07-20 14:40] #324 closed

[2016-07-20 15:19] illus0r opened #329 "Implement event lists' headers"
Subtask of #325

![](https://cloud.githubusercontent.com/assets/17589853/16983601/777d284e-4e6d-11e6-80cc-11bb1e9b263f.png)

[2016-07-20 15:26] illus0r opened #330 "Implement new footer"
After #275

![](https://cloud.githubusercontent.com/assets/17589853/16983408/97869180-4e6c-11e6-8647-93b0dcc288c2.png)

[2016-07-21 07:13] timea commented on #226
Yes, a separate task is a good idea @illus0r

[2016-07-21 12:34] illus0r commented on #275
@lakruzz @timea do we really need Google+ link in the header? It looks like we don't update it very often ;)
https://plus.google.com/114839349065089373679
https://plus.google.com/106972418521266551481
https://plus.google.com/100636273457335734278 — last update 13 weeks ago

[2016-07-21 12:58] lakruzz commented on #275
@illus0r
https://plus.google.com/100636273457335734278/videos is interesting, the two others are not.

[2016-07-21 14:35] illus0r commented on #275
@timea OK then, I was wrong with my estimate. It's really small, but if we don't care about mobile version. Now I've implemented the new menu, but it became even more ugly un mobile

I think I'll implement some fast and very dirty styling hack and make a separate task for mobile menu styling (if it doesn't exist)

![image](https://cloud.githubusercontent.com/assets/797993/17026583/32eefee4-4f69-11

[2016-07-21 14:47] illus0r commented on #288
After #275 it became even more ugly

![image](https://cloud.githubusercontent.com/assets/797993/17027067/1af6f09c-4f6b-11e6-8db6-874e1d73dbf9.png)

And It became more sophisticated, need some js work, so it's large now.

[2016-07-21 14:48] illus0r commented on #275
Came up with this horror

![image](https://cloud.githubusercontent.com/assets/797993/17027014/dbc338e0-4f6a-11e6-90d4-7c832ef246cc.png)

The task to improve this shit is #288 :)

[2016-07-21 15:29] jonnycoull commented on #275
my eyes. can we implement a burger menu on mobile? @illus0r

[2016-07-22 09:49] adamhenriques opened #331 "add accenture"

[2016-07-22 09:55] #331 closed

[2016-07-22 10:10] illus0r commented on #275
@jonnycoull sure, that's for #288

[2016-07-22 10:20] illus0r commented on #275
header's part is closed in https://github.com/Praqma/code-conf.com/commit/053823c133ab1aaa12170a37a5aace9ca3eaf320

footer is for #330

[2016-07-22 10:20] #275 closed

[2016-07-22 10:21] illus0r opened #332 "Write content for sponsor pages"
Subtask of #226

[2016-07-22 10:25] illus0r commented on #226
@timea @adamhenriques made https://github.com/Praqma/code-conf.com/issues/332 task for that.

@adamhenriques I've brought proper urls to life :)

[2016-07-22 10:34] adamhenriques commented on #226
@illus0r great, thanks!

[2016-07-22 10:53] #226 closed

[2016-07-22 11:00] illus0r commented on #267
the event has past

[2016-07-22 11:00] #267 closed

[2016-07-22 11:52] #332 closed

[2016-07-22 11:57] adamhenriques opened #333 "add sponsor description"

[2016-07-22 12:10] #333 closed

[2016-07-22 12:11] adamhenriques opened #334 "add sponsordescription"

[2016-07-22 12:17] #334 closed

[2016-07-22 12:27] illus0r commented on #325
@jonnycoull can you send me such image for the background?
![image](https://cloud.githubusercontent.com/assets/797993/17057109/aee3bfa0-5020-11e6-9da8-a27d3659b602.png)
No title, just marker and stroke,
990px width.

[2016-07-22 13:14] #329 closed

[2016-07-22 13:16] jonnycoull commented on #325
Hi I uploaded it yesterday to images

On Friday, 22 July 2016, illus0r <notifications@github.com> wrote:

[2016-07-22 13:16] illus0r commented on #325
Hm, I didn't find it. I'll have a look now

[2016-07-22 13:17] illus0r commented on #325
@jonnycoull nope, only this one
![image](https://cloud.githubusercontent.com/assets/797993/17058228/d1540b60-5027-11e6-8387-3bfae3315e20.png)

[2016-07-22 13:20] illus0r commented on #325
@jonnycoull I need the pic like this, but without `UP NEXT...`
And 990x250 px
Can you make it for me?

[2016-07-22 13:21] illus0r commented on #325
That's how it looks now
![image](https://cloud.githubusercontent.com/assets/797993/17058293/59d9972a-5028-11e6-856b-8fcc8b3edfab.png)

[2016-07-25 08:32] adamhenriques opened #335 "Make company logos clickable on subpages"
@illus0r subpages look great - http://www.code-conf.com/sponsors/elastx/

However, it would be good if we can make the logos clickable (embed link).

All the sponsors profiles already have links so I assume its just a matter of activating them?

[2016-07-25 09:14] adamhenriques opened #336 "update kelsey speak"

[2016-07-25 09:23] adamhenriques opened #337 "Add presentation title for Key Notes"
Currently the presentation title doesnt show for all the keynotes as opposed to the regular speakers where the presentation titles are shown.

http://www.code-conf.com/doc-sthlm-2016/
&
http://www.code-conf.com/code-cph-2016/

Can we have this changed so that we we can display the title of the keynotes

[2016-07-25 09:35] #336 closed

[2016-07-25 10:35] #308 closed

[2016-07-25 10:46] timea opened #338 "All Events should be called Events"
Now that we have the button called Past Events, the button called All Events can be confusing as it only shows future events. We should call the All Events only Events, that would make the it clear.

[2016-07-25 11:30] timea opened #339 "Link on the subpage to the sponsor does not work"
On a conference page, we can click the sponsors, we get to a subpage with a description of the company. The logo showing up on the subpage should lead us to the sponsor's website.

For example the octocat here should lead to enterprise.github.com
![image](https://cloud.githubusercontent.com/assets/4135651/17099982/fcebd87a-526b-11e6-9ead-d8436a1bad92.png)

[2016-07-25 14:37] illus0r commented on #339
Make sense! I'll do it

[2016-07-25 14:41] #339 closed

[2016-07-25 14:45] illus0r commented on #337
@adamhenriques, sure!

[2016-07-25 14:49] adamhenriques commented on #337
Great, thanks!

Regards

Adam Henriques

[2016-07-25 14:50] illus0r commented on #335
The same as #339 :)

[2016-07-25 14:50] #335 closed

[2016-07-26 12:40] #338 closed

[2016-07-26 14:13] timea opened #340 "Linkchecker errors"
from linkchecker

1)
URL        `http://www.prtaqma.com'
Name       `Praqma'
Parent URL http://www.code-conf.com/about/, line 152, col 4
Real URL   http://www.prtaqma.com
Check time 0.184 seconds
Result     Error: Hostname not found

2)
URL        `../fonts/bootstrap/glyphicons-halflings-regular.woff2'
Parent URL http://www.code-conf.com/css/main.css, line 106, col 219
Real URL   http://www.code-c

[2016-07-28 12:32] adamhenriques opened #341 "add jan sørensen"

[2016-07-28 13:12] #341 closed

[2016-07-28 13:33] adamhenriques opened #342 "Agenda"
Could we design an agenda design for our conferences? Next event is Aug 25th where we need something.

Keep in mind that most of our events run with parallel track - starting with a keynote in plenum and then braching out in two tracks.

previous design
http://archive.code-conf.com/day-of-docker-osl15/agenda/

Another design option;
http://deliveryofthingsworld.com/en/agenda/

[2016-07-29 09:00] monaslarsen opened #343 "Add contact info for events"
Make it clearer who to contact

[2016-07-29 11:59] illus0r commented on #330
- [ ] output rough *event* links
- [ ] output rough *compary info*
- [ ] reuse social
- [ ] add signature on the bottom *Copyright Praqma all rights reserved*
- [ ] highlight active links

[2016-07-29 13:22] illus0r commented on #330
Preliminary result

![image](https://cloud.githubusercontent.com/assets/797993/17249424/91500722-55a8-11e6-846a-17fbe8271193.png)

[2016-07-29 13:24] illus0r commented on #330
I won't contract menu sections by now, because some of them have multiline items

[2016-08-01 11:55] lakruzz opened #344 "Docker meetup group as sponsor"
How did the CPH Docker meetup group get to become sponsor at http://www.code-conf.com/doc-cph-2016/

@adamhenriques? @monaslarsen?

![image](https://cloud.githubusercontent.com/assets/155492/17293206/3a846e6c-57ef-11e6-9775-ebc9ec0817c0.png)

Did they pay anything to get their logo there - from the size of the logo, - compared to Docker - it looks like they paid A LOT!

...Which I somehow assume t

[2016-08-01 11:58] adamhenriques commented on #344
They became communitysponsors as part of collaboration giving us access to the group.

Regards

Adam Henriques

[2016-08-01 15:15] lakruzz opened #345 "Add the Academia meetup"
http://www.meetup.com/code-u/events/232917200/

[2016-08-01 16:36] #345 closed

[2016-08-02 13:31] illus0r commented on #330
Finally!

![image](https://cloud.githubusercontent.com/assets/797993/17330133/3a3c6eac-58ce-11e6-937f-7f4391f8a444.png)

![image](https://cloud.githubusercontent.com/assets/797993/17330140/4289ea12-58ce-11e6-85ff-7e7e5b9f3df8.png)

[2016-08-02 13:33] #330 closed

[2016-08-02 13:59] illus0r opened #346 "Hide empty footer items"
Subtask of #330

If menu item is empty, hide it
![image](https://cloud.githubusercontent.com/assets/797993/17331155/67ee6e82-58d2-11e6-827c-c6789bd95735.png)

[2016-08-02 15:31] jonnycoull commented on #330
Nice one mate!

On Tuesday, 2 August 2016, ReleasePraqma <notifications@github.com> wrote:

[2016-08-04 14:19] adamhenriques opened #347 "add post conf info"

[2016-08-04 14:34] #347 closed

[2016-08-04 14:45] adamhenriques opened #348 "update"

[2016-08-04 14:53] Andrey9kin opened #349 "CoDe:U meetup group as sponsor for DoC and CoDe in Stockholm and Copenhagen"
Obviously, we have to point out correct meetup group for Stockholm (www.meetup.com/CoDe-U-STHLM/) and Copenhagen (http://www.meetup.com/CoDe-U/)

[2016-08-05 14:50] bicschneider commented on #340
@timea : fixed

[2016-08-05 14:50] #340 closed

[2016-08-05 14:55] #304 closed

[2016-08-10 08:31] adamhenriques opened #350 "add police"

[2016-08-10 08:47] #350 closed

[2016-08-10 08:49] adamhenriques opened #351 "update simcorp"

[2016-08-10 09:35] adamhenriques opened #352 "sponsor update"

[2016-08-10 12:22] monaslarsen commented on #349
Hey @Andrey9kin, just checking: What we need to do is ADD the two meetup groups as sponsors for all four events?

[2016-08-10 15:01] Andrey9kin commented on #349
@monaslarsen adding meetup groups logos as we already did with the Docker meetup group for DoC in Stockholm

[2016-08-11 08:03] monaslarsen opened #353 "Update Academy Cph"
Change venue and BBQ

[2016-08-11 09:02] #353 closed

[2016-08-15 07:53] adamhenriques opened #354 "JP MOrgenthal"

[2016-08-15 08:14] #354 closed

[2016-08-15 08:21] jonnycoull commented on #301
@timea @illus0r this is done now right?

[2016-08-15 08:40] jonnycoull commented on #325
@illus0r image uploaded to images mastereventimage2.jpg

[2016-08-15 08:43] jonnycoull commented on #72
@illus0r image has been uploaded for the top, then this can be closed.

[2016-08-15 13:41] adamhenriques opened #355 "victor as keynote"

[2016-08-15 14:03] adamhenriques opened #356 "Display presentation title for KeyNotes"
Currently the keynotes at out events dont display the presentation title like the "regular" presentations. Can we enable this?

![screen shot 2016-08-15 at 16 03 14](https://cloud.githubusercontent.com/assets/8004259/17666717/dc713f8a-6301-11e6-9cd6-0a3f4eb4b655.png)

[2016-08-15 14:11] #355 closed

[2016-08-16 08:15] monaslarsen opened #357 "Make changes to CoDe Academy Aarhus"
Days for BBQ etc.

MONDAY: Continuous Delivery and Agile task management
TUESDAY: Test Driven Development and Git
WEDNESDAY: Git and Docker
THURSDAY: Jenkins
FRIDAY: Synthesis - bring it all together in running code + BBQ party

[2016-08-16 09:55] #357 closed

[2016-08-16 10:23] illus0r commented on #301
@jonnycoull
I didn't implement anything. I see it [on the single page](http://www.code-conf.com/academy2016/trd/)

Should it be automatized? We can add this strip regarding event type and due date.

![image](https://cloud.githubusercontent.com/assets/797993/17696028/74a51c42-63b4-11e6-86ee-f895a52cc291.png)

[2016-08-16 10:25] illus0r commented on #325
@jonnycoull
What's priority of setting it? That's small task.

[2016-08-16 10:28] illus0r commented on #356
Hi, @jonnycoull! What's prio for this change?
Uh, I may be wrong about new set of team responsibilities, let me know if setting priorities is not your duty.

[2016-08-16 10:30] illus0r commented on #72
Great, closing

[2016-08-16 10:30] #72 closed

[2016-08-16 10:31] adamhenriques commented on #356
@illus0r ive added the prio - we need it asap at the conference is just 1 month out. Thanks.

[2016-08-16 10:37] jonnycoull commented on #301
@illus0r someone did, yet that sounds like a good idea.

[2016-08-16 10:38] jonnycoull commented on #325
@illus0r if it can be done quickly get it changed as the other pic looks low res. pick as you see fit that can be quickly executed.

[2016-08-16 10:40] jonnycoull commented on #356
@illus0r there you go, adam has spoken.

[2016-08-16 11:31] jonnycoull commented on #303
I think this is closed? @timea

[2016-08-16 11:59] illus0r opened #358 "Improve image quality on event page header"
Subtask of #325

Replace the image with another with higher resolution

![image](https://cloud.githubusercontent.com/assets/797993/17698112/d5f2d036-63c1-11e6-9b64-335cf7aabdeb.png)

Prio 1 because [of comment](https://github.com/Praqma/code-conf.com/issues/325#issuecomment-240067005)

[2016-08-16 12:02] illus0r commented on #301
@jonnycoull
All right, what else should be accomplished within this issue?
If nothing, I'll rename this issue accord to new task

[2016-08-16 12:04] illus0r commented on #337
Duplicates #356

[2016-08-16 12:04] #337 closed

[2016-08-16 12:05] jonnycoull commented on #301
@illus0r yes, and automatically on
![screen shot 2016-08-16 at 13 04 35](https://cloud.githubusercontent.com/assets/17589853/17698275/0c2c64e2-63b2-11e6-83a5-b1e3bab58aa6.png)
that the banner should display on the sub menu also which is previous to this page (but a new one as the current one is the wrong way)

[2016-08-16 12:06] jonnycoull commented on #301
![gradforsubmenu](https://cloud.githubusercontent.com/assets/17589853/17698291/2fbb308c-63b2-11e6-8d48-bf44f4069ee2.png)

[2016-08-16 12:07] jonnycoull commented on #301
Ive uploaded that to codeconf images. @illus0r

[2016-08-16 12:20] illus0r commented on #301
mark
- [ ] the event headers
- [ ] items in subevents' menu
- [ ] items in *past events*

[2016-08-16 12:41] #358 closed

[2016-08-16 13:47] illus0r commented on #303
@jonnycoull nope
![image](https://cloud.githubusercontent.com/assets/797993/17701083/0f92f87a-63d1-11e6-8fa2-e471b4e24e57.png)
I've added a small label, so I'll start soon

[2016-08-16 13:51] illus0r commented on #342
@adamhenriques
Both design and implementation have different sizes. To estimate technical side I need @jonnycoull to make a mockup first.

[2016-08-16 13:59] jonnycoull commented on #303
ah. on it.

[2016-08-16 14:03] illus0r commented on #325
I guess this stuff should be closed still it's the last issue in the milestone.

[2016-08-16 14:04] #325 closed

[2016-08-16 14:08] illus0r commented on #321
We made this task to write a simplest GEB test.

@lakruzz
It looks like you don't plan me to work on DSL, so I guess this task is not actual anymore. What do you think?

[2016-08-16 14:09] illus0r commented on #316
@monaslarsen
Привет, Мона! How can I help you with this task?

[2016-08-16 14:47] illus0r commented on #173
@adamhenriques
There should be a letter from **formspree** on your mail. You should verify to make this form work http://www.code-conf.com/sponsor/

[2016-08-16 14:52] illus0r commented on #158
@jonnycoull
is that's what we still need?

[2016-08-16 14:53] illus0r commented on #161
@jonnycoull
I guess this is done. Can we get rid of?

[2016-08-16 14:55] illus0r commented on #165
duplicates #330

[2016-08-16 14:55] #165 closed

[2016-08-16 14:56] illus0r commented on #157
@jonnycoull
still need?

[2016-08-16 14:57] illus0r commented on #146
@jonnycoull
still need?

[2016-08-16 15:19] jonnycoull commented on #342
@adamhenriques @illus0r if you cast your minds back we did this a while ago, I think its been lost in the issues. looked like this, remember @illus0r ? (OLD MOCK UP)
![screen shot 2016-08-16 at 15 58 43](https://cloud.githubusercontent.com/assets/17589853/17704531/33cfaf16-63cd-11e6-93cf-1673b916827b.png)

[2016-08-16 15:19] jonnycoull commented on #342
minus the print bit.

[2016-08-16 15:22] jonnycoull commented on #161
It is done. @illus0r close away.

[2016-08-16 15:24] jonnycoull commented on #157
@illus0r yes along with the other task. @monaslarsen @adamhenriques can you supply a brief description of each item as shown above? @illus0r Ill make a milestone HomepageComplete

[2016-08-16 15:29] jonnycoull commented on #239
![screen shot 2016-08-16 at 16 27 35](https://cloud.githubusercontent.com/assets/17589853/17704937/81099c00-63ce-11e6-8ed6-16d48bbdc16d.png)
remove the SPEAKING AT ( its not needed) then this is done?

[2016-08-16 15:30] jonnycoull commented on #241
@illus0r @timea CODE-CONF orange is fine for this.

[2016-08-16 15:31] #260 closed

[2016-08-16 15:35] jonnycoull commented on #303
![on-symbolblk](https://cloud.githubusercontent.com/assets/17589853/17705188/7062b2a0-63cf-11e6-9d71-d64a9f246d38.png)

[2016-08-16 15:43] jonnycoull commented on #303
Uploaded to images plus SVG @illus0r

[2016-08-16 15:46] adamhenriques commented on #342
@jonnycoull i like it! Will it be custamizable Per event?

[2016-08-16 22:12] #161 closed

[2016-08-16 22:13] jonnycoull commented on #158
@illus0r yes ill make up some graphics.

[2016-08-16 22:14] jonnycoull commented on #146
@illus0r yes, but I need to update there press materials so hold off for now.

[2016-08-17 07:51] lakruzz opened #360 "Add Lars Bendix blog to program"

[2016-08-17 07:56] #360 closed

[2016-08-17 08:11] lakruzz opened #361 "Dates on the Oslo Academy - are wrong"
http://www.code-conf.com/academy2016/osl/

The dates are wrong!!!!!

We have five signups - do that know that this academy is not on???

@meekrosoft? @monaslarsen?

[2016-08-19 09:44] jonnycoull commented on #356
Hi @illus0r we need to make the BIG speakers copy like the seller ones... Also use that style so Big headline for Name, slightly smaller for job, as it is. Then a sub head like the small speakers. then the body copy smaller again. like the smaller speakers. @adamhenriques needs this ASAP. top pro.

NAME: JOB TITLE:
PRESENTATION TITLE: (currently un displayed)
BODY COPY:
TWITTER HANDELS, ETC.

[2016-08-19 10:36] illus0r commented on #356
@jonnycoull
1. What do you mean by `seller`?
Not sure I understood all suggested style fixes correctly, can you make a mockup or plan a short hangout after I'll fix code part?

[2016-08-19 10:41] jonnycoull commented on #356
Basically the presentation title is missing.  see this quick mocks to illustrate..... @illus0r
![screen shot 2016-08-19 at 11 37 17](https://cloud.githubusercontent.com/assets/17589853/17807352/d1425b82-6601-11e6-9b51-12a57681c3cf.png)
![screen shot 2016-08-19 at 11 37 25](https://cloud.githubusercontent.com/assets/17589853/17807353/d161cd28-6601-11e6-86e2-f2a4bf5a38eb.png)

[2016-08-19 10:43] jonnycoull commented on #356
@illus0r also while were here when you click on a small box (read more) there should be a (read less) option to make it go back? maybe make that another issue.

[2016-08-19 11:04] adamhenriques opened #362 "add sponsor"

[2016-08-19 11:08] #362 closed

[2016-08-19 11:16] illus0r commented on #356
yep, sure, I'll make another one

[2016-08-19 11:23] illus0r commented on #356
But it need to go to another milestone. This one should stop getting new tasks, otherwise It'll last forever.

[2016-08-19 11:26] illus0r commented on #356
@jonnycoull this way now
![image](https://cloud.githubusercontent.com/assets/797993/17808445/e17bffa0-6618-11e6-994c-326d403b759d.png)

[2016-08-19 11:26] illus0r commented on #356
Added titles, but not sure about scaling down the base font

[2016-08-19 11:29] jonnycoull commented on #356
It needs to be some how slightly different to the body copy. can it be bold? @illus0r

[2016-08-19 11:35] illus0r commented on #342
@adamhenriques
Hi there, Adam!
Can we have up to 3 branches (line on http://archive.code-conf.com/day-of-docker-osl15/agenda/)?

[2016-08-19 11:40] illus0r commented on #342
@adamhenriques
Can some events in parallel branches start in different time?
line that
[code]

[2016-08-19 11:42] illus0r commented on #342
@adamhenriques
or like that
[code]

[2016-08-19 11:53] adamhenriques commented on #342
@illus0r presentations will always start at the same time. And we nned the possibility to merge the tracks to 1 common branch for keynotes like; https://docs.google.com/spreadsheets/d/1KBpnHxoLUY03iN8Jy-dkT-3OHHPaaTOBgVKjBsIXTA8/edit#gid=0

[2016-08-19 11:56] illus0r commented on #356
@jonnycoull
fixed small speakers as well to repeat the pattern
![image](https://cloud.githubusercontent.com/assets/797993/17809108/e73e4afc-661c-11e6-9275-1aaf41ebd2e8.png)
![image](https://cloud.githubusercontent.com/assets/797993/17809112/f222e036-661c-11e6-816c-7414b5ff7e04.png)

[2016-08-19 12:17] adamhenriques opened #363 "pol logo"

[2016-08-19 12:21] #363 closed

[2016-08-19 12:30] illus0r commented on #342
@adamhenriques
Will we have triple merges like this one?
![image](https://cloud.githubusercontent.com/assets/797993/17809819/c55157b8-6621-11e6-8a86-0fcdb3deaaf3.png)

[2016-08-19 12:31] illus0r commented on #276
@jonnycoull
@adamhenriques
What to do with this one?

[2016-08-19 12:38] adamhenriques commented on #342
@illus0r not in the near future - at least not anything planned

[2016-08-19 12:41] adamhenriques commented on #276
@illus0r seems the problem has already been fixed, so I close it here.

[2016-08-19 12:41] #276 closed

[2016-08-19 12:44] jonnycoull opened #364 "Fix calendar / tidy"
Id like to fix the calendar so it looks and functions a bit smoother. can we have the scroll function operate inside the black box, not scroll all the box its self as it does currently. see mock. so it operates within the green highlighted area? @illus0r
![screen shot 2016-08-19 at 13 39 06](https://cloud.githubusercontent.com/assets/17589853/17810120/fee975e6-6612-11e6-890e-018a089ed0f3.jpg)

[2016-08-19 12:54] illus0r opened #365 "Event ribbon bug"
The bottom ribbon straches to fit top one.
Added some random text to make but obvious.

![image](https://cloud.githubusercontent.com/assets/797993/17810294/f03eca16-6624-11e6-96ca-05262b7092ae.png)

[2016-08-19 13:04] jonnycoull commented on #365
Odd, it wasn't doing that before.

[2016-08-19 13:25] jonnycoull commented on #356
Great @illus0r lets close it up.

[2016-08-19 13:29] illus0r opened #366 "Event list bug on tablet"
yep, I know that's not screen we adapt site to, but it's really unreadable
![image](https://cloud.githubusercontent.com/assets/797993/17811167/f7fceeea-6629-11e6-9ac0-63da31f3e078.png)

[2016-08-19 13:33] #266 closed

[2016-08-19 14:44] illus0r opened #367 "Bug with event titles"
![image](https://cloud.githubusercontent.com/assets/797993/17813495/3fd57a16-6634-11e6-8cad-b566cb0ae004.png)

[2016-08-19 14:51] #367 closed

[2016-08-19 14:55] #356 closed

[2016-08-22 11:35] illus0r opened #368 "Show less speaker info"
Bok:

[2016-08-22 11:38] illus0r commented on #365
It did, but we had such cases to see it

[2016-08-22 12:01] adamhenriques commented on #342
@illus0r do you have a status/ eta on this?

[2016-08-22 12:29] illus0r commented on #364
@jonnycoull
Sure man!

I want to remove it from this milestone. Every milestone should be closed for new issues till the end. How can we plan the due date if it keeps growing?

I'd ask you to not to estimate the size of the task. I.e. I can't guarantee I'll do it in 2 hours.

[2016-08-22 12:39] adamhenriques opened #369 "add speaker"

[2016-08-22 12:42] illus0r commented on #293
@adamhenriques
It updates on every rebuild. Can you describe the problem? How can I see it?

[2016-08-22 12:50] #369 closed

[2016-08-22 12:53] illus0r commented on #173
@adamhenriques
I've sent you a test email to be 100% sure form works well.
`Hey there, Adam!` should come from zor667@gmail.com.
Please, let me know when you get it :)

[2016-08-22 12:54] adamhenriques commented on #173
I did thanks!

[image: ____________________________________________________________]
Adam Henriques
CMO
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>

<http://www.code-conf.com/code-cph-2016/>

On Mon, Aug 22, 2016 at 2:53 PM, illus0r <notifications@github.com> wrote:

[2016-08-22 12:55] illus0r commented on #173
Great, thanks, @adamhenriques! I'm closing this one

[2016-08-22 12:55] #173 closed

[2016-08-22 12:56] illus0r commented on #364
Sure, I can fix the size, but I can miss it and count the issue too small or too big

[2016-08-22 13:01] illus0r commented on #257
@lakruzz

We don't need new features for meet-ups, do we?

[2016-08-22 13:02] illus0r commented on #257
Or what features do we need?

[2016-08-22 13:30] illus0r commented on #257
Closed in https://github.com/Praqma/code-conf.com/commit/7fbe98364a0bd99b75c10cfbee9f37bde689dfa8

The mess with delivering to `delivered/gh-pages` is because of making `git purge-all-delivered` after `git workon 257`

[2016-08-22 13:31] illus0r commented on #257
I assign it to you, @lakruzz because I don't know answer [to this comment](https://github.com/Praqma/code-conf.com/issues/257#issuecomment-241405315). And I guess @jonnycoull doesn't know as well

[2016-08-22 13:59] illus0r commented on #342
I'll move it to a separate milestone, so, not yet. Let me know if you have any objections, we can establish another issue order.

[2016-08-22 13:59] illus0r commented on #342
@adamhenriques

[2016-08-22 14:35] #346 closed

[2016-08-22 14:47] illus0r commented on #160
- [ ] html
- [ ] css
- [ ] js
- [ ] mailchimp

[2016-08-22 14:56] illus0r commented on #160
@adamhenriques, @monaslarsen
Hi there 😀
Do we have a set up mailchimp account to use with this newsletter?

[2016-08-22 14:58] illus0r commented on #160
I'll save the link to mailchimp's doc here http://kb.mailchimp.com/lists/signup-forms/add-a-signup-form-to-your-website

[2016-08-22 15:03] adamhenriques commented on #160
@illus0r yes; Username; praqma, pw; i send on hangout

[2016-08-22 15:57] adamhenriques commented on #342
@illus0r thanks. When can we have this ready? It would be nice for our conferences this and next week.

[2016-08-23 08:27] adamhenriques opened #370 "add abstract"

[2016-08-23 08:39] #370 closed

[2016-08-23 08:54] adamhenriques opened #371 "clean up"

[2016-08-23 09:02] #371 closed

[2016-08-23 09:05] adamhenriques opened #372 "clean up CPH"

[2016-08-23 09:11] #372 closed

[2016-08-23 09:19] #257 closed

[2016-08-23 11:37] #351 closed

[2016-08-23 11:38] #348 closed

[2016-08-23 11:38] #309 closed

[2016-08-24 10:56] illus0r commented on #342
Hi there! So you need it tomorrow?

@adamhenriques can you send me the link to event and agenda you want to put there?

[2016-08-24 11:01] adamhenriques commented on #342
@illus0r event; http://www.code-conf.com/doc-sthlm-2016/

Agenda; https://docs.google.com/spreadsheets/d/1nN-OqF217BbLz2_doynMDiC7Bm6DrCx6MnwrhyHvZlk/edit#gid=1790899168

Mockup; https://drive.google.com/a/firm20.com/file/d/0B3mqCwER-jlkQS1DU0M3cnpvVFk/view?usp=sharing

[2016-08-24 11:07] adamhenriques commented on #342
@illus0r and for copenhagen;

Event; http://www.code-conf.com/doc-cph-2016/

Agenda; https://docs.google.com/spreadsheets/d/1nN-OqF217BbLz2_doynMDiC7Bm6DrCx6MnwrhyHvZlk/edit#gid=1790899168

Mockup; https://drive.google.com/a/firm20.com/file/d/0B3mqCwER-jlkNWpQM3NCOC1VNms/view?usp=sharing

OBS notice that one is for copenhagen and one for stockholm!

[2016-08-24 11:39] illus0r opened #373 "Preliminary output of agenda"
Subtask of #342

Make a preliminary output of agenda on two pages

[2016-08-24 15:19] illus0r commented on #373
[code]

makes this

![image](https://cloud.githubusercontent.com/assets/797993/17936319/15074fde-6a27-11e6-925e-ccd8201b8700.png)

[2016-08-24 15:20] illus0r commented on #373
Doesn't render nice on mobile

[2016-08-24 15:21] #373 closed

[2016-08-24 15:24] illus0r commented on #373
@adamhenriques
http://www.code-conf.com/doc-cph-2016/
http://www.code-conf.com/doc-sthlm-2016/
Please, have a look. Some errors may be there

[2016-08-24 16:54] adamhenriques opened #374 "update agenda"

[2016-08-24 17:03] #374 closed

[2016-08-25 12:39] adamhenriques opened #375 "add libo"

[2016-08-25 12:55] #375 closed

[2016-08-25 13:11] adamhenriques opened #376 "agenda"

[2016-08-26 12:06] illus0r commented on #241
- [ ] Make avatars clickable on conf pages

[2016-08-26 12:09] illus0r opened #377 "Agenda js bug"
```agenda-formatter.js:3 Uncaught TypeError: Cannot read property 'split' of undefined```

[2016-08-26 12:15] #160 closed

[2016-08-26 12:26] #377 closed

[2016-08-26 14:26] #241 closed

[2016-08-26 14:40] lakruzz opened #378 "Sven Peters portrait is not a perfect"
http://www.code-conf.com/speakers/?tag=code-cph-2016&scrollto=svenpeters

![image](https://cloud.githubusercontent.com/assets/155492/18009272/bfea417e-6bab-11e6-9eea-7bd6c9f339d6.png)

[2016-08-26 14:42] illus0r opened #379 "Hide Hackathons link if no hackathons"
![image](https://cloud.githubusercontent.com/assets/797993/18009304/44726298-6bb4-11e6-803a-f81c84196de2.png)

Or entirely remove the section from the site if we don't need it for now.

[2016-08-26 14:42] lakruzz opened #380 "Portraits: all in color or all in black and white"
We lack consistency here:

http://www.code-conf.com/speakers/

![image](https://cloud.githubusercontent.com/assets/155492/18009349/1dc28c8e-6bac-11e6-9d19-df735ff48bbf.png)

is it deliberate (why?) or coincidental (we don't do oops!)

[2016-08-26 14:48] lakruzz opened #381 "Menu in mobile mode - needs the be fixed"
![screenshot_2016-08-26-07-52-43](https://cloud.githubusercontent.com/assets/155492/18009503/d54599e6-6bac-11e6-81a6-849e941c6ada.png)

Snapshot from my android

[2016-08-26 14:50] lakruzz opened #382 "Margin in mobile mode - needs to be fixed"
![screenshot_2016-08-26-07-53-29](https://cloud.githubusercontent.com/assets/155492/18009538/06876d90-6bad-11e6-8ee1-f2de83de0724.png)

Screenshot from my android - no margin at all.

Footer seems OK though:

![screenshot_2016-08-26-07-53-22](https://cloud.githubusercontent.com/assets/155492/18009573/21db42d8-6bad-11e6-8126-bab0f22f0aad.png)

[2016-08-26 19:19] lakruzz opened #383 "Layout on past events is broken"
We shouldn't ruin our web site, just because the event is past:

http://www.code-conf.com/academy2016/cph/
![image](https://cloud.githubusercontent.com/assets/155492/18017586/6afd634a-6bd2-11e6-88c5-816605f2f403.png)

http://www.code-conf.com/academy2016/trd/
![image](https://cloud.githubusercontent.com/assets/155492/18017607/952e8766-6bd2-11e6-95ee-6b87c294e0c0.png)

[2016-08-26 19:22] lakruzz opened #384 "How is "Am I done" different"
...from "Waiting for feedback"?

![image](https://cloud.githubusercontent.com/assets/155492/18017704/2895831a-6bd3-11e6-8b63-b1c88a9d6adf.png)

One could argue, that if you think you are done, but you don't know, you request a feedback, but en general if you think you might be done, but don't know for sure, then the briefing or assignment wasn't sufficient in the first place.

We don't want labels

[2016-08-26 19:28] jonnycoull commented on #384
This was to make it easier to see if the task was near completion and to
check if it can be closed after I ok it.

On Friday, 26 August 2016, Lars Kruse <notifications@github.com> wrote:

[2016-08-26 19:49] jonnycoull commented on #383
I don't think the bar should be that big. Is it a bug

On Friday, 26 August 2016, Lars Kruse <notifications@github.com> wrote:

[2016-08-26 19:49] lakruzz commented on #384
@jonnycoull

Right, I guessed that from the name of the label. But I would argue that if @illus0r thinks he's done, but wants your approval first then if he:

* Writes a comment "Am i done?"
* Add the ![image](https://cloud.githubusercontent.com/assets/155492/18018321/75599328-6bd6-11e6-873e-b789bff3c091.png) label
* Assigns it you

Then that would have the exact same meaning! - hence the new "Am

[2016-08-26 19:50] lakruzz commented on #383
Right

[2016-08-28 16:54] adamhenriques opened #385 "update pics"

[2016-08-28 17:00] #385 closed

[2016-08-28 17:27] lakruzz opened #386 "Code CPH looks awful android phone"
![screenshot_2016-08-28-19-23-32](https://cloud.githubusercontent.com/assets/155492/18035365/4eacfa00-6d55-11e6-99b3-17edad83882a.png)

[2016-08-29 06:02] lakruzz opened #387 "We need additional info"
The venue address is not showing anywhere on our conference page http://www.code-conf.com/doc-cph-2016/

I think we need a (fold out?)  Section with additional info

* Venue address
* Who to contact for questions, special food options etc
* Recommended accomodation
* How to get to the venue using public transportation
* More details in general: about the post conference drinkup, about the post con

[2016-08-29 10:42] illus0r commented on #381
duplicates #288 , merges issues

[2016-08-29 10:42] #381 closed

[2016-08-29 10:43] illus0r commented on #288
![screenshot_2016-08-26-07-52-43](https://cloud.githubusercontent.com/assets/155492/18009503/d54599e6-6bac-11e6-81a6-849e941c6ada.png)

Snapshot from my android

[2016-08-29 11:28] #344 closed

[2016-08-30 10:41] illus0r commented on #384
@lakruzz
I wanted to make @jonnycoull's life easier.

In your approach he have to write a comment "yep, you are", or "nope, you aren't" and assign the issue back to me. If he agree to make it the part of his workflow, I'm fine with it.

[2016-08-30 10:43] illus0r commented on #378
@lakruzz
can I set tasks for bugs like that and place them into content update?

[2016-08-30 10:50] illus0r commented on #288
- [ ] style mobile view
   - [ ] set social icons into the place
   - [ ] align menu items
- [ ] style desktop view
- [ ] check tablet view
- [ ]

[2016-08-30 14:55] illus0r commented on #288
almost done. need to test everywhere

[2016-08-31 11:57] illus0r commented on #288
BTW removed vertical scroll from this element on mobile

![image](https://cloud.githubusercontent.com/assets/797993/18127793/3c57a34a-6f8b-11e6-8214-87815c0c2ade.png)

[2016-08-31 11:59] #288 closed

[2016-08-31 12:26] illus0r commented on #386
I want to get rid of manual setting of the font-size.
I'll use js to adjust it. Or more rough but efficient: via liquid by letter count.

[2016-08-31 12:32] illus0r commented on #386
care about
- [ ] speaker icon
- [ ] power icon
- [ ] (past) mark

[2016-08-31 13:07] illus0r opened #388 "Remove past events from footer"
![image](https://cloud.githubusercontent.com/assets/797993/18129805/0876e090-6f95-11e6-8c18-bde38495e429.png)

[2016-08-31 13:22] sofusalbertsen opened #389 ""graduate" Code Academy CPH and Aar"
![selection_028](https://cloud.githubusercontent.com/assets/4633181/18130279/acdd288a-6f8e-11e6-82a5-846fbfd63280.png)

http://www.code-conf.com/academy2016/

[2016-08-31 13:33] lakruzz commented on #288
Thanks @illus0r

...we needed this, goo to see it implemented 👍

[2016-08-31 13:34] lakruzz commented on #382
@illus0r, marked this "Up next"

[2016-08-31 15:18] illus0r commented on #386
Font size adapts according to its width

![image](https://cloud.githubusercontent.com/assets/797993/18134390/e303b704-6fa6-11e6-9047-8d0577ff61fe.png)

![image](https://cloud.githubusercontent.com/assets/797993/18134463/28061392-6fa7-11e6-84e5-0a6576333593.png)

[2016-08-31 15:30] illus0r commented on #386
And yep, I'm out of limits, it took too long

[2016-09-01 06:42] lakruzz commented on #386
@illus0r looking good, I believe a rough estimation based on character count relative to font size would would be just fine as a start.

[2016-09-01 09:34] illus0r commented on #386
Yep, you are right. I'd better start with small and sufficient.

[2016-09-01 11:05] #386 closed

[2016-09-01 11:22] illus0r commented on #383
Oh, already done in #386

[2016-09-01 11:22] #383 closed

[2016-09-01 12:53] #382 closed

[2016-09-01 12:54] illus0r commented on #382
![image](https://cloud.githubusercontent.com/assets/797993/18168010/4b700486-705c-11e6-92ab-bee2eb50a987.png)

![image](https://cloud.githubusercontent.com/assets/797993/18168025/56e2031e-705c-11e6-94f2-1df92a13868b.png)

[2016-09-02 06:06] lakruzz opened #390 "Past event should sort in reverse order"
...Most resent events on top of page

http://www.code-conf.com/events-past/

[2016-09-02 08:32] illus0r commented on #389
I'm working on it in #301
It should automatize the procedure. Gonna finish it today

Can we close it as duplicate?

[2016-09-02 08:37] sofusalbertsen commented on #389
Duplicate of #301

[2016-09-02 08:37] #389 closed

[2016-09-02 13:12] illus0r commented on #301
![image](https://cloud.githubusercontent.com/assets/797993/18204747/001d5788-7127-11e6-8ec6-6dfa639e7f75.png)

![image](https://cloud.githubusercontent.com/assets/797993/18204764/1744478c-7127-11e6-9c1a-506c893729ba.png)

![image](https://cloud.githubusercontent.com/assets/797993/18204926/0b1c23fc-7128-11e6-983e-c105e9ad22dc.png)

[2016-09-02 13:17] illus0r commented on #301
Oops, I see changes on main academy page only. I'll have a look on other devices

[2016-09-02 13:34] illus0r commented on #301
Weird! Looks like this include doesn't work as it should. On GH only, so I can't reproduce it.
https://github.com/Praqma/code-conf.com/blob/gh-pages/_includes/func/is_subevent.html

`Yes. But it doesn't build on THAT machine.` ©

[2016-09-02 13:37] illus0r commented on #301
And there's a bug, Oslo marked as graduated. I'll roll it back if I won't fix in in an hour

[2016-09-02 13:53] illus0r commented on #301
It still works on my local machine only. I have no idea what causes the problem.
Time run out, can I take some more?

[2016-09-02 13:53] illus0r commented on #301
@jonnycoull

[2016-09-02 13:54] illus0r commented on #389
I didn't finish it by now. commented here https://github.com/Praqma/code-conf.com/issues/301#issuecomment-244380928

[2016-09-05 12:12] adamhenriques opened #391 "add csc"

[2016-09-05 12:18] #391 closed

[2016-09-05 18:05] adamhenriques opened #392 "feature code"

[2016-09-05 18:12] #392 closed

[2016-09-06 12:50] illus0r commented on #301
Hi, @jonnycoull! What's your point about the last comment?

[2016-09-06 13:07] illus0r commented on #293
@adamhenriques @jonnycoull
What should I do to close this task?

[2016-09-06 13:19] #349 closed

[2016-09-06 13:28] Andrey9kin opened #393 "Show company and position for all speakers on agenda"
Currently, we show company and position only for the keynotes.
It is quite hard for people to judge about the conference agenda since in most of the cases they don't know the speakers and they use a company name and job title as justification.

I would very much like to see that, especially for upcoming  CoDe conf in Stockholm.
What is the backlog grooming process? How can I get this done or get a

[2016-09-06 15:39] jonnycoull commented on #301
Hi @illus0r I think because it was hitting the copy in the black box so I
made a version that sloped the other way. But looks as tho u moved it down.
Thus solving it

On Tuesday, 6 September 2016, illus0r <notifications@github.com> wrote:

[2016-09-06 15:40] jonnycoull commented on #293
I think this was to auto update the calander so when the last day rolls by
it comes off? Adam is that right?

On Tuesday, 6 September 2016, illus0r <notifications@github.com> wrote:

[2016-09-06 15:51] illus0r commented on #303
The same this as to #301 — doesn't work correctly in some places on production. My jekyll is `3.2.1` and should work as on GH pages.

It starts to be a problem, so I'll try to solve this tomorrow to finalize this and #301 tasks.

[2016-09-06 15:52] illus0r commented on #303
That's how I see it on local
![image](https://cloud.githubusercontent.com/assets/797993/18280779/00fab80a-7463-11e6-9495-4cc7fc0a05ae.png)

[2016-09-07 10:47] illus0r commented on #293
What's your point, @adamhenriques?
I see further events only. What's desirable behavior?

![image](https://cloud.githubusercontent.com/assets/797993/18309349/9404fd42-7501-11e6-8376-e205746777d1.png)

[2016-09-07 11:43] illus0r commented on #303
closed in 54073ab

[2016-09-07 11:43] #303 closed

[2016-09-07 11:43] #301 closed

[2016-09-07 11:45] illus0r commented on #301
The thing was with site.true and site.false.
GH doesn't read these variables but site.true_ and site.false_ are ok.

[2016-09-07 11:55] illus0r commented on #364
- [ ] set scroll as shown on Bok's mockup
- [ ] make it look acceptable on IE
- [ ] set height to auto on mobile
- [ ] make a fadeout effect to notify user about scrolling opportunity.

[2016-09-07 13:40] illus0r commented on #364
Made it look this way on Chrome, FF and IE.
Now there's a scroll, but without ugly IE scrollbars.
It'll be good to add some tips like gradients and small scrollbar though. I'll make a separate task for that.

![image](https://cloud.githubusercontent.com/assets/797993/18313903/7f10f36a-7519-11e6-8102-f38c912602d2.png)

[2016-09-07 13:43] illus0r opened #394 "Up next block: reveal the scrolling"
Subtask of #364

![image](https://cloud.githubusercontent.com/assets/797993/20485405/6dd42030-b00c-11e6-95e8-30dc12b863d4.png)

If there's a lot of links in upnext block, bottom one is cut, no scrollbar appears.
Add a scrollbar and black gradients on top and bottom of the list, if contents is greater than parent div.

[2016-09-07 13:50] #364 closed

[2016-09-07 15:37] #239 closed

[2016-09-07 15:37] illus0r commented on #239
To check the result out click `speakers` in the menu

![image](https://cloud.githubusercontent.com/assets/797993/18318376/23a3acc8-752a-11e6-90ab-275a37e1bbf4.png)

[2016-09-07 15:45] illus0r commented on #239
http://www.code-conf.com/speakers-all/

[2016-09-07 16:08] adamhenriques commented on #293
This is an old issue and solved

[2016-09-07 16:08] #293 closed

[2016-09-08 07:09] adamhenriques opened #395 "add jeppe"

[2016-09-08 07:33] #395 closed

[2016-09-08 07:45] adamhenriques opened #396 "update agenda"

[2016-09-08 09:27] illus0r commented on #170
![image](https://cloud.githubusercontent.com/assets/797993/18344348/90057a14-75bf-11e6-9d53-a2610fc7c6b4.png)

[2016-09-08 09:27] #170 closed

[2016-09-08 09:27] illus0r commented on #170
this issue is outdated

[2016-09-08 09:38] illus0r commented on #321
@lakruzz I guess we don't need that anymore

[2016-09-08 09:58] adamhenriques opened #397 "update agenda"

[2016-09-08 11:16] illus0r commented on #342
Me

You've drawn this mockup for agenda and I'm about to implement it.
But I see some things that can confuse new participants:
* It looks like I can't jump between branches. But I can.
* It looks like SWAP TRACK, LUNCHBUFFET e.t.c. are for first branch only.

Bok

[2016-09-08 13:15] illus0r commented on #390
done, waiting for jenkins reparing

[2016-09-08 13:16] illus0r commented on #158
Hi, @jonnycoull !
What about graphics for that? I can make it myself, if you have no time

[2016-09-08 13:20] illus0r commented on #157
@monaslarsen I need your help!
I know, you are on the more important task. When can you make this one?

[2016-09-08 13:25] monaslarsen commented on #157
@illus0r I can work on it from Wednesday, I hope that is early enough?

[2016-09-08 14:09] illus0r commented on #379
@lakruzz @jonnycoull
I started working on this one and then realized: we'd better keep this links. If there's no upcoming events on them, we'll show a message "Hey, dude! We have no upcoming hackathons. Subscribe and we'll notify you about new events!"

[2016-09-08 14:47] illus0r commented on #157
@monaslarsen yep, sure :)

[2016-09-08 14:49] #397 closed

[2016-09-08 14:50] adamhenriques opened #398 "update agenda"

[2016-09-08 14:50] #368 closed

[2016-09-08 14:54] #398 closed

[2016-09-08 14:58] adamhenriques opened #399 "update agenda again"

[2016-09-08 15:02] #399 closed

[2016-09-09 10:51] #390 closed

[2016-09-09 10:56] illus0r commented on #379
@lakruzz @jonnycoull
what's your point about this idea? Can I make a task for that for the current milestone?

[2016-09-09 11:12] illus0r commented on #169
@lakruzz @jonnycoull
Are you sure we need this feature? Real data looks like this and I see no problems to solve with "read more" hack

[2016-09-09 11:13] illus0r commented on #169
Scrolling is more easy than clicking

[2016-09-09 11:21] jonnycoull commented on #169
On the copy I had originally was much longer!! But , on mobile it will be a
huge amount to scroll through. So that's why it's added. It's ok it the
screen is nice and wide with plenty space for copy, but that may not be the
case for most users. Plus it's better if most faces are seen on the page as
opens to see the volume of speakers and not to ask the user to discover
that for themselves.

On Fri

[2016-09-09 11:24] illus0r commented on #169
@jonnycoull
Make sense! But we can implement this behavior on mobile only. Do we really need it on desktop?

[2016-09-09 12:38] #366 closed

[2016-09-09 12:49] #388 closed

[2016-09-09 12:52] illus0r commented on #169
@jonnycoull what do you thing about implementation of this for mobile only?

[2016-09-09 13:25] #365 closed

[2016-09-09 15:16] jonnycoull commented on #169
ok, @illus0r go for that. maybe when more are added it could do with a name list down the side, we'll have a look next week when I'm back.

[2016-09-13 11:14] illus0r commented on #169
@jonnycoull good, so I'll make items to collapse on mobile only.

[2016-09-13 11:30] jonnycoull commented on #169
@illus0r cool!

[2016-09-13 11:32] illus0r commented on #193
Now TODOs exists is in `/press/` folder only. @lakruzz, is this task still usefull?

[2016-09-13 14:00] illus0r commented on #169
I've spent 1 hour more than planned because found possibility to reuse existing code.
But no time left to show `read more` on mobile only, now it's on every device.
I had no time to write custom styles, so I've reused old ones. We can make another task to finish it of expand time budget of this one.

![image](https://cloud.githubusercontent.com/assets/797993/18476625/791a0d0c-79d3-11e6-94d1-9dd32e

[2016-09-13 14:02] #169 closed

[2016-09-13 14:04] illus0r commented on #169
![image](https://cloud.githubusercontent.com/assets/797993/18476796/16f4cc06-79d4-11e6-88e0-a44ed19c55d0.png)

[2016-09-13 14:07] jonnycoull commented on #379
@lakruzz @illus0r might be a job for praqma's new mascot, and a speech bubble. I'm speaking with Lars this week so il get back to you then.

[2016-09-13 14:27] illus0r opened #400 "Implement Bock's mockup"
Subtask of #342

![](https://cloud.githubusercontent.com/assets/17589853/17704531/33cfaf16-63cd-11e6-93cf-1673b916827b.png)

[2016-09-13 14:28] illus0r opened #401 "Mobile styles for agenda"
Subtask of #342

Invent mobile view and implement it.

[2016-09-13 14:58] illus0r commented on #400
Me

You've drawn this mockup for agenda and I'm about to implement it.
But I see some things that can confuse new participants:
* It looks like I can't jump between branches. But I can.
* It looks like SWAP TRACK, LUNCHBUFFET e.t.c. are for first branch only.

Bok

[2016-09-14 14:42] illus0r opened #402 "Newsletter misplaced on short pages"
![image](https://cloud.githubusercontent.com/assets/797993/18516692/9d904df2-7aa2-11e6-9c26-ca18a54e210a.png)

[2016-09-14 14:46] illus0r commented on #401
I'm going to add horizontal scroll for wide items

[2016-09-14 15:36] illus0r commented on #401
Made horizontal scroll appear on page when browsing the table.
Made improved mobile styles a bit.

![image](https://cloud.githubusercontent.com/assets/797993/18518765/0a94575c-7aaa-11e6-941f-6990879d10d7.png)

[2016-09-14 15:39] #401 closed

[2016-09-15 12:55] jonnycoull commented on #393
@Andrey9kin  what is it exactly you'd like to see? and where on the site. thanks. J

[2016-09-15 14:04] Andrey9kin commented on #393
@jonnycoull take a look on keynote card http://www.code-conf.com/doc-sthlm-2016/
There it says

Kelsey Hightower  Evangelist, Google
or
Viktor Farcic Docker Captain & Senior Consultant, CloudBees

But for the rest of the cards, it is only a name, not a name and position
So I would like all cards to state name and position not only keynotes

Do you see what I mean?

[2016-09-15 16:45] Andrey9kin opened #403 "Show full address for venue on the event page"
Currently, event page shows only the city not event a venue name
http://www.code-conf.com/code-sthlm-2016/

Proposal is to show at least venue name and maybe full address but this is up to discussion

[2016-09-16 10:28] jonnycoull commented on #393
@Andrey9kin yes i do. let me get that resolved.

[2016-09-16 10:30] jonnycoull commented on #393
@illus0r can we have all speakers on the site to have the same details visible like they keynote....from @Andrey9kin
So I would like all cards to state name and position not only keynotes, a small adjustment to include their position as well.  can you set a priority and time scale on this, I'm presuming it shouldn't take too lone to fix?

[2016-09-16 10:32] jonnycoull commented on #384
@illus0r we'll go back to the old way, can u delete that label? @illus0r

[2016-09-16 10:33] jonnycoull commented on #379
UPDATE: I'm getting bruce to scrub some text for this then when i have the robot ill place the image. @illus0r

[2016-09-16 11:15] illus0r commented on #393
Привет, @Andrey9kin! Извини, что сразу не ответил. Бок уже всё разрулил. Задача маленькая, но сделать её смогу только на следующей неделе, сейчас я на другом проекте.

[2016-09-16 11:16] illus0r commented on #384
@jonnycoull yep, no problem

[2016-09-16 11:17] illus0r commented on #384
done

[2016-09-16 11:17] #384 closed

[2016-09-16 11:32] Andrey9kin commented on #393
Привет, @illus0r! Let's keep it in English ;) Sure, next week is fine.

[2016-09-16 12:40] Andrey9kin commented on #393
@illus0r it is just fine for private conversations and I would love to chat with you. But when it is more than two of us involved or there is a probability that we need to involve more people then English is better

[2016-09-21 09:06] illus0r commented on #379
@jonnycoull good, I'm stopping until your input

[2016-09-21 09:09] illus0r commented on #393
Closed by https://github.com/Praqma/code-conf.com/commit/96e1d05a21c160434db071f38f199d3eadd8a812

[2016-09-21 09:09] #393 closed

[2016-09-21 09:17] jonnycoull commented on #379
I now have copy, and robot. so this will be done today. @illus0r

[2016-09-21 10:31] Andrey9kin commented on #393
@jonnycoull @illus0r nice! Thanks!

[2016-09-22 10:02] #193 closed

[2016-09-22 14:14] jonnycoull commented on #379
![screen shot 2016-09-22 at 15 13 04](https://cloud.githubusercontent.com/assets/17589853/18751510/32feee2c-80d7-11e6-83fe-a3ef872f1ea2.png)

Mock up, this is an MVP we have commissioned a more specific robot, he'll be with us monday. image uploaded.

[2016-09-23 06:37] lakruzz commented on #379
I like this, let's go with something like this.

I have cleared the action label, and assigned back to @illus0r so we can proceed

[2016-09-23 06:41] lakruzz commented on #302
I don't need a code of conduct, I think Emily is going to drive this - At least we asked her to come up with a note on her thoughts on this topic.

I'll close this for now.

[2016-09-23 07:54] Andrey9kin commented on #302
This is not what we discussed on the meeting. Her sggestion was about how we should position ourself in a more diversity-aware manner as well as about internal conversation about the topic.

Code of conduct is a separate story that needs to be handled - after all this is a fallback plan for us if some one start to missbehave. I witnessed situations (not on our conferences though) where code of con

[2016-09-23 07:57] Andrey9kin commented on #403
I'm changing status because we are getting emails about location of the events and the website doesn't really tell

[2016-09-23 08:09] illus0r commented on #403
We could also show the map. What do you think guys?

[2016-09-23 08:20] Andrey9kin commented on #403
For me, it would be enough to have a venue name and address. We could do
them as a link to the map or venue website. I don't think that map will be
a good fit to the web page. However, I'm not a designer to judge :)

On Fri, Sep 23, 2016 at 10:09 AM, illus0r <notifications@github.com> wrote:

[2016-09-23 08:23] illus0r commented on #403
yep, I think you're right, map is overkill. @jonnycoull, how we can we output  a venue name and address?

[2016-09-23 08:31] illus0r commented on #379
Great, I can work with it :)

[2016-09-23 08:34] illus0r commented on #393
You are welcome :)

[2016-09-23 09:25] jonnycoull commented on #403
@illus0r @Andrey9kin
![screen shot 2016-09-23 at 10 22 53](https://cloud.githubusercontent.com/assets/17589853/18781030/08a8946a-8178-11e6-9e8f-bcac949e38d7.png)
I think we can combine the two, so if you click on the location text icon, this drop down will appear. small map (if you click it takes you to hotel site that has the real one) similarly a link/web address for the hilton.

NOTE: Ivan i se

[2016-09-23 09:28] jonnycoull commented on #403
Hi @illus0r @Andrey9kin  Ive designed a drop down box so when you tap the location it appears, click X to make it disappear. So i think we can still include a map it just makes it visually referancable. So a small map (if you click it takes you to hotel site that has the real one) similarly a link/web address for the hilton under the text of the address.

NOTE: Ivan i see this page is still orange

[2016-09-23 09:42] Andrey9kin commented on #403
@jonnycoull Then we need to make sure that people understand that location
is clickable. I'm not sure that I would guess it myself. Do you see what I
mean?

On Fri, Sep 23, 2016 at 11:28 AM, jonnycoull <notifications@github.com>
wrote:

[2016-09-23 09:45] jonnycoull commented on #403
@Andrey9kin @illus0r it would have to have the same highlight option as other clickable copy. so when the mouse rolls over it, it changes. Most people would automatically tap it. It original was supposed to open a google address but i see that hasn't happened.

[2016-09-23 10:11] jonnycoull commented on #403
@illus0r @Andrey9kin or just have it visible all the time. ALSO, why it maybe isn't there as the venue has changed to this, @adamhenriques this right?? update venue to: MeetingRoom, Alströmergatan 20, 112 47 Stockholm

[2016-09-23 10:50] adamhenriques opened #404 "add sponsor"

[2016-09-23 10:58] Andrey9kin commented on #403
@jonnycoull that was me who changed it. And yes we are moving from Hilton
to the meeting room.
For me it would be enough to change Stockholm to the actual address + venue
name.

On Fri, Sep 23, 2016 at 12:11 PM, jonnycoull <notifications@github.com>
wrote:

[2016-09-23 11:01] jonnycoull commented on #403
@Andrey9kin yes but that doesn't fit with the others in the row, its too much info.  so @illus0r add the box with map and full address please as per the mock up. loose the X to close.

[2016-09-26 11:40] adamhenriques opened #405 "add sponsor"

[2016-09-26 13:00] #405 closed

[2016-09-29 05:54] lakruzz opened #406 "The abstract text should scroll"
![image](https://cloud.githubusercontent.com/assets/155492/18942500/c4bf4806-8619-11e6-92ce-261e46a8f8e5.png)

When the text exceed the visual area, it should scroll, so it's possible to read it all.

[2016-09-29 12:19] jonnycoull commented on #158
Hi @illus0r did u see the above?

[2016-09-29 12:30] jonnycoull commented on #157
I'll get @BrucePhable to draft this copy to get it moving.

[2016-09-29 12:31] jonnycoull commented on #379
Final version is ready... @illus0r @lakruzz

![noevents](https://cloud.githubusercontent.com/assets/17589853/18954021/01944cac-8649-11e6-9c6b-d70a92094d7a.jpg)

[2016-09-29 12:33] jonnycoull commented on #379
![noevents](https://cloud.githubusercontent.com/assets/17589853/18954086/3b167e6e-8649-11e6-9665-f62add7c8166.jpg)

Im uploading a blank one as well so you can make that text responsive? @illus0r

[2016-09-29 12:33] jonnycoull commented on #379
![noeventsblabk](https://cloud.githubusercontent.com/assets/17589853/18954104/4dae8dfa-8649-11e6-89d3-8de4562e9c93.jpg)

[2016-09-30 08:07] adamhenriques opened #407 "change color"

[2016-09-30 08:36] #407 closed

[2016-09-30 08:39] adamhenriques opened #408 "tidy up colour"

[2016-09-30 08:41] #408 closed

[2016-09-30 11:06] BrucePhable commented on #157
https://docs.google.com/a/firm20.com/document/d/11ZGR4PNDWr8IC1Gbfq9GrENhlqtwjXnK_v6WL9Z9Z-c/edit?usp=sharing

Suggested descriptions for each one

[2016-09-30 18:50] lakruzz commented on #379
@jonnycoull These are really cool :-)

[2016-10-04 14:42] illus0r commented on #379
- [ ] show the image if no events
- [ ] make it responsive

[2016-10-04 14:55] illus0r commented on #403
is clickable

I agree with @Andrey9kin, we need to make the link to look different. Slight underline would be enough. It should be dotted because we stay on the same page after clicking.

![image](https://cloud.githubusercontent.com/assets/797993/19079273/c1425e52-8a5b-11e6-8d10-d92695992baf.png)

[2016-10-04 14:57] illus0r commented on #403
@jonnycoull

Did you mean to not to implement the cross?

[2016-10-04 15:00] illus0r commented on #406
Oh, I hoped to solve this problem reducing the text :) All right, I'll do it. But I'll hide the scroll completely because it's ugly on Windows

[2016-10-04 15:07] illus0r commented on #157
@BrucePhable Hi there! I've requested access as well. Or just paste the copy right here

[2016-10-04 15:08] jonnycoull commented on #403
@illus0r So, loose the X if the map is always displayed, keep the X (to close) if  WHERE is a clickable button to show map. I think for consistency on the site no dotted line. but use something like the "read more" on the speakers, like "click to see map" or "see map here"
![screen shot 2016-10-04 at 16 06 07](https://cloud.githubusercontent.com/assets/17589853/19079800/bf543e80-8a4c-11e6-95ef-447

[2016-10-04 15:08] illus0r commented on #157
@BrucePhable I'm the guy who implement things, so I need it ;)

[2016-10-04 15:24] BrucePhable commented on #157
Get Involved Pullout:

**Conferences:** We host conferences on Continuous Delivery all year round. Sign up and join us.

**Meet-Ups:** CoDe communities are emerging all over Scandinavia. Find one near you.

**Training:** Get up to speed with our courses on CoDe, Atlassian, Git, Docker & Jenkins.

**Hackathons:** Informal gatherings where we exchange ideas and do some coding. Just bring your brain

[2016-10-05 08:02] illus0r commented on #379
We have no newsletter form on mobile.
So we should whether implement it or remove small text on mobile.

[2016-10-05 08:44] #396 closed

[2016-10-05 08:44] #376 closed

[2016-10-05 08:48] jonnycoull commented on #379
hmm. this probably needs to be a separate task but with cookies could we have a pop up news letter form on mobile, and if they have been before and filled in it doesn't pop up?? as most people access web that way now.

[2016-10-05 08:59] #404 closed

[2016-10-05 09:00] #378 closed

[2016-10-05 09:00] #352 closed

[2016-10-05 09:22] illus0r commented on #379
![image](https://cloud.githubusercontent.com/assets/797993/19107729/518eb45c-8af6-11e6-8c01-69126ee14c7d.png)

![image](https://cloud.githubusercontent.com/assets/797993/19107676/0c107ff0-8af6-11e6-9992-422a05da1fa4.png)

[2016-10-05 09:25] illus0r commented on #379
@jonnycoull can you make a new task for that discussion?

[2016-10-05 09:27] #379 closed

[2016-10-05 09:52] jonnycoull opened #409 "Pop up subscription in mobile"
@illus0r using cookies (if i have that right) can we have a pop up box that you can close if you don't want it (a bit like you see for cookies permissions on websites) so mobile users can subscribe easily.

So if they have subscribed, they don't see it. if they haven't it pops up.

Is that possible.

Use design from existing site to build it, with an edition of a small close icon. (X) like we have

[2016-10-05 09:59] illus0r commented on #409
@jonnycoull `Content Update` milestone is used by editors to update content. All development work should go to other milestones. Current one is `Cleanup 2` but it's closed for adding new items, we need another one for new stuff

[2016-10-05 10:20] jonnycoull commented on #409
ok.

[2016-10-05 10:21] illus0r commented on #409
That doesn't solve the problem https://github.com/Praqma/code-conf.com/issues/379#issuecomment-251608430

Ok, I've seen the popup and closed it. Now I see this
![image](https://cloud.githubusercontent.com/assets/797993/19109551/987ae0d6-8afe-11e6-9833-04bb817c72a9.png)
What should I do? How to make it popup again?

[2016-10-05 10:55] illus0r commented on #157
@jonnycoull Where can I find images?

[2016-10-05 11:13] illus0r commented on #157
![image](https://cloud.githubusercontent.com/assets/797993/19110964/aede1314-8b05-11e6-9dae-87cd8078e62b.png)

- [ ] Get images from Bok
- [ ] Style header
- [ ] Style paragraphs

[2016-10-05 11:16] adamhenriques opened #410 "update location"

[2016-10-05 11:30] #410 closed

[2016-10-05 11:44] adamhenriques commented on #403
@illus0r @Andrey9kin  as a temperarely solution i have embedded a clickable link for the venue as I had a couple a people asking where the conference was

[2016-10-05 12:21] jonnycoull commented on #409
You lost me I'm afraid @illus0r
![screen shot 2016-10-05 at 13 20 57](https://cloud.githubusercontent.com/assets/17589853/19112767/9a1a46c0-8afe-11e6-9ebc-c6c2a2ed903f.png)
 I'm referring to this box. to make it available.

[2016-10-05 12:22] jonnycoull commented on #409
then the copy goes in as normal as the normal site has it.

[2016-10-05 12:56] jonnycoull commented on #157
ill have to fish them out from the mock, square you need correct?

[2016-10-07 11:20] adamhenriques opened #411 "add keynote"

[2016-10-07 12:44] #411 closed

[2016-10-12 08:59] jonnycoull commented on #409
@illus0r what size of task would this be?

[2016-10-12 17:27] lakruzz opened #412 "ticket sale for CoDe STHLM needs repair"
Missing the button on the event page:

![image](https://cloud.githubusercontent.com/assets/155492/19320541/fcbbdfba-90b1-11e6-8f95-13e0b29280e1.png)

[2016-10-12 17:36] #412 closed

[2016-10-18 14:05] illus0r commented on #403
@jonnycoull it's easier to make map always shown. We can make it togglable later. What do you think?

[2016-10-18 14:08] jonnycoull commented on #403
I'm happy with that solution @illus0r

[2016-10-18 14:50] illus0r commented on #409
I got your thinking.
But I won't be able to launch this popup intentionally, right?

[2016-10-18 14:59] illus0r commented on #157
@jonnycoull yep, squares are perfect

[2016-10-18 15:17] illus0r commented on #409
- [ ] cookies notification
- [ ] show mailing form on chrome

[2016-10-18 15:49] jonnycoull commented on #380
@lakruzz @monaslarsen do we have all colour images of some of these guys?

[2016-10-18 15:50] jonnycoull commented on #342
@illus0r duplicate of #400 close?

[2016-10-18 15:51] #342 closed

[2016-10-18 15:53] illus0r commented on #321
@lakruzz, please reopen this if you need this :-)

[2016-10-18 15:53] #321 closed

[2016-10-18 15:54] jonnycoull commented on #316
@monaslarsen can you explain this in more detail?

[2016-10-18 15:58] jonnycoull commented on #158
@illus0r will supply new mock up as discussed.

[2016-10-18 15:59] jonnycoull commented on #157
@illus0r this is on me for new images.

[2016-10-18 16:02] jonnycoull commented on #146
@illus0r will create a new banner image for this page.

[2016-10-18 16:09] jonnycoull opened #413 "Colour match site"
To match colours to the original document.
[CODECONF_COLOURS.pdf](https://github.com/Praqma/code-conf.com/files/536786/CODECONF_COLOURS.pdf)

[2016-10-18 16:10] jonnycoull commented on #413
Also tweak icons where needed. images have been uploaded to git

![screen shot 2016-10-18 at 17 10 13](https://cloud.githubusercontent.com/assets/17589853/19486267/bedf7dde-9555-11e6-87f6-4bfe8343c00a.png)

[2016-10-18 16:49] illus0r commented on #413
@jonnycoull this link to similar task didn't appear :-(

[2016-10-18 16:52] illus0r commented on #380
@jonnycoull I guess it's easier to make b/w version :D

[2016-10-19 08:35] meekrosoft commented on #361
We are back on  - 12th December!

[2016-10-19 08:40] #361 closed

[2016-10-20 11:03] illus0r commented on #158
@jonnycoull
Looking forward to see it. The issue is frozen until i get it

[2016-10-20 11:04] illus0r commented on #157
@jonnycoull
What images to use?

[2016-10-20 11:08] illus0r commented on #146
@jonnycoull
What banner to put on page? We have now at least three issues, awaiting for your input. If you wont be able to supply all these images today, we'd better replace some of these tasks to tasks from other milestone. Otherwise I'll fail the milestone :-)

[2016-10-20 11:27] jonnycoull commented on #158
![screen shot 2016-10-20 at 12 26 33](https://cloud.githubusercontent.com/assets/17589853/19558100/7ec502ac-96c0-11e6-9238-a52f8fa08582.png)

uploading SVG now @illus0r

[2016-10-20 11:38] jonnycoull commented on #158
@illus0r in icons.

[2016-10-20 11:42] jonnycoull commented on #157
Uploading now.

![conferance](https://cloud.githubusercontent.com/assets/17589853/19558473/a543608e-96c2-11e6-878d-e2853741a419.jpg)
![hack](https://cloud.githubusercontent.com/assets/17589853/19558474/a5467936-96c2-11e6-8998-e33a527c8288.jpg)
![meeting](https://cloud.githubusercontent.com/assets/17589853/19558475/a546a514-96c2-11e6-85f8-8b8d803eec25.jpg)
![train](https://cloud.githubusercontent.c

[2016-10-20 11:44] jonnycoull commented on #146
Sorry @illus0r there all uploaded now. apologies for delay. still working on this one.

[2016-10-20 12:03] illus0r commented on #402
It turned out the newsletter were hidden on my chrome by adblock. They updated it's base, I guess. So I've fixed it by renaming the class from `newsletter-wrapper` to `newslerrer`

[2016-10-20 12:22] #402 closed

[2016-10-20 12:25] illus0r commented on #158
@jonnycoull  What's the subject of email if I click `contact-us`?

[2016-10-20 12:46] illus0r commented on #403
@jonnycoull @lakruzz does it make sense to make another collection: `_plases` to reuse this address info?

[2016-10-20 12:57] illus0r commented on #403
And @jonnycoull thanks for using real data on the mockup. It helps me to make the right map without questions.

[2016-10-20 13:15] jonnycoull commented on #158
There must be a info@praqma? Ask Adam

On Thursday, 20 October 2016, illus0r <notifications@github.com> wrote:

[2016-10-20 13:49] jonnycoull commented on #146
Hi @illus0r here u go. so image at top of pages....

![pagemock press](https://cloud.githubusercontent.com/assets/17589853/19562488/6f6e61f4-96d4-11e6-932e-ca4f8cee64aa.jpg)

[2016-10-20 13:51] jonnycoull commented on #146
Whoops should have cropped that. SO top one is the main bit with list of events, the second is what you see once clicked. So the top name changes to the event name. From PRESS KIT to CODE ACADEMY 2016.

uploading image now,

[2016-10-20 15:01] illus0r commented on #403
![image](https://cloud.githubusercontent.com/assets/797993/19565304/0ec7f4a8-96ef-11e6-8ce3-3533332ccce7.png)

![image](https://cloud.githubusercontent.com/assets/797993/19565350/2ca3392e-96ef-11e6-8a27-c6b4ceb08c30.png)

[2016-10-20 15:11] jonnycoull commented on #403
Lovely stuff. would it be a pain to get that small black triangle on mobile
too?

On Thu, Oct 20, 2016 at 4:01 PM, illus0r <notifications@github.com> wrote:

[2016-10-20 16:01] illus0r commented on #403
Hey, @jonnycoull! Is that `done`?

[2016-10-20 16:01] illus0r commented on #403
@jonnycoull ahh, sorry didn't see your comment

[2016-10-20 16:05] illus0r commented on #403
@jonnycoull
![image](https://cloud.githubusercontent.com/assets/797993/19567884/1df74d4e-96f8-11e6-9fde-4a396cf4fd0a.png)

[2016-10-20 16:05] illus0r commented on #403
@jonnycoull Is that done now?

[2016-10-20 16:14] illus0r commented on #403
@jonnycoull please, reopen this task if you need some improvents

[2016-10-20 16:15] #403 closed

[2016-10-21 09:08] Andrey9kin opened #414 "Wrong location for CoDe conf in Stockholm!"
Location says Meeting room but map and the rest points to Hilton Slussen. Please fix ASAP!

[2016-10-21 09:33] #414 closed

[2016-10-21 10:43] monaslarsen commented on #316
Hey @ivan and @jonnycoull
Right now an event like: http://www.code-conf.com/code-sthlm-2016/
has headlines in the dark and the description text is put on white strips.
That looks cool for shorter information, but for longer text paragraphs, the MarCom team has talked about something more reading friendly, like a box that is all white.

[2016-10-21 10:54] illus0r commented on #158
@jonnycoull
I'm talking about the mail subject. Like *Hi, CoDe-Conf guys!*

It'll take place of bold text on the screenshot
![image](https://cloud.githubusercontent.com/assets/797993/19596056/67ed08d8-9795-11e6-96d4-62d5799d4923.png)

I'll use the default email `info@praqma.com`. @adamhenriques, any objections?

[2016-10-21 11:00] illus0r commented on #413
@jonnycoull how to find the similar task form wrong `praqma.com` repository?

[2016-10-21 11:00] illus0r commented on #413
Task interferes with #316

[2016-10-21 11:33] jonnycoull commented on #316
@illus0r is working to fix a colour issue with those particular bits.  The layout was never meant for long paragraphs.  short and sweet. bullet points.
![screen shot 2016-10-21 at 12 33 13](https://cloud.githubusercontent.com/assets/17589853/19597135/a1e3956c-978a-11e6-8cf6-1171e340e8b6.png)

[2016-10-21 11:36] jonnycoull commented on #158
Yep default is fine. I think, I just didn't have the actual address before. @adamhenriques all ok?

[2016-10-21 11:38] jonnycoull commented on #413
Hi @illus0r its #390 the similar task in praqma, its closed.

prio here is fixing colours, not copy that doesnt exist yet. on 316.

[2016-10-21 11:39] monaslarsen commented on #316
Great :)

[2016-10-21 11:40] jonnycoull commented on #316
@illus0r dont take that photo literally I don't want that page to be grey I'm just illustrating the white icons

[2016-10-21 12:10] illus0r commented on #146
@jonnycoull current display differs from mockups. I didn't set left margin of heading, because I used standard control. We can fix it, but this fix should be applied to whole site. That's doable, but requires more time.

Please, reopen this task if you need.

![image](https://cloud.githubusercontent.com/assets/797993/19597878/01a7a208-97a0-11e6-8797-c61ac73bf121.png)

![image](https://cloud.github

[2016-10-21 12:26] illus0r commented on #146
CI is hanging, so you won't see the changes

[2016-10-21 12:33] #146 closed

[2016-10-21 12:47] Andrey9kin opened #415 "Second keynote speaker photo isn't shown properly"
<img width="1019" alt="screen shot 2016-10-21 at 14 41 22" src="https://cloud.githubusercontent.com/assets/1671664/19598780/fe553e1a-979c-11e6-8754-99fdfc535cca.png">

I'm about to add the second speaker to the CoDe conf in Stockholm, but for some reason, his photo displayed in an oval. Is it how it is supposed to be?

[2016-10-21 14:28] #157 closed

[2016-10-25 08:47] lakruzz opened #416 "We need a different cover photo for CoDe Stockholm"
![image](https://cloud.githubusercontent.com/assets/155492/19678984/519ac2ec-9aa0-11e6-87e0-5e335875246d.png)

...this one is not really selling tickets.

[2016-10-25 08:48] lakruzz commented on #416
@monaslarsen @jonnycoull

Don't know who can own this, but I think it's really important

[2016-10-25 08:49] lakruzz opened #417 "Font size isn't good"
IN our header:
![image](https://cloud.githubusercontent.com/assets/155492/19679054/9ac1ff26-9aa0-11e6-9950-101cad827541.png)

The font size for call for papers, speakers, past events etc:
![image](https://cloud.githubusercontent.com/assets/155492/19679072/b18f8822-9aa0-11e6-99a9-2fe7e116c857.png)

Is far too small

[2016-10-25 08:50] lakruzz commented on #417
@jonnycoull

[2016-10-25 08:55] jonnycoull commented on #413
HI @illus0r hows progress on this, as CODE-STOCKHOLMS page ( the next selling event) is still wrong colours for exe the CO in CODE is black. needs to be orange. amongst other things.

[2016-10-25 09:02] jonnycoull commented on #380
@lakruzz I think it lies in your source imagery. NOTE. @monaslarsen @adamhenriques we NEED colour images of our speakers. ASAP. do you have them? if not i will make black and white.

[2016-10-25 11:20] monaslarsen opened #418 "Change photo for code sthlm"

[2016-10-25 14:20] #418 closed

[2016-10-25 15:38] jonnycoull commented on #416
it looks like its been changed to a empty meeting room by someone? which i've tracked down to this website.

http://meetingroom.se/nyheter/

is this where its held? do you have permission to use this?
Can I say the bigger you guys get the more likely you are too be sued for pinching pics as there easy to find. @monaslarsen @lakruzz

![meetingroom_2016](https://cloud.githubusercontent.com/assets/17

[2016-10-25 15:43] jonnycoull commented on #416
I cant seem to access that image library Kruse photos, to select an alternative.

[2016-10-25 16:04] jonnycoull commented on #417
![screen shot 2016-10-25 at 17 03 02](https://cloud.githubusercontent.com/assets/17589853/19693839/f22d8ff8-9ad4-11e6-9436-0bc7c1d664a9.png)

@illus0r could you adjust the tracking (space between letters) to increase legibility please. size by a small amount.

[2016-10-25 16:05] jonnycoull commented on #158
Hey is this All done @illus0r can we close???? whats left to do?

[2016-10-25 18:15] monaslarsen commented on #416
Yes, I was thinking exactly the same!
I don't know who picked the current one, but I'll choose a more vibrant one
and get it online asap.

[image: ____________________________________________________________]
Mona Skorstengaard Larsen
Marketing Manager
mona@praqma.com
+45 40 21 95 04 <+45%2040%2021%2095%2004>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+45367727

[2016-10-25 18:22] jonnycoull commented on #403
Thanks Ivan

On Thursday, 20 October 2016, illus0r <notifications@github.com> wrote:

[2016-10-25 18:29] jonnycoull commented on #415
Possible that his image wasn't supplied as a square (the code makes it a
circle)

On Friday, 21 October 2016, Andrey Devyatkin <notifications@github.com>
wrote:

[2016-10-25 18:45] monaslarsen commented on #416
Yes, as stated on the conference site, it's the venue.
Before I put it online, I wrote to ask their management, that I have talked
to earlier, to say that I hoped it was okay that we borrow the picture to
showcase their great venue.
They didn't get back to me today, so I decided to give it a go, since the
former image was straight up sad, and once you've selected an image that we
have the copyrigh

[2016-10-26 00:32] illus0r commented on #417
@jonnycoull How should I change the font-size?

[2016-10-26 07:37] Andrey9kin commented on #415
@adamhenriques

[2016-10-26 07:38] Andrey9kin commented on #415
@jonnycoull do you have a possibility to adjust the photo? It is already committed on master. I tried to crop it but it doesn't seem to help

[2016-10-26 09:48] adamhenriques opened #419 "Test"

[2016-10-26 10:05] #419 closed

[2016-10-26 13:21] adamhenriques opened #420 "- m remove per A"

[2016-10-26 13:31] #420 closed

[2016-10-26 13:34] adamhenriques opened #421 "add hannes keynote"

[2016-10-26 13:43] #421 closed

[2016-10-26 14:07] adamhenriques opened #422 "update url"

[2016-10-26 14:09] #422 closed

[2016-10-26 15:38] bicschneider opened #423 "lego.com link is failing for unknown reason/solution"
16:36:17 URL        `https://www.lego.com'
16:36:17 Name`www.lego.com'
16:36:17 Parent URL http://www.code-conf.com/speakers-all/, line 854, col 259
16:36:17 Real URL   https://www.lego.com
16:36:17 Check time 0.184 seconds
16:36:17 Result     Error: SSLError: [Errno 1] _ssl.c:510: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure

http://stackoverflow.com/questions/

[2016-10-26 15:38] bicschneider commented on #423
@adamhenriques : Can you update the ignore list, but leave the issue open?

[2016-10-26 16:45] jonnycoull commented on #417
@illus0r you work in pixels right? look at my mock up scales should be similar to that

[2016-10-27 06:18] adamhenriques opened #424 "add emily"

[2016-10-27 13:07] meekrosoft opened #426 "Update agenda for code academy oslo"

[2016-10-27 13:08] #426 closed

[2016-10-27 13:10] meekrosoft opened #428 "Change Oslo academy to 4 days"

[2016-10-27 13:12] #428 closed

[2016-10-27 13:53] #424 closed

[2016-10-28 05:17] meekrosoft opened #431 "Page for code alliance"

[2016-10-28 05:37] #431 closed

[2016-10-28 10:57] jonnycoull commented on #413
@illus0r Hi mate, you need to fix this now, months have gone by and colours are STILL all over the place. see here OSLO is a pale purple, why??? This is the last time I'll ask on this matter. go through this chart and fix the site accordingly. today.

![screen shot 2016-10-28 at 11 55 17](https://cloud.githubusercontent.com/assets/17589853/19804347/abd99cc6-9d05-11e6-88b4-d8b51dd0c3e8.png)
[CODECO

[2016-10-29 12:20] illus0r commented on #413
@jonnycoull sorry, I wasn't online yesterday and didn't see you message. I'll fix it now. I'm starting with colors

[2016-10-29 12:21] illus0r commented on #413
https://github.com/Praqma/praqma.com/issues/390

[2016-10-29 13:52] illus0r commented on #413
@jonnycoull I didn't find the `code-osl` event on the site. I guess, you want to rename [this one](http://code-conf.com/academy2016/osl/), am I right?

[2016-10-29 14:05] illus0r commented on #413
Ah, missed this info

@jonnycoull So I'll repaint all events, mentioned in PDF guidelines and fix colors only. They will look like

![image](https://cloud.githubusercontent.com/assets/797993/19830139/ccb74e26-9df9-11e6-9301-5072dd526ae3.png)

[2016-10-29 14:07] jonnycoull commented on #413
Yes but the CO and DE need to be orange too

On Saturday, 29 October 2016, illus0r <notifications@github.com> wrote:

[2016-10-29 14:12] illus0r commented on #413
@jonnycoull not a porblem, I'll fix. But they are black on PDF

And sorry for spoiling your weekend. I understand, that catching up on weekend is not normal. But I really want to fix problems I made for you.

![image](https://cloud.githubusercontent.com/assets/797993/19830174/9240a9e4-9dfa-11e6-84a0-f43e6c66c677.png)

[2016-10-29 14:14] illus0r commented on #413
@jonnycoull That's how they look in orange, let me know if you want to undo

[2016-10-29 14:15] jonnycoull commented on #413
Hi Ivan, in orange looking good.

On Saturday, 29 October 2016, illus0r <notifications@github.com> wrote:

[2016-10-29 14:27] illus0r commented on #413
@jonnycoull repainted the rest, is it ok?

![image](https://cloud.githubusercontent.com/assets/797993/19830258/8264cecc-9dfc-11e6-8ce8-de5aa525ab52.png)

![image](https://cloud.githubusercontent.com/assets/797993/19830260/95948d2a-9dfc-11e6-861f-898cc89363f2.png)

![image](https://cloud.githubusercontent.com/assets/797993/19830267/bc2e65fa-9dfc-11e6-9d48-840a5409cd31.png)

[2016-10-29 14:29] jonnycoull commented on #413
Thanks @illus0r for fixing much appreciated. especially since its the weekend.

[2016-10-29 14:51] illus0r commented on #413
@jonnycoull Thanks, man. I should notify you a week before that I wont do it in time. Shame on me 😁

I've pushed changes. I'll have to go soon, I'll be back late and want to continue the work. Would be nice to brief the tasks.

As I got, we'll close this task after that is complete:

- On [CODE-STHLM](https://github.com/Praqma/praqma.com/issues/390)
 - [ ] CO- to orange.
 - [ ] BLACK ICONS TO WHIT

[2016-10-29 18:24] jonnycoull commented on #413
I'm away from my main machine to check, but this looks right. Also good to
check through all locations and events to make sure correct colours are
used through the whole site. Where colours are darker, as per previous
examples the icons need changing to their white versions so more legible.
Also I noticed that the location icon has been used in the extras it should
be a circle with two arrows. It

[2016-10-31 14:59] adamhenriques opened #432 "add docker blog"

[2016-10-31 18:03] illus0r commented on #413
@jonnycoull, done-done?
![image](https://cloud.githubusercontent.com/assets/797993/19865472/6eff63c6-9fad-11e6-8087-036bd1222aa7.png)

[2016-10-31 18:17] illus0r commented on #413
@timea
placed the commit, but it's not integrated. http://code.praqma.net/ci/ doesn't load.

[2016-10-31 18:45] illus0r commented on #158
@timea delivered, the commit hangs like the previous one

[2016-10-31 18:56] jonnycoull commented on #413
hi @illus0r almost, or you can make this a new issue but it is related. that "location" icon needs switching out for this one.
![extrasicon](https://cloud.githubusercontent.com/assets/17589853/19867429/af299f14-9f9b-11e6-89cc-18f771a0e024.png)
![extrasiconwhite](https://cloud.githubusercontent.com/assets/17589853/19867431/af429ec4-9f9b-11e6-9138-47acbeaca530.png)

[2016-10-31 18:57] jonnycoull opened #433 "Fix extas icon"
Currently shows location icon in extras on events. needs to be extras icon.

![6eff63c6-9fad-11e6-8087-036bd1222aa7](https://cloud.githubusercontent.com/assets/17589853/19867452/ce6a99d2-9f9b-11e6-9980-7e7c23092277.png)
![extrasicon](https://cloud.githubusercontent.com/assets/17589853/19867457/d10d7b46-9f9b-11e6-8f62-79d1031d4f13.png)
![extrasiconwhite](https://cloud.githubusercontent.com/assets/1

[2016-10-31 18:58] jonnycoull commented on #413
so colours done, issue 433 holds icon fault.

[2016-10-31 18:59] jonnycoull commented on #413
actually just looked. CO in stockholm is still black. needs to be orange @illus0r

![screen shot 2016-10-31 at 18 58 46](https://cloud.githubusercontent.com/assets/17589853/19867548/25b3585a-9f9c-11e6-9022-1098254fbd70.png)

[2016-10-31 19:01] illus0r commented on #413
@jonnycoull have a look at https://github.com/Praqma/code-conf.com/issues/413#issuecomment-257375480, the commit doesn't integrate :(

[2016-10-31 19:02] illus0r commented on #433
@jonnycoull but you've provided two icons, which to use?

[2016-10-31 19:07] jonnycoull commented on #158
@illus0r not sure what that means, @timea how can we fix to close this milestone. asap please.

[2016-10-31 19:08] jonnycoull commented on #413
So how can we make it work? @illus0r

[2016-10-31 19:13] jonnycoull commented on #433
HI @illus0r the white icon  on on dark colours like the purple (as is on the current)  on the rest black as they are to match.

[2016-11-01 08:11] illus0r commented on #417
![image](https://cloud.githubusercontent.com/assets/797993/19883185/e243fccc-a023-11e6-944e-ccf8d5b1e741.png)
@jonnycoull is it ok?

[2016-11-01 08:22] jonnycoull commented on #417
That looks better to me

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 08:50] illus0r commented on #400
@jonnycoull  this mockup uses nonstandard fonts. I'll switch to this one, ping me if you object

![image](https://cloud.githubusercontent.com/assets/797993/19884145/56d75cfa-a029-11e6-97e3-e304853de849.png)

[2016-11-01 08:58] illus0r commented on #400
@jonnycoull I'm going to right align time. So I'll fix this:
![image](https://cloud.githubusercontent.com/assets/797993/19884323/586b576e-a02a-11e6-826d-202710aa4a85.png)

[2016-11-01 09:03] illus0r commented on #400
@jonnycoull and remove the date, cause it duplicates existing info (from date-location section)

[2016-11-01 09:08] illus0r commented on #400
@jonnycoull
Is that another mention of the same date? Or what value to use?
![image](https://cloud.githubusercontent.com/assets/797993/19884620/9fa7e632-a02b-11e6-818a-25a974481575.png)

[2016-11-01 09:13] jonnycoull commented on #400
Hi, ah ignore my code font, use the one we agreed on previously for the
site. And yes times to 24hr clock so 08:00 for exe so all same style.

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 09:35] illus0r commented on #400
@jonnycoull
Removed the `?` form the header because we know the answer.
And to be in time I should simplify the header. I can save time reusing existing `decorated-picture` include. It'll look this way.
![image](https://cloud.githubusercontent.com/assets/797993/19885445/a98013d8-a02f-11e6-8a57-40023bf4f633.png)

[2016-11-01 10:32] illus0r commented on #400
@jonnycoull is this ok?

![image](https://cloud.githubusercontent.com/assets/797993/19887047/4b8ea6c4-a037-11e6-99e1-9bf004bc411a.png)
![image](https://cloud.githubusercontent.com/assets/797993/19887066/6dbde03e-a037-11e6-96b8-df525107f630.png)

[2016-11-01 10:39] illus0r commented on #400
Previous image consists of two, so the margin above LUNCH looks smaller

[2016-11-01 10:40] #417 closed

[2016-11-01 10:41] #400 closed

[2016-11-01 10:44] illus0r commented on #413
@jonnycoull I poked Mads, Timea and Lars. Have no idea whom to poke next.

[2016-11-01 10:45] jonnycoull commented on #400
Why does it say past?

Looks like it's getting there

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 10:46] jonnycoull commented on #413
Well I know Lars is very busy this week, try do do what you can

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 10:48] illus0r commented on #400
@jonnycoull It says past on past events only. What's the reason of removing it?

[2016-11-01 10:49] jonnycoull commented on #400
Because the past big should be at the top where it says Stockholm etc not
by the agenda.

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 12:55] #158 closed

[2016-11-01 13:14] illus0r commented on #158
@jonnycoull you can 🔫 the milestone

[2016-11-01 13:19] illus0r commented on #400
@jonnycoull make sense. I'll make a separate task for that, but it's smaller than small. Just not to reopen this one

[2016-11-01 13:20] illus0r opened #434 "Remove (PAST) label from agenda"
![image](https://cloud.githubusercontent.com/assets/797993/19890997/0c135752-a04f-11e6-8d87-b6c8707179c2.png)

[2016-11-01 14:35] #434 closed

[2016-11-01 14:36] illus0r commented on #434
@jonnycoull you can 🔫 the milestone. Would you?

[2016-11-01 14:40] illus0r commented on #342
@jonnycoull milestone 🔫

[2016-11-01 14:42] illus0r commented on #379
@jonnycoull milestone 🔫

[2016-11-01 14:53] #413 closed

[2016-11-01 15:27] illus0r commented on #433
- [ ] update pics on every similar pullout
- [ ] update colors of rest pullout all over the site

[2016-11-02 12:05] illus0r commented on #433
Used white headers somewhere
![image](https://cloud.githubusercontent.com/assets/797993/19928027/b8e31418-a10d-11e6-86be-3e622b18f442.png)

[2016-11-02 12:34] illus0r commented on #433
Note for myself:

- [ ] http://localhost:3000/doc-cph-2016/
- [ ] http://localhost:3000/academy2016/osl/
- [ ] http://localhost:3000/events-past/

[2016-11-02 16:53] lakruzz opened #435 "Add code alliance meetup"
@illus0r I'm really swamped in work and I could need a hand with the new meetup for the Code Alliance I'm announcing on Dec 5t

I've made a draft, but only got to work on it for a couple of mins - I'm busy at a customer, but this is becoming urgent.

Thef markdown is [here](https://github.com/Praqma/code-conf.com/blob/435-Add-code-alliance-meetup/_events/code-alliance-5th.md) on a branch called `4

[2016-11-02 18:58] illus0r commented on #435
@lakruzz gotcha! I'll have a closer look tomorrow morning. I've `checkout`ed, but I see no event, strange. I'll investigate tomorrow

[2016-11-02 21:20] jonnycoull commented on #435
@adamhenriques let me know what u need, ill jump on it tomorrow.

[2016-11-03 11:11] illus0r commented on #435
I didn't see this page because of `--inclremental` option in `jekyll build`. Now I do.

[2016-11-03 11:16] adamhenriques commented on #435
@illus0r will you confirm that youre on this one? and if you need anything else to move forward

[2016-11-03 11:18] illus0r commented on #435
@adamhenriques I'm on it. Fixed the label. I've just started, reading the eventbrite now. Thanks, I'll be back if I need some help.

[2016-11-03 11:18] adamhenriques commented on #435
@illus0r great thanks!

[2016-11-03 11:26] illus0r commented on #435
@jonnycoull this page is a copy of another one, we need some graphics. When you'll be ready to help with?

Now page looks like (please, ignore repeating newsletter form)

![image](https://cloud.githubusercontent.com/assets/797993/19964081/c372c310-a1d0-11e6-8363-0e423380177d.png)

[2016-11-03 12:08] illus0r commented on #435
@lakruzz @adamhenriques @jonnycoull
Updated description, date, time, location, agenda, link to eventbrite.
@lakruzz and @jonnycoull, Who could supply images?

![image](https://cloud.githubusercontent.com/assets/797993/19965251/32638aba-a1d7-11e6-8a66-d7552d5baa64.png)

[2016-11-03 12:48] illus0r commented on #433
@jonnycoull this task is awaiting for your feedback. Should I redesign other items this way?

[2016-11-03 13:34] adamhenriques opened #436 "add speaker"

[2016-11-03 14:27] jonnycoull commented on #433
@illus0r this looks good. what other items are you referring too?

[2016-11-04 10:39] illus0r commented on #433
@jonnycoull these ones

![image](https://cloud.githubusercontent.com/assets/797993/20002841/1a680518-a294-11e6-8c48-dcd952b1d514.png)

![image](https://cloud.githubusercontent.com/assets/797993/20002850/23060350-a294-11e6-9429-34e95727903f.png)

[2016-11-04 10:44] #436 closed

[2016-11-04 10:45] #433 closed

[2016-11-06 09:44] #435 closed

[2016-11-07 14:41] adamhenriques opened #437 "add abstract"

[2016-11-07 14:45] #437 closed

[2016-11-07 16:36] Andrey9kin opened #438 "CoDe conf STHLM on front page as the highlighted event instead of CoDe Academy"
@adamhenriques is it something you can take care of?

[2016-11-07 17:04] adamhenriques commented on #438
@illus0r will you work your magic here, thanks!

[2016-11-07 18:15] martinmosegaard opened #439 "Fix typo on code-alliance-5th"

[2016-11-07 18:22] #439 closed

[2016-11-08 07:38] adamhenriques opened #440 "add mjolner"

[2016-11-08 09:16] Andrey9kin opened #441 "Use white boxes instead of white stripes for CoDe STHLM"
<img width="959" alt="screen shot 2016-11-08 at 10 11 43" src="https://cloud.githubusercontent.com/assets/1671664/20093206/1b7662f0-a59c-11e6-8b62-c1f63570c3c5.png">

Would it be possible to use a solid white box as a background for the text on the snapshot instead of the white stripe? Currently is it hard to read due to bright purple background

http://www.code-conf.com/code-sthlm-2016/

[2016-11-10 10:02] illus0r commented on #441
+1
@jonnycoull what's your point?

[2016-11-11 10:32] jonnycoull commented on #441
@illus0r as nobody can write short copy we'll have to change the layout. the design was only ever meant for a shot piece of blurb, not long paragraphs. @illus0r adjust to copy in boxes similar to other parts of the site to solve this.

[2016-11-11 11:15] illus0r commented on #441
@jonnycoull didn't get you. Do you mean to remove gaps between white line boxes on whole site?

[2016-11-11 11:25] jonnycoull commented on #441
Just have the copy in a normal white box @illus0r as per this rough  mock ( yes i know its the wrong  font, use the one that on the site) and make it the sae everywhere its used.

<img width="1009" alt="screen shot 2016-11-11 at 11 19 34" src="https://cloud.githubusercontent.com/assets/17589853/20213637/86bc888e-a801-11e6-9868-b323c8bfb0ef.png">

[2016-11-11 13:27] Andrey9kin commented on #441
@illus0r @jonnycoull yes, this is exactly what I meant

[2016-11-14 10:05] #416 closed

[2016-11-14 10:08] illus0r commented on #415
![image](https://cloud.githubusercontent.com/assets/797993/20260578/5e038ef8-aa6b-11e6-8a4d-564b5ae8f637.png)

It's fixed

[2016-11-14 10:08] #415 closed

[2016-11-14 10:09] jonnycoull commented on #406
@illus0r @lakruzz this i in the wrong repository. will move.

[2016-11-14 10:11] jonnycoull commented on #316
@monaslarsen @illus0r a rebate of another issue that is being looked at now.

[2016-11-14 10:11] #316 closed

[2016-11-14 11:38] illus0r commented on #438
@adamhenriques
It's an easy change, I'll explain how to do it in future.
Events on the main page are sorted by weight. So first one is the event with minimum weight.

![image](https://cloud.githubusercontent.com/assets/797993/20263451/c71e6442-aa77-11e6-9a4a-76a8aab52acd.png)

Default weight of the event is 9999999, so, if the weight is not set, the item, probably, will sink to the bottom.

[2016-11-14 11:49] illus0r commented on #438
@lakruzz @timea the CI is down, so I keep pushing changes directly to `gh-pages`.

[2016-11-14 11:51] #438 closed

[2016-11-14 12:22] illus0r commented on #441
@jonnycoull will that work? I tried to make paragraph margins smaller, but didn't find an easy way to do it.
![image](https://cloud.githubusercontent.com/assets/797993/20264613/83685928-aa7d-11e6-93a8-681b40f30729.png)

![image](https://cloud.githubusercontent.com/assets/797993/20264647/b23d49ca-aa7d-11e6-870d-4af2b17637dc.png)

[2016-11-14 12:39] Andrey9kin commented on #438
@illus0r thanks!

[2016-11-14 12:40] jonnycoull commented on #441
Is there no way to lessen the gaps between copy?

On Mon, Nov 14, 2016 at 12:22 PM, illus0r <notifications@github.com> wrote:

[2016-11-14 12:44] illus0r commented on #441
It's possible to do easily by merging paragraphs into a single paragraph. So they have a regular leading indent between

![image](https://cloud.githubusercontent.com/assets/797993/20265250/00344af4-aa81-11e6-8407-0a0cb525eb58.png)

But these margins will stay huge

![image](https://cloud.githubusercontent.com/assets/797993/20265276/38b551ac-aa81-11e6-9f1b-8cda45abd55f.png)

[2016-11-14 13:08] jonnycoull commented on #441
That's ok.

On Monday, 14 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-14 13:22] monaslarsen opened #442 "Change link for "Let's be friends""
Correct link is
https://www.facebook.com/codeconferences/

[2016-11-14 13:22] monaslarsen commented on #442
<img width="387" alt="screen shot 2016-11-14 at 14 21 23" src="https://cloud.githubusercontent.com/assets/13627068/20266288/c9440d6e-aa75-11e6-9254-a599ddf91617.png">

[2016-11-14 19:56] martinmosegaard opened #443 "Fix continuous typo on about page"

[2016-11-15 10:17] illus0r commented on #442
@monaslarsen is it clear how to fix it? Let me know if you need some tips

[2016-11-15 10:18] illus0r commented on #406
@lakruzz why do you want to keep it opened?

[2016-11-15 10:23] monaslarsen commented on #442
Thanks @illusor, I should actually be able to do it myself, just hoped you
had time to do it, but I'll do it today myself :)

[image: ____________________________________________________________]
Mona Skorstengaard Larsen
Marketing Manager
mona@praqma.com
+45 40 21 95 04 <+45%2040%2021%2095%2004>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://w

[2016-11-15 10:42] #441 closed

[2016-11-15 10:44] illus0r commented on #441
Fixed the rest and pushed

[2016-11-16 22:45] #406 closed

[2016-11-21 08:00] #432 closed

[2016-11-21 10:55] #443 closed

[2016-11-21 10:55] #440 closed

[2016-11-21 11:17] jonnycoull commented on #409
@illus0r BIG, split into smaller issues.

[2016-11-21 11:22] jonnycoull commented on #387
@jonnycoull to make mocks, split into weekly tasks.

[2016-11-21 11:26] jonnycoull commented on #380
@have images, updating today. @illus0r  to emil speakers images location

[2016-11-21 11:27] illus0r commented on #380
@jonnycoull they are kept under `/images/speakers/`

[2016-11-21 11:28] jonnycoull commented on #343
@monaslarsen @adamhenriques too vague. more info please.

[2016-11-21 11:35] jonnycoull commented on #322
@illus0r to speak to @adamhenriques to get more info on issue to migrate content.

[2016-11-21 13:03] jonnycoull commented on #380
@illus0r @lakruzz ready to close but Andrey Devyatkin image still seems to be black n white even after I've changed it. any ideas?

[2016-11-21 13:21] illus0r commented on #380
@jonnycoull no worries, it's all good.
![image](https://cloud.githubusercontent.com/assets/797993/20484011/37771a66-b006-11e6-81ad-20a0dab01dd2.png)

But some of your images are huuuuge 🐘
and not square.
![image](https://cloud.githubusercontent.com/assets/797993/20484064/758f6fb0-b006-11e6-9a54-32eba7fe2733.png)
225x225 is enough

[2016-11-21 13:57] jonnycoull commented on #380
size should be fixed now.

[2016-11-21 13:57] #380 closed

[2016-11-21 14:05] illus0r commented on #394
@jonnycoull set should have prio, feel free to change

[2016-11-21 14:41] #442 closed

[2016-11-21 16:04] monaslarsen opened #444 "Add missing text to frontpage"
The venue-name (Meeting Room) has gone missing from the frontpage.
The link is still there and active, just invisible.

[2016-11-21 16:05] monaslarsen commented on #444
<img width="579" alt="venue is missing from code-conf" src="https://cloud.githubusercontent.com/assets/13627068/20489954/aa147ff4-b00c-11e6-932c-3e02c5babb90.png">

[2016-11-23 10:08] adamhenriques opened #445 "Guiliume"

[2016-11-23 10:20] #445 closed

[2016-11-23 10:36] #444 closed

[2016-11-23 15:32] illus0r commented on #394
![untitled](https://cloud.githubusercontent.com/assets/797993/20567782/1a31c9a0-b1ab-11e6-9652-40e23313c884.gif)

[2016-11-23 15:39] jonnycoull commented on #394
@illus0r looks cool!

[2016-11-23 15:40] illus0r commented on #394
closed by 814c01b14dd69d91ff7da290f7b64d20e1ef5333

[2016-11-23 15:40] #394 closed

[2016-11-23 15:45] illus0r commented on #394
@jonnycoull thanks, man. And it works even on windows :)

[2016-11-23 16:10] jonnycoull commented on #394
@illus0r you da man!

[2016-11-24 08:00] monaslarsen opened #446 "Get Code STHLM agenda online"

[2016-11-24 08:11] #423 closed

[2016-11-24 08:38] adamhenriques opened #447 "add agenda"

[2016-11-24 09:12] #447 closed

[2016-11-24 09:13] adamhenriques opened #448 "update speaker"

[2016-11-24 09:28] #448 closed

[2016-11-24 09:54] adamhenriques opened #449 "update agenda"

[2016-11-24 09:56] #449 closed

[2016-11-24 09:59] #446 closed

[2016-11-25 07:31] adamhenriques opened #450 "add abstract"

[2016-11-25 08:35] #450 closed

[2016-11-25 12:31] adamhenriques opened #451 "update speaker"

[2016-11-25 14:24] illus0r commented on #409
@jonnycoull here's breakdown:

- [ ] draw a design for popup
- [ ] show it 2 (?) sec after loading
- [ ] write to cookies, when I load it
- [ ] don't open, if we did it before (this year)
- [ ] style it by the mockup

[2016-11-25 15:05] illus0r commented on #409
@jonnycoull will that work?
![image](https://cloud.githubusercontent.com/assets/797993/20628796/2a25361e-b339-11e6-9303-2399b5f941ae.png)

And there's one more thing :-) If someone comes to our site he's not interested in newsletter right after first page loading. We want him to spend some time on the site before we ask about subscription. So it's good to show this form on third-fifth page loading

[2016-11-25 15:27] jonnycoull commented on #409
Sounds like a plan! All eventualities covered

On Fri, 25 Nov 2016 at 15:06, illus0r <notifications@github.com> wrote:

[2016-11-28 08:57] #451 closed

[2016-11-28 09:58] adamhenriques opened #452 "Update Giume"

[2016-11-28 10:03] #452 closed

[2016-11-28 11:07] jonnycoull commented on #322
@illus0r further investigation needed.

[2016-11-28 11:17] jonnycoull commented on #409
![2a25361e-b339-11e6-9303-2399b5f941ae](https://cloud.githubusercontent.com/assets/17589853/20666462/321bc8fe-b55c-11e6-9f9f-8f324eb51d0f.png)

[2016-11-28 11:18] illus0r commented on #409
![image](https://cloud.githubusercontent.com/assets/797993/20666518/985a1d46-b575-11e6-9416-d1bb749b2df4.png)

[2016-11-28 11:19] jonnycoull commented on #409
@illus0r to implement mock up.

[2016-11-28 11:22] jonnycoull commented on #387
Mock ups by wednesday.

[2016-11-28 11:23] jonnycoull commented on #343
@monaslarsen can we have a hangout on this please??

[2016-11-28 11:24] illus0r commented on #285
@lakruzz  still need something to do?

[2016-11-28 11:25] jonnycoull commented on #285
Can @illus0r solve this issue?

[2016-11-28 11:51] lakruzz commented on #285
No this is not for @illus0r It's on the backlog - it's not even prioritized

[2016-11-28 19:48] illus0r commented on #322
Hi, @adamhenriques!
As I got you're talking [about this page](http://archive.code-conf.com/cph15/).
Can it be a good idea just to bring old content to a newer website?

[2016-11-28 19:49] illus0r commented on #322
@adamhenriques If so, where can I grab the right content for that?

[2016-11-29 08:04] meekrosoft opened #453 "Fix display bug hiding eventbrite checkout"

[2016-11-29 08:06] meekrosoft commented on #453
<img width="1039" alt="screen shot 2016-11-29 at 09 02 53" src="https://cloud.githubusercontent.com/assets/145429/20701386/06957c54-b613-11e6-9e56-eea73ff2efd3.png">

[2016-11-29 08:24] adamhenriques commented on #453
Mike,

We had the problem earlier;

...The solution is to adjust the height - trial'n'error until it fits using
the hight property:

{% include eventbrite-ticket-form.html
eventbriteid=page.checkout.eventbriteid
css_classes="black toprip botrip"
header="Enroll"
height="310"%}

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 2

[2016-11-29 08:33] meekrosoft commented on #453
Cheers @adamhenriques  - I found it.  Just waiting on Jenkins, but I guess that is down again?

[2016-11-29 08:44] adamhenriques commented on #453
Yes, apperently a dockerhost is down.

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com/code-sthlm-2016/>

On Tue, Nov 29, 2016 at 9:33 AM, Mike Long

[2016-11-29 10:24] adamhenriques commented on #322
@illus0r What newer website do you have in mind? In terms of content, im not sure where its gone. Assume that some got lost when trying to copy the templates from one year to the next.

[2016-11-29 10:52] illus0r commented on #322
We had a chat with @adamhenriques
We agreed to move the info from past conferences to http://www.code-conf.com/events-past/ page. But there's a problem: some content is lost and we need to retrieve it.

Get content
---
- [ ] http://www.praqma.com/events/jciusrcph13  Jenkins User Event 2013
- [ ] http://www.jcicph.dk/  Jenkins User Event 2014
- [ ] http://www.code-conf.com/jues15/  Jenkins User Eve

[2016-11-29 11:19] illus0r commented on #322
@adamhenriques
Which links from this list contain miss info? Could you uncheck these ones? ⬆️

![image](https://cloud.githubusercontent.com/assets/797993/20707947/ce8d4d92-b63e-11e6-9579-64a8d30286ac.png)

[2016-11-29 11:24] illus0r commented on #322
@lakruzz where can I find the content of first two links?

[2016-11-30 15:41] #453 closed

[2016-12-02 08:26] martinmosegaard opened #455 "Fix want typo on alliance page"

[2016-12-02 08:29] #455 closed

[2016-12-02 09:25] jonnycoull commented on #387
![1](https://cloud.githubusercontent.com/assets/17589853/20828834/3621ddb8-b871-11e6-8bd8-14a9221e3e70.png)

[2016-12-02 09:50] jonnycoull commented on #387
Meeting items. @illus0r make issues.
• beer to big mac index.
• DATE&TIME issue ( calander / reminder and social media links)
• MAPS, Venue location, Sponsors delivery location, accommodation and transport info.
• Additional info, emails. temp, time, big mac index.

[2016-12-02 09:52] illus0r commented on #387
* make the widget `date-location` to be different on different pages. Show `additional info` only if needed

[2016-12-05 12:31] jonnycoull commented on #409
@illus0r can we close this??

[2016-12-06 11:35] illus0r commented on #409
@jonnycoull Nope, it's in the progress.

[2016-12-07 09:56] monaslarsen opened #456 "Talk to Ivan about adding UI for post conf blog post on code-conf.com events"
Let's code an option to easily insert the link to post conf blog posts

[2016-12-07 10:55] illus0r commented on #456
@monaslarsen
Hi, Mona! We may plan a hangout for tomorrow

[2016-12-07 12:13] monaslarsen commented on #456
Hey @illus0r, the next two days we have a CoDe Camp, so I'll not be available.
Maybe a day in the middle of next week?

[2016-12-08 13:32] illus0r commented on #456
@monaslarsen I'm fine with Wednesday, 14:00. Feel free to create a hangout. Or should I do it?

[2016-12-09 11:05] illus0r commented on #409
- [ ] use js on mobile only
- [ ] replace `window.history.length` with cookies solution
- [ ] remake the cross button
- [ ] remove abolition font bottom margins

[2016-12-12 09:13] jonnycoull commented on #387
• after other map jobs complete work on this. @illus0r

[2016-12-12 11:04] JasmineCrozier opened #457 "Make four titles to be clickable"
![screen shot 2016-12-12 at 11 41 02 am](https://cloud.githubusercontent.com/assets/24294535/21096395/0820a178-c060-11e6-9175-bddd2d3e6feb.png)

I would like these three links to be clickable: Conferences, Meet-ups, Hackathons towards the relevant code-conf pages.

However, "Training" could be linked to http://www.praqma.com/training/ (tbc)

[2016-12-12 11:11] JasmineCrozier opened #458 "Add a "Suggest a speaker" page"
I would like to suggest a page "Suggest a speaker" where people could mention to us a speaker that they found amazing at another conference, or that they know of and would like to hear at our events.

We could either have both "Call for papers" and "Suggest a speaker" or have only a "suggest a speaker" page, where people are invited to both recommend someone else or introduce their own profile and

[2016-12-12 12:07] jonnycoull commented on #387
@illus0r if u run out of issues split this up.

[2016-12-12 12:38] JasmineCrozier opened #459 "Fix URL problem with G+ Praqma channel"
The Google+ logo linking to the Praqma channel does not work on Safari.
Got the following message: "The requested URL was not found on this server. That’s all we know."

However, it works on Google chrome.

[2016-12-12 12:52] illus0r opened #460 "Additional info: add bottom sections"
Subissue of #387

![image](https://cloud.githubusercontent.com/assets/797993/21100053/f8ce6020-c082-11e6-95cd-9f153a43e5c2.png)

[2016-12-12 12:54] illus0r opened #461 "Additional info: date"
Subtask of #387
![image](https://cloud.githubusercontent.com/assets/797993/21100090/30240c50-c083-11e6-8c0e-79649df8eafe.png)

[2016-12-12 12:55] illus0r opened #462 "Additional info: time"
Subtask of #387

![image](https://cloud.githubusercontent.com/assets/797993/21100115/5769613e-c083-11e6-8b5c-6c099beab99c.png)

[2016-12-12 12:56] illus0r opened #463 "Additional info: place"
Subtask of #387

![image](https://cloud.githubusercontent.com/assets/797993/21100138/79e240dc-c083-11e6-9470-a3a2fc2bb5f9.png)

[2016-12-12 13:00] illus0r opened #464 "Additional info: more"
Subtask of #387

![image](https://cloud.githubusercontent.com/assets/797993/21100189/c1a6dcac-c083-11e6-906d-65320e7bfadc.png)

[2016-12-12 13:02] illus0r commented on #464
Hey, @jonnycoull! What “useful contacts” to use?
To what event should it be applied?
How we'll get the temperature?

[2016-12-12 13:03] illus0r commented on #460
Hey, @jonnycoull! Where can I grab images? What text to use? To what events this sections should be appended?

[2016-12-12 13:10] JasmineCrozier opened #465 "Add content about past events"
We could add a short summary of the post-conference blogpost followed by a link to the blogpost on praqma.com (to generate traffic to praqma.com)

To show what our events look like, and convince the visitors to come to future events, it could be good to add a sort of photo stream / small diaporama.

[2016-12-12 13:46] illus0r commented on #322
Hi, @JasmineCrozier! I saw you today while I spoke to Lars. Nice to meet you! 🎉

Can you help me with this issue? We need to migrate content from previous website to code-conf.com. So our sponsors get amazed by a great list of past events.

[The links to events on outdated website are here](https://github.com/Praqma/code-conf.com/issues/322#issuecomment-263538820).

Can you help me with this? If s

[2016-12-12 14:01] #409 closed

[2016-12-12 14:17] illus0r opened #466 "Mobile newsletter form is damaged on small screens"
![screenshot_2016-12-12-17-12-37](https://cloud.githubusercontent.com/assets/797993/21102348/df05c2ee-c08e-11e6-9e05-af4e080bac9c.png)

[2016-12-12 14:18] illus0r commented on #466
@jonnycoull can I put it in 50 week to fix asap?

[2016-12-12 14:27] JasmineCrozier commented on #322
Hi @illus0r !
Yes I am happy to help. Let's talk on Slack to see how I can help.

[2016-12-12 14:28] illus0r commented on #466
@jonnycoull Sorry for disturbing, closed in 5 mins

[2016-12-12 14:30] illus0r commented on #466
https://github.com/Praqma/code-conf.com/commit/e55d1647730a234b7e744a2559035326bc2eb720

[2016-12-12 14:30] #466 closed

[2016-12-12 14:36] jonnycoull commented on #457
Should be easy, @illus0r make so on rollover headline white with underline, maybe we can swap image also?

[2016-12-12 14:43] jonnycoull commented on #458
@JasmineCrozier to save creating another subsection or renaming parts, could we place it elsewhere like in call for papers, exe Know a great Speaker? send us name, link etc  blah blah. Or possibly a small page for feedback in general. and you could shout out specifics on social media. Speakers, venu improvements, better swag etc.

[2016-12-12 15:20] illus0r commented on #457
Doable!

[2016-12-12 16:01] jonnycoull commented on #457
@illus0r Thinking white, with icon for each. or different shots. will have to dig through archive, carry on with other issues

[2016-12-13 10:48] JasmineCrozier opened #467 "Delete the SPEAKERS page"
I think that we can delete the Speakers page, because it is currently empty, and all the speakers are already visible in each of the past events.

![screen shot 2016-12-13 at 11 44 33 am](https://cloud.githubusercontent.com/assets/24294535/21137421/bb760d84-c129-11e6-9f93-52bb90a32ad5.png)

![screen shot 2016-12-13 at 11 46 23 am](https://cloud.githubusercontent.com/assets/24294535/21137440/d44f1e

[2016-12-13 13:18] carmosin commented on #458
I like the specific "Suggest a speaker" and/or "Call for papers" form(s).  If there's such a feature, I see how the social media-interaction could be automated with a time trigger, and answers directly parsed to some kind of backlog.

It could be like a general feedback form with a droplist specifying the use of the form.

[2016-12-13 13:36] JasmineCrozier commented on #458
Hi @carmosin ! Thanks for the feedback.
However, we are wondering who you are ?

[2016-12-13 15:28] illus0r commented on #467
@JasmineCrozier I believe that's a bug. This page is to present speakers of all events.

[2016-12-13 15:59] carmosin commented on #458
Oi sorry, I'm Jenny Björneberg.  I will start working at Praqma in Stockholm 19/12 :)

[2016-12-13 16:46] #457 closed

[2016-12-13 16:48] illus0r commented on #457
@jonnycoull if was complicated to wrap images in links, so I didn't do it by now. I can make an include for that, but I decided to ask for your advice. Do we need this?

[2016-12-14 12:27] jonnycoull commented on #322
@illus0r @JasmineCrozier did you come to any solutions?

[2016-12-14 12:30] jonnycoull opened #468 "Blog Page / content for Code COnf"
In conversation with @lakruzz that CODE CONF could do with a 24/7 content approach, finding and posting vids and good content that would be interesting from the web / producing your own. And with @JasmineCrozier at the helm, is it a good time to do so?

Shall we blast ideas on here? what could go on it etc? would certainly help the social media aspect of code conf if not all our articles are sales

[2016-12-14 12:43] illus0r commented on #322
@jonnycoull we've got a chat yesterday. Jasmine will help me to migrate the content 🎉 If any problems, she'll aks Mona, Adam or me for help.

[2016-12-15 14:44] monaslarsen commented on #456
Hey Ivan :)

Please call for the meeting, then we are sure it gets done :D

[image: ____________________________________________________________]
Mona Skorstengaard Larsen
Marketing Manager
mona@praqma.com
+45 40 21 95 04 <+45%2040%2021%2095%2004>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>

<http://goog_2011728532>

<http://goog_2011728532>
<http:/

[2016-12-15 15:13] lakruzz commented on #322
@illus0r

NO!

This issue is neither workable nor estimated. And it's a size 0 - so it will never be - I'll hammer out some workable issues in relation to this - @JasmineCrozier will be working on something else.

I'm deferring this to the backlog

[2016-12-15 15:34] lakruzz opened #469 "Put Atlassian Accelerator Day online"
Use the Conference template.

- [x] Introduce Jasmine
- [ ] Copy one of the existing conferences
- [ ] Make sure you have the tuple `published: false` in your front matter while you work
- [ ] Setup Eventbrite for the event
- [ ] Please take notes on what is unclear - the work process needs to be improved - your feedback is important

[2016-12-15 15:37] lakruzz commented on #469
First Level Header

Making Scrambled Eggs: A Primer
===============================
Second Level Header

1.1: Preparation
----------------
Paragraphs

Add two new lines to start a new paragraph. Crack two eggs into the bowl and whisk.
Bold

**Carefully** crack the eggs.
Emphasis

Whisk the eggs *vigorously*.
Lists

Ingredients:

- Eggs
- Oil
- *Optional:* milk
Links

To download a PDF version of t

[2016-12-15 16:57] JasmineCrozier commented on #469
from your home directory (`~`) in terminal you go:

[code]
from here you open a duplicate terminal (`CTRL+T`)

From where you start the serve - like this:

[code]

[2016-12-15 17:47] lakruzz commented on #302
To summarize:

[2016-12-15 17:58] lakruzz opened #470 "Speaker bios should be in separate files"
Currently the speaker abstracts are in the actual front matter [example](https://raw.githubusercontent.com/Praqma/code-conf.com/gh-pages/_events/code-sthlm-2016.md)

All this will have to go into separate files - just like the speaker bios and then sponsors are already in separate files.

In general we can not have body text as values to attributes - we need markdown text to be served as actual.

[2016-12-15 18:00] lakruzz commented on #470
@illus0r
This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-12-15 18:05] lakruzz opened #471 "The img: values in _sponsors collection should be explicit"
In the `_sponsors` collection, the `img:` value is implicitly pointing to `/images/sponsors/<value>`

![image](https://cloud.githubusercontent.com/assets/155492/21235920/261cf9c4-c2f9-11e6-9555-82da5e613822.png)

This should be explicit (full path) like it's implemented int he `_speakers` collection

![image](https://cloud.githubusercontent.com/assets/155492/21235997/710203c6-c2f9-11e6-88e0-051800

[2016-12-15 18:06] lakruzz commented on #471
This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-12-15 18:15] lakruzz opened #472 "Content to includes should be in MarkDown - not as attributes"
The following example is from the `code-sthlm-2016.md` in the `_events` collection

![image](https://cloud.githubusercontent.com/assets/155492/21236210/62b3a0ee-c2fa-11e6-9d5e-b6b2b57057aa.png)

The content should not be a parameter to the include - I would like to se something more in the range of:

[code]

Point being that when we type _body-text_ it's given as true markdown in markdown files, n

[2016-12-15 18:16] lakruzz commented on #472
@illus0r

This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

[2016-12-15 18:19] lakruzz commented on #472
Here's another example from the same file:

![image](https://cloud.githubusercontent.com/assets/155492/21236414/322ad090-c2fb-11e6-8fd2-8c44c80b9535.png)

becomes:
[code]

[2016-12-15 18:22] lakruzz commented on #472
The way you use `{: .agenda-formatter}`in the same file is an good example of how elegant it _can_ be done ... good thinking @illus0r  - much more to my taste.

[2016-12-15 18:23] lakruzz commented on #472
...more `sass`- less `liquid` :+1: